// Choose permit radio button list
.permit-selector {
  float: none;
  padding: 8px 10px 9px 50px;
}

.permit-item {
  display: inline-block;
  width: 100%;
  margin-top: -5px;

  .permit-name {
    float: left;
    width: 66.66667%;

    @include media(mobile) {
      width: 100%;
    }

    .permit-weight {
      color: $grey-1;
    }
  }

  .permit-code {
    float: right;
    font-weight: bold;
    text-align: right;
    width: 33.33333%;

    @include media(mobile) {
      text-align: left;
      width: 100%;
    }
  }
}
