<main id="content" tabindex="-1" role="main">

  {{> common/betaBanner }}

  {{> common/backLink }}

  <div class="grid-row">
    <div class="column-two-thirds">

      {{> common/errorSummary }}

      {{> common/pageHeading pageHeading }}

      <div class="body-text">
        <details role="group" class="form-hint-details">
          <summary role="button" aria-controls="details-content-0" aria-expanded="false">
            <span id="water-use-summary" class="summary">More information about water use</span>
          </summary>
          <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
            <div class="">
              Water use for site operations can include but is not limited to:
            </div>
            <ul class="list list-bullet">
              <li>dust suppression, odour control systems and water to wash down bays or equipment</li>
              <li>fire prevention measures including the storage and use of water to extinguish fires</li>
              <li>use of water as part of your manufacturing processes, cooling systems or steam generation</li>
              <li>use of water to aid waste treatment activities</li>
            </ul>
          </div>
        </details>
      </div>

      <form id="form" method="POST" action="{{formAction}}" novalidate="novalidate">
        {{> common/csrfToken token=DefraCsrfToken}}
        <div class="form-group {{#getFormErrorGroupClass errors.water-source}}{{/getFormErrorGroupClass}}">

          <fieldset>

            <legend id="water-source-visually-hidden" class="visually-hidden">{{pageHeading}}</legend>

            {{> common/fieldError fieldId='water-source-error' message=errors.water-source }}

            <div class="multiple-choice">
              <input id="water-not-required" name="water-source" type="radio" value="water-not-required" {{#if formValues.water-not-required}}checked="checked"{{/if}}>
              <label id="water-not-required-label" for="water-not-required">
                Water is not required
              </label>
            </div>

            <div class="multiple-choice">
              <input id="mains-water" name="water-source" type="radio" value="mains-water" {{#if formValues.mains-water}}checked="checked"{{/if}}>
              <label id="mains-water-label" for="mains-water">
                Mains water
              </label>
            </div>

            <div class="multiple-choice">
              <input id="surface-or-ground" name="water-source" type="radio" value="surface-or-ground" {{#if formValues.surface-or-ground}}checked="checked"{{/if}}>
              <label id="surface-or-ground-label" for="surface-or-ground">
                Surface water or groundwater abstraction
              </label>
            </div>

          </fieldset>
        </div>

        {{> common/submitButton }}
      </form>

    </div>
  </div>
</main>
