<main id="content" tabindex="-1" role="main">

  {{> common/betaBanner }}

  {{> common/backLink }}

  <div id="upload-file-panel" class="grid-row">
    <div class="column-two-thirds">

      {{> common/errorSummary }}

      {{> common/pageHeading pageHeading }}

      {{#if annotations.length}}

      {{> upload/annotations }}

      {{else}}

        <div id="has-no-annotations" class="form-group">
          <div id="hazardous-waste-treatment-description">
            <p>
              If you treat hazardous waste at your site, you must write a summary that explains the treatment
              processes for each activity.
            </p>
            <p>
              Tell us how your processes follow the guidance in Section 2.1.4 of
              <a href="https://www.gov.uk/government/publications/sector-guidance-note-s506-recovery-and-disposal-of-hazardous-and-non-hazardous-waste"
                 target="_blank"
                 rel="noopener noreferrer">SGN S5.06 (opens new tab)</a>
              for each type of waste.
            </p>

          </div>
        </div>

      {{/if}}

      {{> upload/uploadForm }}
    </div>
  </div>

</main>
