<main id="content" tabindex="-1" role="main">

    {{> common/betaBanner }}

    <div class="grid-row">
        <div class="column-two-thirds">

          {{> common/pageHeading pageHeading }}

          <h2 class="heading-medium">Layout plans</h2>

          <p>
            Draw your plan to a size and scale that’s easy to read and include these features:
          </p>

          <ul class="list-bullet">
            <li>
              <span class="bold">site location</span> &mdash; add and label local details like named roads, watercourses and buildings
            </li>
            <li>
              <span class="bold">site infrastructure</span> &mdash; identify and label main plant items, including storage tanks, bays, silos,
              reception areas, sumps, bunds, firewalls, interceptors, penstock valves, wash out areas, buildings and
              covered areas, kerbing and hardstanding, grass and vegetation, graves, etc. and provide this
              additional information:
              <ul class="list-bullet">
                <li>storage capacities</li>
                <li>types of waste that can be stored</li>
                <li>emission points to air, ground, water and sewers</li>
              </ul>
            </li>
            <li>
              <span class="bold">scale</span> &mdash; to help locate items easily
            </li>
            <li>
              <span class="bold">key</span> &mdash; to help identify the infrastructure shown on the plan
            </li>
            <li>
              <span class="bold">colour code</span> &mdash; to help highlight different areas of the site
            </li>
            <li>
              <span class="bold">installation boundary</span> &mdash; of the facility
            </li>
            <li>
              <span class="bold">other boundaries</span> &mdash; of any waste operations on the site
            </li>
          </ul>

          <h2 class="heading-medium">Process flow diagrams</h2>

          <p>You need to provide a process flow diagram for each:</p>
          <ul class="list-bullet">
            <li><span class="bold">plant</span> in the layout plan</li>
            <li><span class="bold">treatment activity</span> you’re applying for</li>
          </ul>
          <p>
            Diagrams need to be clear and easy to read, using labels, symbols and colours in a consistent way to
            represent the plant and its processes.
          </p>
          <p>
            Always include a key to explain the symbols and colours used in the diagram.
          </p>
          <p>
            Your diagrams must show:
          </p>
          <ul class="list-bullet">
            <li><span class="bold">inputs</span> &mdash; to each treatment plant, including raw materials, wastes and energy</li>
            <li><span class="bold">distinct stages</span> &mdash; of the treatment processes</li>
            <li><span class="bold">outputs</span> &mdash; including emissions and residual wastes</li>
            <li><span class="bold">flow direction</span> &mdash; of the treatment process</li>
            <li><span class="bold">other details</span> &mdash; such as bypasses, control loops, recirculation lines and connections with other plants</li>
            <li><span class="bold">operational values</span> &mdash; such as minimum, normal and maximum flow, temperature and pressure, etc.</li>
          </ul>
        </div>
    </div>
</main>
