<main id="content" tabindex="-1" role="main">

  {{> common/betaBanner }}

  {{> common/backLink }}

  <div id="upload-file-panel" class="grid-row">
    <div class="column-two-thirds">

      {{> common/errorSummary }}

      {{> common/pageHeading pageHeading }}

      <p>Upload these files</p>

      <ul class="list list-bullet">
        <li>the completed modelling report.</li>
        <li>the modelling input files.</li>
        <li>a completed copy of the specified generator screening tool or the
          Environment Agency’s H1 software risk assessment tool</li>
      </ul>

      <p>See the guidance on <a id="guidance-link" href="https://www.gov.uk/guidance/specified-generators-dispersion-modelling-assessment" target="_blank" rel="noopener noreferrer">how to do detailed air dispersion modelling for emissions from specified generators (opens new tab)</a> and the information you must include in your report.</p>

      {{#if annotations.length}}

      {{> upload/annotations }}

      {{/if}}

      {{> upload/uploadForm }}
    </div>
  </div>

</main>
