<main id="content" tabindex="-1" role="main">

  {{> common/betaBanner }}

  {{> common/backLink }}

  <div id="upload-file-panel" class="grid-row">
    <div class="column-two-thirds">

      {{> common/errorSummary }}

      {{> common/pageHeading pageHeading }}

      <p>
        For BAT that you’re proposing to follow, you must explain how you’re going to either:
      </p>

      <ul class="list list-bullet">
        <li>follow the BAT conclusions and meet the BAT-associated emissions level (for BAT that are contained in BAT conclusions)</li>
        <li>follow the best available technique reference (BREF) note and the technical guidance for activities that don’t have BAT conclusions</li>
      </ul>

      <p>
        For any BAT you’re not going to follow, you must propose an alternative technique.
      </p>

      <p>
        <a id="guidence-link" href="https://www.gov.uk/guidance/best-available-techniques-environmental-permits" target="_blank" rel="noopener noreferrer">Best available techniques: environmental permits guidance (opens new tab)</a>
      </p>

      {{#if annotations.length}}

      {{> upload/annotations }}

      {{/if}}

      {{> upload/uploadForm }}
    </div>
  </div>

</main>
