<main id="content" tabindex="-1" role="main">

  {{> common/betaBanner }}

  {{> common/backLink }}

  <div id="upload-file-panel" class="grid-row">
    <div class="column-two-thirds">

      {{> common/errorSummary }}

      {{> common/pageHeading pageHeading }}

      <p>Upload a report which shows how your MCP meets <a id="guidance-link" href="https://www.gov.uk/guidance/energy-efficiency-standards-for-industrial-plants-to-get-environmental-permits#additional-requirements-for-new-and-substantially-refurbished-combustion-plants" target="_blank" rel="noopener noreferrer">energy efficiency standards for industrial plants</a>.</p>
      <p>Your report should show how your MCP meets the requirements of Schedule 24 of the Environmental Permitting Regulations which implement the relevant requirements of the Energy Efficiency Directive (2012/27/EU).</p>
      <p>If you believe that Schedule 24 does not apply to your case, you should upload a document explaining your reasons.</p>

      {{#if annotations.length}}

      {{> upload/annotations }}

      {{/if}}

      {{> upload/uploadForm }}
    </div>
  </div>

</main>
