<main id="content" tabindex="-1" role="main">

  {{> common/betaBanner }}

  {{> common/backLink }}

  <div id="upload-file-panel" class="grid-row">
    <div class="column-two-thirds">

      {{> common/errorSummary }}

      {{> common/pageHeading pageHeading }}

      <p>Upload a completed copy of the <a href="https://www.gov.uk/government/publications/specified-generator-tranche-b-screening-tool" target="_blank" rel="noopener noreferrer">specified generator screening tool (opens new tab)</a> to demonstrate that you do not have to do air dispersion modelling.</p>
      <p>If you used the Environment Agency's H1 software risk assessment tool or an alternative tool you should upload that tool or its report instead. You should also include an explanation that justifies why the alternative tool is suitable.</p>

      {{#if annotations.length}}

      {{> upload/annotations }}

      {{/if}}

      {{> upload/uploadForm }}
    </div>
  </div>

</main>
