<main id="content" tabindex="-1" role="main">

  {{> common/betaBanner }}

  <div class="grid-row">
    <div id="accessibility-statement-page" class="column-two-thirds">

      {{> common/pageHeading pageHeading }}

      <h2 class="heading-medium">Layout plans</h2>

      <p>Draw your plan to a size and scale that’s easy to read and include these features:</p>

      <ul class="list list-bullet">
        <li><strong>site location</strong> – add and label local details like named roads, watercourses and buildings</li>
        <li><strong>site infrastructure</strong> – identify and label main plant items, and provide this additional information:</li>
        <ul class="list-bullet">
          <li>storage capacities</li>
          <li>types of waste that can be stored</li>
          <li>emission points to air, ground, water and sewers</li>
        </ul>
        <li><strong>scale</strong> – to help locate items easily</li>
        <li><strong>key</strong> – to help identify the infrastructure shown on the plan</li>
        <li><strong>colour code</strong> – to help highlight different areas of the site</li>
        <li><strong>installation boundary</strong> – of the facility </li>
        <li><strong>other boundaries</strong> – of any waste operations on the site</li>
      </ul>

      <h2 class="heading-medium">Process flow diagrams</h2>

      <p>You need to provide a process flow diagram for each:</p>

      <ul class="list list-bullet">
        <li><strong>plant</strong> in the layout plan</li>
        <li><strong>treatment activity</strong> you’re applying for</li>
      </ul>

      <p>Diagrams need to be clear and easy to read, using labels, symbols and colours in a consistent way to represent the plant and its processes.</p>

      <p>Always include a key to explain the symbols and colours used in the diagram.</p>

      <p>Your diagrams must show:</p>

      <ul class="list list-bullet">
        <li><strong>inputs</strong> – to each treatment plant, including raw materials, wastes and energy</li>
        <li><strong>distinct stages</strong> – of the treatment processes</li>
        <li><strong>outputs</strong> – including emissions and residual wastes</li>
        <li><strong>flow direction</strong> – of the treatment process</li>
        <li><strong>other details</strong> – such as bypasses, control loops, recirculation lines and connections with other plants</li>
        <li><strong>operational values</strong> – such as minimum, normal and maximum flow, temperature and pressure, etc.</li>
      </ul>

    </div>
  </div>
</main>
