<main id="content" tabindex="-1" role="main">

  {{> common/betaBanner }}

  {{> common/backLink }}

  <div id="upload-file-panel" class="grid-row">
    <div class="column-two-thirds">

      {{> common/errorSummary }}

      {{> common/pageHeading pageHeading }}

      {{#if annotations.length}}

      {{> upload/annotations }}

      {{else}}

      <div id="has-no-annotations" class="form-group">
        <div id="odour-management-plan-description">
          <p>
            Your odour management plan must explain how you will
            prevent or minimise odour, if your site causes odour
            pollution, or if you carry out certain activities.
          </p>
          <p>
          <a
            href="https://www.gov.uk/guidance/control-and-monitor-emissions-for-your-environmental-permit#odour-management-plan"
            target="_blank"
            rel="noopener noreferrer"
            >Read summarised guidance (opens new tab)</a>
          on odour management plans, including a list of relevant
          activities.
          </p>
          <p>
          <a
            href="https://www.gov.uk/government/publications/environmental-permitting-h4-odour-management"
            target="_blank"
            rel="noopener noreferrer"
            >Download detailed guidance (opens new tab)</a>
          on how to manage odours and write a plan.
          </p>

        </div>
      </div>

      {{/if}}

      {{> upload/uploadForm }}
    </div>
  </div>

</main>
