<main id="content" tabindex="-1" role="main">

  {{> common/betaBanner }}

  {{> common/backLink }}

  <div class="grid-row">
    <div class="column-two-thirds">

      {{#if triageData.selectedOptionalAssessments}}
      <h1 id="page-heading" class="heading-large">Apply for a bespoke permit</h1>

      {{#each triageData.selectedOptionalAssessments.items}}
        {{#unless this.canApplyOnline}}
          <p>{{this.text}}</p>
        {{/unless}}
      {{/each}}

      <p>
        You cannot apply online yet for permits that require these types of plan. We hope to add them soon.
      </p>

      {{else if triageData.selectedActivities}}
      <h1 id="page-heading" class="heading-large">Apply for a bespoke permit</h1>

      {{#each triageData.selectedActivities.items}}
      {{#unless this.canApplyOnline}}
      <p>{{this.text}}</p>
      {{/unless}}
      {{/each}}

      <p>
        You cannot apply online yet for these types of activity. We hope to add them soon.
      </p>

      {{else if triageData.selectedFacilityTypes}}
      <h1 id="page-heading" class="heading-large">Apply for a bespoke permit for an installation, landfill, mine or water discharge</h1>
      <p>
        You cannot apply online yet for that type of facility. We hope to add them soon.
      </p>
      {{else}}
        <h1 id="page-heading" class="heading-large">Apply for a bespoke permit</h1>
        <p>
          You cannot apply online yet for that type of permit. We hope to add them soon.
        </p>
      {{/if}}

      <a id="change-selection-link" href="{{previousStepPath}}">Change your selection</a>

      <h2 id="how-to-apply" class="heading-medium">How to apply</h2>

      <div class="form-group">
        <p>
          <span id="bespoke-prefix">Download and fill in the </span>
          <a id="bespoke-link"
             href="https://www.gov.uk/guidance/waste-environmental-permits#how-to-apply-for-a-bespoke-permit">
            <span id="bespoke-text">forms to apply for a bespoke environmental permit.</span>
          </a>
        </p>
      </div>
    </div>
  </div>
</main>
