<main id="content" tabindex="-1" role="main">

  {{> common/betaBanner }}

  {{> common/backLink }}

  <div class="grid-row">
    <div class="column-two-thirds">

      {{> common/errorSummary }}

      {{> common/pageHeading pageHeading }}

      <form id="form" method="POST" action="{{formAction}}" novalidate="novalidate">
        {{> common/csrfToken token=DefraCsrfToken}}

        <h2 id="included-assessments" class="heading-medium">Included</h2>

        <div class="form-group">

          {{#with triageData}}
            {{#each includedAssessments.items}}
              <p>
                <span id="assessment-{{this.id}}-prefix">Assessment: </span>
                <a id="assessment-{{this.id}}-link"
                   href="https://www.gov.uk/government/collections/{{this.link}}">
                  <span id="assessment-{{this.id}}-link-text">{{this.text}}</span>
                </a>
              </p>
            {{/each}}
          {{/with}}

        </div>

        <fieldset>
          <legend id="legend" class="visuallyhidden">{{ pageHeading }}</legend>

           <div id="optionalAssessment" class="form-group {{#getFormErrorGroupClass errors.assessment}}{{/getFormErrorGroupClass}}">
            {{> common/fieldError fieldId='assessment-error' message=errors.assessment }}
            {{#with triageData}}
            {{#each availableOptionalAssessments.items}}
            <div class="multiple-choice">
              <input id="assessment-{{this.id}}-input" type="checkbox" name="assessment" value="{{this.id}}" {{#if this.isSelected}}checked="checked"{{/if}}>
              <label id="assessment-{{this.id}}-label" for="assessment-{{this.id}}-input">
                <span id="assessment-{{this.id}}-text">{{this.text}}</span>
              </label>
            </div>
            {{/each}}
            {{/with}}
          </div>

        </fieldset>

        <div class="form-group">
          <p><span id="helpline-text">Not sure? Call our helpline on</span> <a id="helpline-number" href="tel:+443708506506">03708 506 506.</a></p>
        </div>

        {{> common/submitButton }}

      </form>
    </div>
  </div>
</main>
