<main id="content" tabindex="-1" role="main">

    {{> common/betaBanner }}

    {{> common/backLink }}

    <div class="grid-row">
        <div class="column-two-thirds">

          {{> common/pageHeading pageHeading }}

          {{#each triageData.selectedActivities.items}}
          <p>{{this.text}}</p>
          {{/each}}

          {{#each triageData.selectedOptionalAssessments.items}}
          <p>{{this.text}}</p>
          {{/each}}

          <p>
            Saved!
          </p>
        </div>
    </div>
</main>
