<main id="content" tabindex="-1" role="main">

  {{> common/betaBanner }}

  {{> common/backLink }}

  <div class="grid-row">
    <div class="column-two-thirds">

      {{> common/errorSummary }}

      {{> common/pageHeading pageHeading }}

      <div class="panel panel-border-wide">
        <p id="permit-holder-message">
          <span>The permit holder must be the</span>
          <a id="permit-holder-requirements-link"
             href="https://www.gov.uk/guidance/legal-operator-and-competence-requirements-environmental-permits#what-a-legal-operator-is"
             target="_blank"
             rel="noopener noreferrer">
            <span>legal operator of the facility (opens new tab).</span>
          </a>
        </p>
      </div>

      <form id="form" method="POST" action="{{formAction}}" novalidate="novalidate">
        {{> common/csrfToken token=DefraCsrfToken}}

        <fieldset>
          <legend id="legend" class="visuallyhidden">{{ pageHeading }}</legend>

          <div id="permit-holder-type" class="form-group {{#getFormErrorGroupClass errors.permit-holder-type}}{{/getFormErrorGroupClass}}">
            {{> common/fieldError fieldId='permit-holder-type-error' message=errors.permit-holder-type }}
            {{#with triageData}}
            {{#each availablePermitHolderTypes.items}}
            <div class="multiple-choice">
              <input id="permit-holder-type-{{this.id}}-input" type="radio" name="permit-holder-type" value="{{this.id}}" {{#if this.isSelected}}checked="checked"{{/if}}>
              <label id="permit-holder-type-{{this.id}}-label" class="selection-button-radio" for="permit-holder-type-{{this.id}}-input">
                <span id="permit-holder-type-{{this.id}}-text">{{this.text}}</span>
              </label>
            </div>
            {{/each}}
            {{/with}}
          </div>

        </fieldset>

        <div class="form-group">
          <p><span id="helpline-text">Not sure? Call our helpline on</span> <a id="helpline-number" href="tel:+443708506506">03708 506 506.</a></p>
        </div>

        {{> common/submitButton }}

      </form>
    </div>
  </div>
</main>
