<main id="content" tabindex="-1" role="main">

  {{> common/betaBanner }}

  {{> common/backLink }}

  <div id="upload-file-panel" class="grid-row">
    <div class="column-two-thirds">

      {{> common/errorSummary }}

      {{> common/pageHeading pageHeading }}

      {{#if annotations.length}}

      {{> upload/annotations }}

      {{else}}

      <div id="has-no-annotations" class="form-group">
        <div id="noise-vibration-documents-description">
          <p>
            If your risk assessment shows that your operation could cause noise and vibration pollution, you must provide both these documents:
          </p>
          <ol id="noise-vibration-documents-document-list" class="list list-number">
            <li>noise impact assessment</li>
            <li>noise and vibration management plan</li>
          </ol>
          <p>Read the guidance on:</p>
          <ul id ="noise-vibration-documents-help-list" class="list list-bullet">
            <li>
              <a href="https://www.gov.uk/guidance/noise-impact-assessments-involving-calculations-or-modelling" target="_blank" rel="noopener noreferrer">
                noise impact assessments (opens new tab)
              </a>
            </li>
            <li>
              <a href="https://www.gov.uk/guidance/control-and-monitor-emissions-for-your-environmental-permit#noise-and-vibration-management-plan" target="_blank" rel="noopener noreferrer">
                noise and vibration management plans (opens new tab)
              </a>
            </li>
          </ul>
          <p>
            <a href="https://www.gov.uk/government/publications/environmental-permitting-h3-part-2-noise-assessment-and-control" target="_blank" rel="noopener noreferrer">
              Find a plan template (opens new tab)
            </a>
            in Appendix 4 of the additional guidance document.
          </p>
        </div>
      </div>

      {{/if}}

      {{> upload/uploadForm }}
    </div>
  </div>

</main>
