<main id="content" tabindex="-1" role="main">

  {{> common/betaBanner }}

  {{> common/backLink }}

  <div id="upload-file-panel" class="grid-row">
    <div class="column-two-thirds">

      {{> common/errorSummary }}

      {{> common/pageHeading pageHeading }}

      {{#if annotations.length}}

      {{> upload/annotations }}

      {{else}}

        <div id="has-no-annotations" class="form-group">
          <div id="non-technical-summary-description">
            <p>
              Write a summary that explains your application.
              Avoid using technical terms, detailed data or scientific discussion.
            </p>
            <p>Your summary should explain:</p>
            <ul class="list list-bullet">
              <li>who would be operating the site</li>
              <li>the location of the site or if it is a mobile plant</li>
              <li>the storage or treatment activities you propose for the site and the key stages in these activities</li>
              <li>what waste types you would accept and the total quantities for the site</li>
              <li>what technical standards the site would meet</li>
              <li>what are the sensitive receptors - human and environmental</li>
              <li>the key environmental risks and the main controls for these - as identified in your risk assessment</li>
              <li>which application documents give more details about your proposal</li>
            </ul>
          </div>
        </div>

      {{/if}}

      {{> upload/uploadForm }}
    </div>
  </div>

</main>
