<main id="content" tabindex="-1" role="main">

  {{> common/betaBanner }}

  {{> common/backLink }}

  <div class="grid-row">
    <div class="column-two-thirds">

      {{> common/errorSummary }}

      {{> common/pageHeading pageHeading }}

      <form method="POST" action="{{formAction}}" novalidate="novalidate">
        {{> common/csrfToken token=DefraCsrfToken}}

        <input id="got-email" type="hidden" name="got-email" value="false">

        <div class="form-group {{#getFormErrorGroupClass errors.save-and-return-email}}{{/getFormErrorGroupClass}}">
          <label id="save-and-return-email-label" class="visually-hidden" for="save-and-return-email" aria-describedby="email-hint">Email address to check</label>
          {{> common/fieldError fieldId='save-and-return-email-error' message=errors.save-and-return-email }}
          <input type="text" class="form-control form-control-char-35 {{#if errors.save-and-return-email}}form-control-error{{/if}}" id="save-and-return-email" name="save-and-return-email" value="{{ formValues.save-and-return-email }}" />
        </div>

        <p id="email-hint" class="form-hint">If your email address is wrong, just change it.</p>

        {{> common/submitButton }}
      </form>
    </div>
  </div>

</main>
