<main id="content" role="main">

  {{> common/betaBanner }} {{> common/backLink }}

  <div class="grid-row">
    <div class="column-two-thirds">

      {{> common/errorSummary }}

      {{> common/pageHeading pageHeading }}

      <div>
        <p>We put all applications into a public register. If you can prove that some information is commercially or
          industrially confidential, we’ll consider removing that information from the register.</p>

        <div id="confidentiality-hint" class="form-group">
          <p>Guidance about confidentiality is in the
            <a target="_blank" rel="noopener noreferrer" href="https://www.gov.uk/government/publications/environmental-permitting-guidance-core-guidance--2">
              <span>environmental permitting guidance core guidance on GOV.UK (opens new tab).</span>
            </a>
          </p>
        </div>
      </div>

      {{> declaration/declarationForm }}

    </div>
  </div>
</main>
