<main id="content" tabindex="-1" role="main">

  {{> common/betaBanner }}

  {{> common/backLink }}

  <div id="upload-file-panel" class="grid-row">
    <div class="column-two-thirds">

      {{> common/errorSummary }}

      {{> common/pageHeading pageHeading }}

      {{#if annotations.length}}

      {{> upload/annotations }}

      {{else}}

        <div id="has-no-annotations" class="form-group">
          <div id="management-system-summary-description">
            <p>
              Write a summary to explain how your management system complies with each section of the
              <a id="environmental-management-system-guidance-link"
                 href="https://www.gov.uk/guidance/develop-a-management-system-environmental-permits"
                 target="_blank"
                 rel="noopener noreferrer">guidance on developing management systems (opens new tab)</a>.
            </p>
            <p>
              You should also summarise any extra items that your system includes,
              for example, a site and equipment maintenance plan.
            </p>
            <p>
              If you are using a recognised scheme or standard you must still produce a summary
              and submit it here.
            </p>
          </div>
        </div>

      {{/if}}

      {{> upload/uploadForm }}
    </div>
  </div>

</main>
