<main id="content" tabindex="-1" role="main">

  {{> common/betaBanner }}

  {{> common/backLink }}

  <div id="upload-file-panel" class="grid-row">
    <div class="column-two-thirds">

      {{> common/errorSummary }}

      {{> common/pageHeading pageHeading }}

      {{#if annotations.length}}

      {{> upload/annotations }}

      {{else}}

      <div id="has-no-annotations" class="form-group">
        <div id="climate-change-risk-screening-description">
          <p>
            Based on your answers, you must complete an adapting to climate change risk assessment.
          </p>

            <ol class="list list-number">
              <li>
                <a href="https://flood-warning-information.service.gov.uk/long-term-flood-risk/map" target="_blank" rel="noopener noreferrer">
                  Read the guidance (opens new tab)
                </a>
                for adapting to climate change risk assessments to help you complete your assessment.</li>
              <li>Choose and complete the correct risk assessment worksheet based on your river basin district (you’ll find this in the guidance).</li>
              <li>Upload your risk assessment.</li>
            </ol>
        </div>
      </div>

      {{/if}}

      {{> upload/uploadForm }}
    </div>
  </div>

</main>
