<main id="content" tabindex="-1" role="main">

  {{> common/betaBanner }}

  {{> common/backLink }}

  <div id="upload-file-panel" class="grid-row">
    <div class="column-two-thirds">

      {{> common/errorSummary }}

      {{> common/pageHeading pageHeading }}

      {{#if annotations.length}}

      {{> upload/annotations }}

      {{else}}

      <div id="has-no-annotations" class="form-group">
        <div id="site-plan-description">
          <p>The site plan must include:</p>
          <ul class="list list-bullet">
            <li>all the land used for your operations</li>
            <li>a clear, green outline of the area you want the permit to cover</li>
            <li>local features nearby to help us locate it</li>
            <li>the date it was prepared</li>
            <li>a scale to show distances</li>
            <li>a pointer to show north</li>
          </ul>
          <p>The plan must be legible at A4 size and drawn accurately to scale. Do not use aerial photos or sketched maps.</p>
          <img src="/public/images/site-plan-map-web-v1.png" width="100%" height="auto" alt="Example site plan">
        </div>
      </div>

      {{/if}}

      {{> upload/uploadForm }}
    </div>
  </div>

</main>
