<main id="content" role="main">

  {{> common/betaBanner }}

  {{> common/backLink }}

  <div id="upload-file-panel" class="grid-row">
    <div class="column-two-thirds">

      {{> common/errorSummary }}

      {{> common/pageHeading pageHeading }}

      <div class="panel panel-border-wide" id="waste-recovery-plan-paragraph">
        <p>Make sure that any maps and diagrams are clear and that is is possible to zoom in to see the details.</p>
      </div>

      {{#if annotations.length}}
      {{> upload/annotations }}
      {{/if}}

      {{#> upload/uploadForm }}
      <div class="form-group">
        <div id="waste recovery-plan-description">
          <details role="group" class="form-hint-details">
            <summary role="button" aria-controls="details-content-0" aria-expanded="false"><span class="summary">The file is larger than 30MB</span></summary>
            <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
              <p>You could split the file into parts. For example, you could save a map or diagram in its own file. You can then upload each file separately.</p>
              <p>You could also try to make the file smaller by exporting it with different settings or by using a file compression service. If you do this, check you can still see detail in plans or images.</p>
            </div>
          </details>
        </div>
      </div>
      {{/ upload/uploadForm }}

    </div>
  </div>

</main>
