<p>
  The minimum <abbr title="Waste Management Industry Training and Advisory Board">WAMITAB</abbr> qualification they need for these standard rules is:<br>
  <strong class="bold-small"><abbr title="Waste Management Industry Training and Advisory Board">WAMITAB</abbr> Level 4 Medium Risk Operator Competence for Anaerobic Digestion (601/8515/6) (MROC5) | <abbr title="Waste Management Industry Training and Advisory Board">WAMITAB</abbr> Level 4 Certificate in Waste and Resource Management (601/2388/6) (VRQ, Unit 6b)</strong>
</p>
<p>
  If the qualification is over 2 years old they also need a continuing competence certificate.
</p>
<p>
  We’ll check their qualification on the <abbr title="Waste Management Industry Training and Advisory Board">WAMITAB</abbr> database.
</p>