<main id="content" tabindex="-1" role="main">

  {{> common/betaBanner }}

  {{> common/backLink }}

  <div id="upload-file-panel" class="grid-row">
    <div class="column-two-thirds">

      {{> common/errorSummary }}

      {{> common/pageHeading pageHeading }}

      {{#if annotations.length}}

      {{> upload/annotations }}

      {{else}}

        <div id="has-no-annotations" class="form-group">
          <div id="waste-types-list-description">

            <p>
              <a href="/public/images/waste-codes-template/waste-codes-template.csv">Download our template</a>
              and use it to create your list of codes and descriptions (do not change the CSV file type).
            </p>

            <p>You must use this format:</p>

            <table>
              <thead>
              <tr>
                <th scope="col">Code</th>
                <th scope="col">Description</th>
                <th scope="col">Activity</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <th scope="row" class="no-wrap">20 01 08</th>
                <td>biodegradable kitchen and canteen waste</td>
                <td>Household waste amenity site taking hazardous waste</td>
              </tr>
              <tr>
                <th scope="row" class="no-wrap">20 01 37*</th>
                <td>wood containing hazardous substances</td>
                <td>Household waste amenity site taking hazardous waste</td>
              </tr>
              <tr>
                <th scope="row" class="no-wrap">20 01 31*</th>
                <td>cytotoxic and cytostatic medicines</td>
                <td>Clinical waste transfer station</td>
              </tr>
              </tbody>
            </table>

            <p>Use the codes and descriptions from the List of Waste or European Waste Catalogue (EWC). You can find these in the <a href="https://www.gov.uk/government/publications/waste-classification-technical-guidance">waste classification technical guidance</a> (opens new tab).</p>

            <p>If a waste code ends in 99, you must write a full description of the waste. To restrict the type of waste you accept, add a note after the description.</p>

            <div class="form-group">
              <details role="group">
                <summary role="button" aria-controls="restrictions-content" aria-expanded="false">
                  <span id="restrictions-summary" class="summary">Examples of restrictions</span>
                </summary>
                <div class="panel panel-border-narrow" id="restrictions-content" aria-hidden="true">
                  <p>Add text after the description to:</p>
                  <ul class="list-bullet">
                    <li>restrict the quantity of the waste, for example: 16 06 01* lead batteries - no more than 500 tonnes</li>
                    <li>limit a particular waste within a code, for example: 16 01 03 - bicycle tyres only</li>
                    <li>exclude a hazardous property, for example: no corrosive waste</li>
                    <li>restrict a physical form, for example: 06 03 11* solid salts and solutions containing cyanides - no liquids</li>
                    <li>limit an attribute of the waste, for example: no odorous wastes</li>
                    <li>restrict specific substances or specific concentrations, for example: no chromium (VII) substances (greater than 1000 ppm)</li>
                    <li>describe container type or size limits, for example: no Intermediate Bulk Containers (IBCs)</li>
                  </ul>
                </div>
              </details>
            </div>

            <p>Upload your list of codes and descriptions (CSV files only).</p>

          </div>
        </div>

      {{/if}}

      {{> upload/uploadForm }}
    </div>
  </div>

</main>
