<main id="content" tabindex="-1" role="main">

  {{> common/betaBanner }} {{> common/backLink }}

  <div class="grid-row">
    <div class="column-two-thirds">

      {{> common/errorSummary }}

      {{> common/pageHeading pageHeading }}

      <div>
        <p>You must tell us about:</p>

        {{#if operatorTypeIsLimitedCompany}}
        <ul id="operator-type-is-limited-company" class="list list-bullet">
          <li>the company itself</li>
          <li>the officers of the company, for example directors or company secretaries</li>
          <li>other companies, if the officers of this company were officers of that other company when it became insolvent</li>
        </ul>
        {{/if}}

        {{#if operatorTypeIsIndividual}}
        <ul id="operator-type-is-individual" class="list list-bullet">
          <li>the individual</li>
          <li>companies for which the individual is a director, manager or company secretary</li>
        </ul>
        {{/if}}

        {{#if operatorTypeIsPartnership}}
        <ul id="operator-type-is-partnership" class="list list-bullet">
          <li>the partners</li>
          <li>any companies that became insolvent, where a partner was an officer of the company when it became insolvent</li>
        </ul>
        {{/if}}

        {{#if operatorTypeIsLimitedLiabilityPartnership}}
        <ul id="operator-type-is-limited-liability-partnership" class="list list-bullet">
          <li>the limited liability partnership itself</li>
          <li>the members of the partnership</li>
          <li>other companies, if the members of the partnership were officers of that other company when it became insolvent</li>
        </ul>
        {{/if}}

        {{#if operatorTypeIsOther}}
        <ul id="operator-type-is-other" class="list list-bullet">
          <li>the proposed permit holders</li>
          <li>the organisation or group itself</li>
          <li>any person who holds a position in the organisation or group</li>
        </ul>
        {{/if}}

        {{#if operatorTypeIsPublicBody}}
        <ul id="operator-type-is-public-body" class="list list-bullet">
          <li>the body itself</li>
          <li>any person who holds a position in the public body</li>
        </ul>
        {{/if}}
      </div>
      
      {{> declaration/declarationForm }}

    </div>
  </div>
</main>
