<main id="content" tabindex="-1" role="main">

  {{> common/betaBanner }} {{> common/backLink }}

  <div class="grid-row">
    <div class="column-two-thirds">

      {{> common/errorSummary }}

      {{> common/pageHeading pageHeading }}

      <div>
        <p>You must tell us about:</p>

        {{#if operatorTypeIsLimitedCompany}}
        <ul id="operator-type-is-limited-company" class="list list-bullet">
          <li>the company itself</li>
          <li>the officers of the company, for example directors or company secretaries</li>
          <li>other companies, if the officers of the company were officers of that other company when they were
            convicted
          </li>
        </ul>
        {{/if}}

        {{#if operatorTypeIsIndividual}}
        <ul id="operator-type-is-individual" class="list list-bullet">
          <li>the individual</li>
          <li>companies for which the individual is a director, manager or company secretary</li>
        </ul>
        {{/if}}

        {{#if operatorTypeIsPartnership}}
        <ul id="operator-type-is-partnership" class="list list-bullet">
          <li>the individual partners</li>
          <li>business partners, where the offence was committed in the course of their business</li>
        </ul>
        {{/if}}

        {{#if operatorTypeIsLimitedLiabilityPartnership}}
        <ul id="operator-type-is-limited-liability-partnership" class="list list-bullet">
          <li>the limited liability partnership itself</li>
          <li>the members of the partnership</li>
          <li>other companies, if the members of the partnership were officers of that other company when they were convicted</li>
        </ul>
        {{/if}}
      </div>

      <div id="declare-offences-hint" class="form-group">
        <p>The
          <a target="_blank" rel="noopener noreferrer" href="https://www.gov.uk/government/publications/relevant-conviction-guidance-for-permit-applications-for-waste-activities-and-installations-only">
            <span>relevant conviction guidance on GOV.UK (opens new tab)</span>
          </a>
          gives a full list of people and offences you should include.
        </p>
      </div>

      {{> declaration/declarationForm }}

    </div>
  </div>
</main>
