<main id="content" role="main">

  {{> common/betaBanner }}

  <div class="grid-row">
    <div class="column-two-thirds">

      {{> common/errorSummary }}

      <h1 id="page-heading" class="heading-large">{{pageHeading}}</h1>

      <p id="no-money-taken">No money has been taken from your account.</p>

      <p id="app-not-sent">Your application has not been sent yet. You must choose at least one payment method before your application can be sent.</p>

      <div class="card-problem-link"><a id="retry-card-link" href="{{urls.cardPayment}}">Try the card payment again</a></div>

      <div class="card-problem-link"><a id="bacs-payment-link" href="{{urls.bacsPayment}}">Pay later by bank transfer using Bacs</a></div>

      {{#if error}}
      <p class="card-payment-technical-problem" id="try-again-later">If the technical problem happens again, you could use your save link email to come back in a couple of hours and try again or pay by Bacs.</p>
      {{/if}}
    </div>
  </div>

</main>
