<main id="content" tabindex="-1" role="main">

  {{> common/betaBanner }}

  {{> common/backLink }}

  <div class="grid-row">
    <div class="column-two-thirds">

      {{> common/errorSummary }}

      <h1 id="page-heading" class="heading-large">{{pageHeading}}</h1>

      <p id="arrangement-information" class="panel panel-border-narrow">
        You must arrange the payment with your own bank. You will then need to give us the payment date and reference before you send the application.
      </p>
      <p id="email-information">We will send you an email with a copy of the payment details.</p>

      <form method="POST" action="{{formAction}}" novalidate="novalidate">
        {{> common/csrfToken token=DefraCsrfToken}}

        {{> common/submitButton text="I will pay by Bacs"}}
      </form>
    </div>
  </div>

</main>
