<main id="content" role="main">

  {{> common/betaBanner }}

  {{> common/backLink }}

  <div class="grid-row">
    <div class="column-two-thirds">

      {{> common/errorSummary }}

      <h1 id="page-heading" class="heading-large">{{pageHeading}}</h1>

      <p id="arrangement-information">The Bacs payment details are on the next screen. You will need to arrange the payment with your own bank.</p>
      <p id="email-information">We will email you a copy of the payment details.</p>

      <form method="POST" action="{{formAction}}" novalidate="novalidate">
        {{> common/csrfToken token=DefraCsrfToken}}

        {{> common/submitButton text="Send application"}}
      </form>
    </div>
  </div>

</main>
