<main id="content" tabindex="-1" role="main">

  {{> common/betaBanner }}

  <div class="grid-row">
    <div id="accessibility-statement-page" class="column-two-thirds">

      {{> common/pageHeading pageHeading }}

      <p>This accessibility statement applies to the Apply for an Environmental Permit service</p>

      <p>This website is run by the Environment Agency.</p>

      <p>We want as many people as possible to be able to use this website. For example, that means you should be able to:</p>
      <ul class="list list-bullet">
        <li>change colours, contrast levels and fonts</li>
        <li>zoom in up to 300% without the text spilling off the screen</li>
        <li>navigate most of the website using just a keyboard</li>
        <li>navigate most of the website using speech recognition software</li>
        <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
      </ul>
      <p>We have also made the website text as simple as possible to understand.</p>
      <p><a rel="noopener noreferrer" href="https://mcmw.abilitynet.org.uk/">AbilityNet</a> has advice on making your device easier to use if you have a disability.</p>

      <h3 class="heading-small">How accessible this website is</h3>
      <p>We know some parts of this website are not fully accessible:</p>
      <ul class="list list-bullet">
        <li>We link to some guidance on GOV.UK that includes PDF documents that are not fully accessible to screen reader software</li>
      </ul>

      <h3 class="heading-small">Feedback and contact information</h3>
      <p>If you need information on this website in a different format like accessible PDF, large print, easy read, audio recording or braille:</p>
      <ul class="list list-bullet">
        <li>email <a href="mailto:enquiries@environment-agency.gov.uk">enquiries@environment-agency.gov.uk</a></li>
        <li>call 03708 506 506 (Monday to Friday, 8am to 6pm)</li>
      </ul>
      <p>We will consider your request and get back to you in 10 days.</p>

      <h3 class="heading-small">Reporting accessibility problems with this website</h3>
      <p>We are always looking to improve the accessibility of this website. If you find any problems that are not listed on this page or think we are not meeting the requirements of the accessibility regulations, contact:</p>
      <ul class="list list-bullet">
        <li>email <a href="mailto:enquiries@environment-agency.gov.uk">enquiries@environment-agency.gov.uk</a></li>
        <li>call 03708 506 506 (Monday to Friday, 8am to 6pm)</li>
      </ul>
      <p>We will consider your request and get back to you in 10 days.</p>

      <h3 class="heading-small">Enforcement procedure</h3>
      <p>The Equality and Human Rights Commission (EHRC) is responsible for enforcing the accessibility regulations. If you are not happy with how we respond to your complaint, <a rel="noopener noreferrer" href="https://www.equalityadvisoryservice.com/">contact the Equality Advisory and Support Service (EASS)</a>.</p>

      <h2 class="heading-medium">Contacting us by phone or visiting us in person</h2>
      <p>We do not currently have a text relay service for people who are D/deaf, hearing impaired or have a speech impediment. You can contact us by:</p>
      <ul class="list list-bullet">
        <li>email at <a href="mailto:enquiries@environment-agency.gov.uk">enquiries@environment-agency.gov.uk</a></li>
        <li>Twitter <a rel="noopener noreferrer" href="https://www.twitter.com/envagency">twitter.com/envagency</a></li>
        <li>Facebook <a rel="noopener noreferrer" href="https://www.facebook.com/environmentagency">facebook.com/environmentagency</a></li>
      </ul>
      <p>If you visit our offices and need assistance or an interpreter you should contact us before you visit.</p>
      <p>Find out <a rel="noopener noreferrer" href="https://www.gov.uk/government/organisations/environment-agency/about/access-and-opening">how to contact us</a>.</p>

      <h2 id="technical-information-header" class="heading-medium">Technical information about this website’s accessibility</h2>
      <p id="technical-information-text">The Environment Agency is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>

      <h3 id="compliance-status-header" class="heading-small">Compliance status</h3>
      <p id="compliance-status-text">This website is fully compliant with the <a rel="noopener noreferrer" href="https://www.w3.org/TR/WCAG21/">Web Content Accessibility Guidelines version 2.1</a> AA standard.</p>

      <h2 id="preparation-header" class="heading-medium">Preparation of this accessibility statement</h2>
      <p id="preparation-status-text">This statement was prepared on 30 May 2019. It was last reviewed on 22 July 2022.</p>
      <p id="preparation-testing-text">This website was last tested on 16 December 2019. We carried out this test ourselves.</p>
      <ul class="list list-bullet">
        <li>This website was first tested on 30 November 2018. The test was carried out by Shaw Trust Accessibility Services.</li>
        <li>New pages for medium combustion plant permits were tested on 16 July 2019. We carried out this test ourselves.</li>
        <li>New pages for bespoke waste permits were tested on 16 December 2019. We carried out this test ourselves.</li>
      </ul>
      <p id="preparation-sampling-text">All pages in the service have been tested.</p>

    </div>
  </div>
</main>
