<main id="content" role="main">

  {{> common/betaBanner }}

  {{> common/backLink }}

  <div class="grid-row">
    <div class="column-two-thirds">

      {{> common/errorSummary }}

      {{> common/pageHeading pageHeading=pageHeading }}

      <form method="post" action="{{formAction}}">
        <input id="defra-csrf-token" type="hidden" name="DefraCsrfToken" value="{{DefraCsrfToken}}">
        <p>
          <span id="postcode-label" class="postcode-prefix">Postcode:</span>
          <span id="postcode-value" class="postcode">{{formValues.postcode}}</span>
          <a id="change-postcode-link" href="{{changePostcodeLink}}">
            Change<span class="visuallyhidden"> postcode</span>
        </a>
        </p>

        <fieldset>
          <legend id="manual-address" class="visuallyhidden">Site address</legend>

          <div class="form-group">
            <label id="site-address-label" class="form-label" for="site-address">Site address</label>
            <select class="address-select form-control form-control-char-auto" id="site-address" name="site-address" aria-describedby="manual_hint">
              <option value="">{{formValues.addresses.length}} addresses found</option>
              {{#each formValues.addresses}}
                <option value="{{this}}">{{this}}</option>
              {{/each}}
            </select>
          </div>

          <p id="manual-hint">
            <a id="manual-address-link" href="{{manualAddressLink}}">
            <span class="visuallyhidden">Enter address manually</span>
            I can’t find the address in the list</a>
          </p>

        </fieldset>

        <div class="form-group">
          <button id="submit-button" type="submit" class="button" name="Continue">Continue</button>
        </div>

      </form>

    </div>
  </div>

</main>
