<main id="content" tabindex="-1" role="main">

  {{> common/betaBanner }}
  {{> common/backLink }}

  <div class="grid-row">
    <div class="column-two-thirds">

      {{> common/errorSummary }}
      {{> common/pageHeading pageHeading }}

      <div class="body-text">
        {{#if isStationaryMCP}}
          <div id="air-dispersion-modelling-report-help-for-stationary-mcp">
            You should use the Environment Agency’s <a id="stationary-mcp-risk-assessment-tool-link" href="https://www.gov.uk/government/collections/risk-assessments-for-specific-activities-environmental-permits#H1-software-tool" target="_blank" rel="noopener noreferrer">H1 risk assessment tool (opens new tab)</a> to check this if:
            <ul class="list list-bullet">
              <li>the fuel is natural gas or low-sulphur diesel and there are designated European protected habitats (SAC, SPA or RAMSAR) within 5km</li>
              <li>the fuel is biogas or landfill gas and there are designated European protected habitats (SAC, SPA or RAMSAR) within 10km</li>
              <li>there are sites of special scientific interest (SSSI) within 2km</li>
            </ul>

            <p>If there are no protected habitats within these screening distances then a detailed modelling assessment is not required for ecological assessment.</p>
          </div>
        {{else}}
          <div id="air-dispersion-modelling-report-help-for-sg">
            To check this:
            <ul class="list list-bullet">
              <li>for abated diesels generators operating less than 500 hours per or for gas fuelled generators operating over any period use the
                <!-- ToDo: add correct specified-screening-tool-link -->
                <a id="specified-screening-tool-link" href="" target="_blank" rel="noopener noreferrer">specified generator screening tool (opens new tab)</a>
              </li>
              <li>for generator plant operating on other fuels or for diesel generator plant operating for more than 500 hours per year use Environment Agency’s
                <a id="stationary-sg-risk-assessment-tool-link" href="https://www.gov.uk/government/collections/risk-assessments-for-specific-activities-environmental-permits#H1-software-tool" target="_blank" rel="noopener noreferrer">H1 risk assessment tool (opens new tab)</a>
              </li>
            </ul>
          </div>
        {{/if}}
      </div>

      <form id="form" method="POST" action="{{formAction}}" novalidate="novalidate">
        {{> common/csrfToken token=DefraCsrfToken}}

        <div class="form-group {{#getFormErrorGroupClass errors.air-dispersion-modelling}}{{/getFormErrorGroupClass}}">
          <fieldset>

            <legend id="air-dispersion-modelling-legend" class="visually-hidden">{{pageHeading}}</legend>

            {{> common/fieldError fieldId='air-dispersion-modelling-error' message=errors.air-dispersion-modelling }}
            <div class="multiple-choice">
              <input id="air-dispersion-modelling-yes" type="radio" name="air-dispersion-modelling" value="yes">
              <label id="air-dispersion-modelling-yes-label" for="air-dispersion-modelling-yes">Yes, we need to provide an air dispersion modelling report</label>
            </div>

            <div class="multiple-choice">
              <input id="air-dispersion-modelling-no" type="radio" name="air-dispersion-modelling" value="no">
              <label id="air-dispersion-modelling-no-label" for="air-dispersion-modelling-no">No</label>
            </div>

          </fieldset>
        </div>

        {{> common/submitButton }}
      </form>
    </div>
  </div>

</main>