<main id="content" tabindex="-1" role="main">

  {{> common/betaBanner }}
  {{> common/backLink }}

  <div class="grid-row">
    <div class="column-two-thirds">

      {{> common/errorSummary }}
      {{> common/pageHeading pageHeading }}

      <div class="body-text">
        {{#if mcpText}}
        <div id="air-dispersion-modelling-report-mcp-text">
          <p>To check this use the Environment Agency’s <a id="stationary-mcp-risk-assessment-tool-link" href="https://www.gov.uk/government/collections/risk-assessments-for-specific-activities-environmental-permits#H1-software-tool" target="_blank" rel="noopener noreferrer">H1 risk assessment tool (opens new tab)</a>.</p>
        </div>
        {{else}}
        <div id="air-dispersion-modelling-report-sg-text">
          <p>To check this:</p>
          <ul class="list list-bullet">
            <li>for abated diesel generators operating less than 500 hours per year or for gas fuelled generators operating over any period use the
              <a id="specified-screening-tool-link" href="https://www.gov.uk/guidance/specified-generator-apply-for-an-environmental-permit#bespoke-permits" target="_blank" rel="noopener noreferrer">specified generator screening tool (opens new tab)</a>
            </li>
            <li>for generator plant operating on other fuels or for diesel generator plant operating for more than 500 hours per year use Environment Agency’s
              <a id="stationary-sg-risk-assessment-tool-link" href="https://www.gov.uk/government/collections/risk-assessments-for-specific-activities-environmental-permits#H1-software-tool" target="_blank" rel="noopener noreferrer">H1 risk assessment tool (opens new tab)</a>
            </li>
          </ul>
        </div>
        {{/if}}
        <p>You must save a copy of the completed tool to upload later.</p>
      </div>

      <form id="form" method="POST" action="{{formAction}}" novalidate="novalidate">
        {{> common/csrfToken token=DefraCsrfToken}}

        <div class="form-group {{#getFormErrorGroupClass errors.air-dispersion-modelling}}{{/getFormErrorGroupClass}}">
          <fieldset>

            <legend id="air-dispersion-modelling-legend" class="visually-hidden">{{pageHeading}}</legend>

            {{> common/fieldError fieldId='air-dispersion-modelling-error' message=errors.air-dispersion-modelling }}
            <div class="multiple-choice">
              <input id="air-dispersion-modelling-yes" type="radio" name="air-dispersion-modelling" value="yes">
              <label id="air-dispersion-modelling-yes-label" for="air-dispersion-modelling-yes">Yes, we need to provide an air dispersion modelling report</label>
            </div>

            <div class="multiple-choice">
              <input id="air-dispersion-modelling-no" type="radio" name="air-dispersion-modelling" value="no">
              <label id="air-dispersion-modelling-no-label" for="air-dispersion-modelling-no">No</label>
            </div>

          </fieldset>
        </div>

        {{> common/submitButton }}
      </form>
    </div>
  </div>

</main>