<main id="content" role="main">

  {{> common/betaBanner }}

  {{> common/backLink }}

  <div class="grid-row">
    <div class="column-two-thirds">

      {{> common/pageHeading pageHeading }}

      <a id="change-selection-link" href="{{changeSelectionLink}}">Change your selection</a>

      <h2 id="how-to-apply" class="heading-medium">How to apply</h2>

      <div class="form-group">
        {{#if offlineCategoryOther}}
        <p>
          <span id="standard-rules-prefix">Download and fill in the </span>
          <a id="standard-rules-link"
             href="https://www.gov.uk/government/collections/environmental-permit-application-forms-for-a-standard-permit-installations-mining-waste-or-waste-operation">
            <span id="standard-rules-link-text">forms to apply for a standard rules waste permit.</span>
          </a>
        </p>
        {{/if}}

        {{#if offlineCategoryFlood}}
        <p>
          <span id="flood-prefix">Download and fill in the </span>
          <a id="flood-link"
             href="https://www.gov.uk/guidance/flood-risk-activities-environmental-permits#standard-rules-permits">
            <span id="flood-link-text">forms to apply for a flood risk activities standard rules permit.</span>
          </a>
        </p>
        {{/if}}

        {{#if offlineCategoryWater}}
        <p>
          <span id="water-prefix">Download and fill in the </span>
          <a id="water-link"
             href="https://www.gov.uk/government/collections/environmental-permit-application-forms-standard-permit-water-discharge">
            <span id="water-link-text">forms to apply for a water discharge permit.</span>
          </a>
        </p>
        {{/if}}

        {{#if offlineCategoryRadioactive}}
        <p>
          <span id="radioactive-prefix">Read the guidance about </span>
          <a id="radioactive-link"
             href="https://www.gov.uk/government/collections/radioactive-substances-regulation-for-non-nuclear-sites">
            <span id="radioactive-link-text">radioactive substances regulation for non-nuclear sites.</span>
          </a>
        </p>
        {{/if}}
      </div>
    </div>
  </div>
</main>
