<main id="content" role="main">

  {{> common/betaBanner }}

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
        <h1 id="page-heading" class="heading-xlarge">{{pageHeading}}</h1>
        <p class="font-large">
          Your reference number is <br>
          <strong id="application-name" class="bold">{{applicationName}}</strong>
        </p>
      </div>

      <h2 class="heading-medium">What happens next</h2>

      <div id="application-received-info" class="form-group">
        <p>We’ll check the documents you’ve uploaded, your technical qualification and any site location. We’ll also run checks on the permit holder and any other relevant people.</p>
      </div>

      <div id="application-received-hint" class="panel panel-border-wide">
        <p class="text font-small">
          It takes up to 13 weeks in total to issue a permit. It may take longer if the information you gave us does not meet our requirements.
        </p>
      </div>

      <div id="application-received-warning" class="form-group">
        <p>We won’t issue a permit if we believe that your operation will pollute the environment or harm human health.</p>
      </div>

    </div>
  </div>

</main>
