<main id="content" role="main">

  {{> common/betaBanner }}

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
        <h1 id="page-heading" class="heading-xlarge">{{pageHeading}}</h1>
        {{#if bacs}}
          <p id="bacs-paragraph" class="font-large">You should now pay by bank transfer</p>
        {{/if}}
        <p id="reference-number-paragraph" class="font-large">
          Your reference number is <br>
          <strong id="application-name" class="bold">{{applicationName}}</strong>
        </p>
      </div>

      {{#if bacs}}
      <p>
        <span id="confirmation-email-message-prefix">We've sent a confirmation to </span>
        <span id="contact-email">{{contactEmail}}.</span>
        <span id="confirmation-email-message-suffix"> The email includes the Bacs payment details.</span>
      </p>
      {{/if}}

      {{#if bacs}}
        {{> payment/bacsDetails}}
      {{else}}
        {{> payment/cardDetails}}
      {{/if}}

      {{#if bacs}}
        <h2 id="when-we-get-your-payment-heading" class="heading-medium">When we get your payment</h2>
      {{else}}
        <h2 id="what-happens-next-heading" class="heading-medium">What happens next</h2>
      {{/if}}

      <div class="form-group">
        <p id="application-received-info">We’ll check any documents you’ve uploaded, your technical qualification and the site location, if applicable. We’ll run checks on the permit holder and any other relevant people. We’ll email you to let you know when we’ve started these checks.</p>
        <p id="application-received-hint">It takes up to 13 weeks to issue a permit. It may take longer if the information you gave us doesn’t meet our requirements.</p>
        <p id="application-received-warning">We won’t issue a permit if we believe that your operation will pollute the environment or harm human health.</p>
      </div>

      <div><a id="give-feedback-link" href="https://www.smartsurvey.co.uk/s/sr-permits/?referringpage={{encodedPageTitle}}" target="_blank">What do you think of this service?</a> (takes 30 seconds)</div>

    </div>
  </div>

</main>
