<main id="content" tabindex="-1" role="main">

  {{> common/betaBanner }}

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
        <h1 id="page-heading" class="heading-xlarge">{{pageHeading}}</h1>
        <p id="reference-number-paragraph" class="font-large">
          Your reference number is <br>
          <strong id="application-name" class="bold">{{applicationNumber}}</strong>
        </p>
      </div>

      {{#if bacs}}
      <p>
        <span id="confirmation-email-message-prefix">We have sent a confirmation to </span>
        <span id="contact-email">{{contactEmail}}.</span>
      </p>
      {{else}}
        <dl class="govuk-check-your-answers cya-questions-short">
          <div>
            <dt id="payment-description-heading" class="cya-question">Payment for</dt>
            <dd id="payment-description" class="cya-answer">{{cardPayment.description}}</dd>
          </div>
          <div>
            <dt id="amount-heading" class="cya-question">Amount paid</dt>
            <dd class="cya-answer">£<span id="amount">{{cardPayment.amount}}</span></dd>
          </div>
        </dl>

        <p id="emailed-receipt">We have emailed you a receipt for your payment.</p>
        <p id="emailed-confirmation">We have also sent a confirmation of your application to {{contactEmail}}.</p>
      {{/if}}

      <h2 id="what-happens-next-heading" class="heading-medium">What happens next</h2>

      <div class="form-group">
        <p id="application-received-info">We will check any documents you have uploaded and the site location, if applicable. We will run checks on the permit holder and any other relevant people.</p>
        <p id="application-received-hint">It takes up to 13 weeks to issue a permit. It may take longer if the information you gave us does not meet our requirements.</p>
        <p id="application-received-warning">We will not issue a permit if we believe that your operation will pollute the environment or harm human health.</p>
      </div>

      <div><a id="give-feedback-link" href="https://www.smartsurvey.co.uk/s/sr-permits/?referringpage={{encodedPageTitle}}" target="_blank">What do you think of this service?</a> (takes 30 seconds)</div>

    </div>
  </div>

</main>
