<main id="content" role="main">

  {{> common/betaBanner }}

  <div class="grid-row">
    <div class="column-two-thirds">

      {{> common/pageHeading pageHeading }}

      <div class="form-group">
        <p><a id="standard-rules-waste-permit-forms-link" href="https://www.gov.uk/government/collections/environmental-permit-application-forms-for-a-standard-permit-installations-mining-waste-or-waste-operation">Standard rules waste permit forms</a></p>
        <p><a id="flood-risk-activities-standard-rules-permit-forms-link" href="https://www.gov.uk/guidance/flood-risk-activities-environmental-permits#standard-rules-permits">Flood risk activities standard rules permit forms</a></p>
        <p><a id="water-discharge-permit-forms-link" href="https://www.gov.uk/government/collections/environmental-permit-application-forms-standard-permit-water-discharge">Water discharge permit forms</a></p>
        <p><a id="radioactive-substances-regulation-for-non-nuclear-sites-guidance-link" href="https://www.gov.uk/government/collections/radioactive-substances-regulation-for-non-nuclear-sites">Radioactive substances regulation for non-nuclear sites guidance</a></p>
      </div>
    </div>
  </div>
</main>
