<main id="content" tabindex="-1" role="main">

    {{> common/betaBanner }}

    {{> common/backLink }}

    <div class="grid-row">
        <div class="column-two-thirds">

            {{> common/errorSummary }}

            {{> common/pageHeading pageHeading }}

            <form id="form" method="POST" action="{{formAction}}" novalidate="novalidate">
                {{> common/csrfToken token=DefraCsrfToken}}

                <fieldset>
                    <legend id="legend" class="visuallyhidden">{{pageHeading}}</legend>

                    <div id="permit-type" class="form-group {{#getFormErrorGroupClass errors.permit-type}}{{/getFormErrorGroupClass}}">
                        {{> common/fieldError fieldId='permit-type-error' message=errors.permit-type }}

                        <div class="multiple-choice">
                            <input id="standard-rules-permit-type" type="radio" name="permit-type" value="standard-rules"{{#if selectedStandardRulesPermitType}} checked="checked"{{/if}}>
                            <label id="standard-rules-permit-type-label" for="standard-rules-permit-type">Standard rules</label>
                        </div>

                        <div class="multiple-choice">
                            <input id="bespoke-permit-type" type="radio" name="permit-type" value="bespoke"{{#if selectedBespokePermitType}} checked="checked"{{/if}}>
                            <label id="bespoke-permit-type-label" for="bespoke-permit-type">Bespoke</label>
                        </div>
                    </div>
                </fieldset>

                <div class="form-group">
                    <details role="group" class="form-hint-details">
                        <summary role="button" aria-controls="details-content-0">
                            <span id="summary" class="summary">I don't know</span>
                        </summary>
                        <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
                            <p id="hint-paragraph-1">If you're not sure which type of permit to choose, you can:</p>
                            <ul id="hint-bullet-list" class="list list-bullet">
                                <li><a id="hint-link-1" href="https://www.gov.uk/guidance/check-if-you-need-an-environmental-permit" target="_blank" rel="noopener noreferrer">read about environmental permits on GOV.UK (opens new tab)</a></li>
                                <li><a id="hint-link-2" href="https://www.gov.uk/government/organisations/environment-agency#org-contacts" target="_blank" rel="noopener noreferrer">contact the Environment Agency (opens new tab)</a></li>
                            </ul>
                        </div>
                    </details>
                </div>

                {{> common/submitButton }}
            </form>

        </div>
    </div>
</main>
