<main id="content" tabindex="-1" role="main">

  {{> common/betaBanner }}

  {{> common/backLink }}

  <div class="grid-row">
    <div class="column-two-thirds">

      {{> common/pageHeading pageHeading }}

      <form method="POST" action="{{formAction}}" novalidate="novalidate">

        {{> common/csrfToken token=DefraCsrfToken}}

        <dl class="govuk-check-your-answers cya-questions-short">
          {{#each sections}}
          <div>
            <dt id="{{headingId}}" class="cya-question">
              {{heading}}
            </dt>
            <dd class="cya-answer">
              {{#each answers}}
                {{#if answer.blankLine}}
                  <br>
                {{else}}
                  <div id="{{answerId}}">{{answer}}</div>
                {{/if}}
              {{/each}}
            </dd>
            <dd class="cya-change">
              {{#each links}}
              <a id="{{linkId}}" href="{{link}}">
                Change<span id="{{linkId}}-type" class="visually-hidden"> {{linkType}}</span>
              </a>
              {{/each}}
            </dd>
          </div>
          {{/each}}
        </dl>

        <div id="declaration">

          <div id="declaration-warning" class="form-group">
            <h2 id="declaration-warning-heading" class="heading-medium">Declaration</h2>

            <div id="declaration-warning-notice" class="notice">
              <i class="icon icon-important">
                <span id="declaration-warning-notice-hidden" class="visually-hidden">Warning</span>
              </i>
              <strong id="declaration-warning-notice-content" class="bold-small">You can be prosecuted and fined if you give false or misleading information.</strong>
            </div>
          </div>

          <div id="declaration-confirmation" class="form-group">
            <p id="declaration-confirmation-list-heading">I confirm that:</p>
            <ul class="list list-bullet">
              <li id="declaration-confirmation-list-item-1">a written <a id="managment-system-link" target="_blank" rel="noopener noreferrer" href="https://www.gov.uk/guidance/develop-a-management-system-environmental-permits">
                <span id="managment-system-link-text">management system (opens new tab)</span>
              </a> will be in place before we start operating
              </li>
              <li id="declaration-confirmation-list-item-2">I am authorised to apply for this permit by the organisation or individual responsible</li>
              <li id="declaration-confirmation-list-item-3">the information I have given is true</li>
            </ul>

            <div id="ecological-survey-data">
              <p><h3 class="heading-small">Ecological survey data</h3></p>
              <p>
                If you supply ecological survey data we may use your ecological survey data for other uses in addition to assessing your application.
                <a target="_blank" rel="noopener noreferrer" href="https://www.gov.uk/guidance/waste-environmental-permits#contact-the-environment-agency">
                  Contact us (opens new tab)</a> if you do not want us to use your data in this way.
              </p>
            </div>

            <div id="eco-data" class="form-group">
              <details role="group" class="form-hint-details">
                <summary role="button" aria-controls="details-content-0">
                  <span id="eco-data-summary" class="summary">How we use your ecological survey data</span>
                </summary>
                <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
                  <p id="hint-paragraph-1">If you supply ecological survey data we will use it when we consider your application.</p>
                  <p id="hint-paragraph-2">Unless you tell us not to, we may also use it for other uses in connection with our statutory and regulatory responsibilities.</p>
                  <p id="hint-paragraph-3">We may:</p>
                  <ul id="hint-bullet-list" class="list list-bullet">
                    <li>incorporate the information into our datasets and mapping - these are used for a variety of purposes</li>
                    <li>provide information to other applicants and organisations where this enables us to protect wildlife as we are directed to do in the Environment Act</li>
                    <li>respond to requests for information under the Freedom of Information Act and the associated Environmental Information Regulations 2004 and agree limited usage rights in accordance with our Standard Notices that we use when supplying our Information</li>
                    <li>license datasets and mapping derived from or containing information</li>
                  </ul>
                </div>
              </details>
            </div>

            <p>
              <a id="privacy-link" target="_blank" rel="noopener noreferrer"
                href="https://www.gov.uk/guidance/environmental-permits-privacy-notice">
                Privacy: how we use your personal information (opens new tab)
              </a>
            </p>

            <div class="panel panel-border-wide">
              <p id="print-page-hint">If you want a copy of your application, print this page now. You will not get a copy after you submit.</p>
            </div>
          </div>

          {{> common/submitButton text="Confirm and continue"}}

        </div>

      </form>

    </div>
  </div>
</main>
