<main id="content" role="main">

  {{> common/betaBanner }}

  {{> common/backLink }}

  <div class="grid-row">
    <div class="column-two-thirds">

      {{> common/pageHeading pageHeading }}

      <form method="POST" action="{{formAction}}" novalidate="novalidate">

        {{> common/csrfToken token=DefraCsrfToken}}

        <dl class="govuk-check-your-answers cya-questions-short">
          {{#each sections}}
          <div>
            <dt id="{{headingId}}" class="cya-question">
              {{heading}}
            </dt>
            <dd class="cya-answer">
              {{#each answers}}
                <div id="{{answerId}}">{{answer}}</div>
              {{/each}}
            </dd>
            <dd class="cya-change">
              {{#each links}}
              <a id="{{linkId}}" href="{{link}}">
                Change<span id="{{linkId}}-type" class="visually-hidden"> {{linkType}}</span>
              </a>
              {{/each}}
            </dd>
          </div>
          {{/each}}
        </dl>

        <div id="declaration">

          <div id="declaration-warning" class="form-group">
            <h2 id="declaration-warning-heading" class="heading-medium">Declaration</h2>

            <div id="declaration-warning-notice" class="notice">
              <i class="icon icon-important">
                <span id="declaration-warning-notice-hidden" class="visually-hidden">Warning</span>
              </i>
              <strong id="declaration-warning-notice-content" class="bold-small">You can be prosecuted and fined if you give false or misleading information.</strong>
            </div>
          </div>

          <div id="declaration-confirmation" class="form-group">
            <p id="declaration-confirmation-list-heading">I confirm that:</p>
            <ul class="list list-bullet">
              <li id="declaration-confirmation-list-item-1">a written <a id="managment-system-link" target="_blank" rel="noopener noreferrer" href="https://www.gov.uk/guidance/develop-a-management-system-environmental-permits">
                <span id="managment-system-link-text">management system (opens new tab)</span>
              </a> will be in place before we start operating
              </li>
              <li id="declaration-confirmation-list-item-2">I’m authorised to apply for this permit by the organisation or individual responsible</li>
              <li id="declaration-confirmation-list-item-3">the information I’ve given is true</li>
            </ul>

            <p>
              <a id="privacy-link" target="_blank" rel="noopener noreferrer" href="/information/privacy">Privacy: how we use your personal information (opens new tab)</a>
            </p>

            <div class="panel panel-border-wide">
              <p id="print-page-hint">If you want a copy of your application, print this page now. You won’t get a copy after you submit.</p>
            </div>
          </div>

          {{> common/submitButton text="Confirm and continue"}}

        </div>

      </form>

    </div>
  </div>
</main>
