<main id="content" tabindex="-1" role="main">

  {{> common/betaBanner }}

  {{> common/backLink }}

  <div class="grid-row">
    <div class="column-two-thirds">
      {{> common/errorSummary }}
      {{> common/pageHeading pageHeading }}
      <form method="POST" action="{{formAction}}" novalidate="novalidate">
        {{> common/csrfToken token=DefraCsrfToken}}

        <p id="director-email-paragraph-1">The main contact for this application gets all communications, including official notices.</p>
        <p id="director-email-paragraph-2">For legal reasons, we also have to send a copy of any official notices to the Company Secretary, or to a director if you do not have a Company Secretary.</p>

        <div class="form-group {{#getFormErrorGroupClass errors.email}}{{/getFormErrorGroupClass}}">
          <label id="email-label" class="form-label" for="email">
            Company Secretary’s or director’s email
          </label>
          <span id="email-hint" class="form-hint">Company Secretary is an official legal position, not a secretary or personal assistant</span>

          {{> common/fieldError fieldId='email-error' message=errors.email }}
          <input class="form-control form-control-char-35 {{#if errors.email}}form-control-error{{/if}}" id="email" name="email" type="email" value="{{formValues.email}}">
        </div>

        {{> common/submitButton }}
      </form>
    </div>
  </div>

</main>
