<main id="content" role="main">

  {{> common/betaBanner }}

  {{> common/backLink }}

  <div class="grid-row">
    <div class="column-two-thirds">

      {{> common/pageHeading pageHeading }}

      <form>
        <div class="form-group">
          <div id="company-status-message" class="panel panel-border-wide">
            <p>
              <span id="company-name">{{ companyName }}</span> (company number <span id="company-number">{{ companyNumber }}</span>)
              can’t be a permit holder because it <span id="company-status">{{ companyStatus }}</span>.
            </p>
          </div>

          <p><a id="enter-different-number-link" href="{{ enterCompanyNumberRoute }}">Enter a different number</a></p>
        </div>
      </form>

    </div>
  </div>

</main>
