<main id="content" role="main">

  {{> common/betaBanner }}

  {{> common/backLink }}

  <div class="grid-row">
    <div class="column-two-thirds">

      {{> common/errorSummary }}

      <h1 id="page-heading" class="heading-large">{{ pageHeading }}</h1>

      <form method="POST" action="{{ formAction }}">
        <input id="defra-csrf-token" type="hidden" name="DefraCsrfToken" value="{{DefraCsrfToken}}">

        <div class="form-group {{#getFormErrorGroupClass errors.company-number}}{{/getFormErrorGroupClass}}">

          {{> common/fieldError fieldId='company-number-error' message=errors.company-number }}

          <input class="form-control form-control-char-10" id="company-number" name="company-number"
                 type="text" value="{{formValues.company-number}}">
        </div>

        <div class="form-group">
          <p>
            We'll look up the details in the Companies House register.
          </p>

          <details id="overseas-help">
            <summary>
              <span class="summary">Overseas companies</span>
            </summary>
            <div class="panel panel-border-narrow">
              If you're applying on behalf of a company outside of the UK you should <a
                href="https://www.gov.uk/register-as-an-overseas-company" target="_blank"
                rel="noopener noreferrer">register as an overseas company (opens new tab)</a> with
              Companies House before you apply for a permit.
            </div>
          </details>

        </div>

        <div class="form-group">
          <button id="submit-button" type="submit" class="button">Continue</button>
        </div>

      </form>

    </div>
  </div>

</main>
