<main id="content" tabindex="-1" role="main">

  {{> common/betaBanner }}

  {{> common/backLink }}

  <div class="grid-row">
    <div class="column-two-thirds">

      {{> common/errorSummary }}

      {{#if companyFound }}

      <h1 id="page-heading" class="heading-large">{{pageHeading}}</h1>

      <h2 id="company-name" class="heading-medium">{{ companyName }}</h2>

      <div class="panel panel-border-wide form-group">
        <p>
          <span id="company-number-label">Company number</span> <span id="company-number-value">{{ formValues.company-number }}</span>.
          <a id="enter-different-number-company-exists-link" href="{{ enterCompanyNumberRoute }}">Enter a different number</a>
        </p>
      </div>

      <h2 id="check-company-address" class="heading-medium">Check the registered address</h2>

      <p id="company-address">{{ companyAddress }}</p>

      <details id="not-the-registered-office-details">
        <summary>
          <span class="summary">That is not our registered office address</span>
        </summary>
        <div id="not-the-registered-office-panel" class="panel panel-border-narrow">
          <span>We can only accept applications using the address that is registered with Companies House. If your address has changed then you should </span>
          <a id="not-the-registered-office-link" href="https://www.gov.uk/file-changes-to-a-company-with-companies-house" target="_blank">tell Companies House about the change (opens new tab)</a>
          <span>before you complete this application.</span>
        </div>
      </details>

      <form method="POST" action="{{formAction}}" novalidate="novalidate">
        {{> common/csrfToken token=DefraCsrfToken}}

        <div class="form-group {{#getFormErrorGroupClass errors.business-trading-name}}{{/getFormErrorGroupClass}}">

          <fieldset>

            <legend id="trading-name-visually-hidden" class="visually-hidden">
              Trading name
            </legend>

            <div class="multiple-choice" data-target="give-business-trading-name">
              <input id="use-business-trading-name" name="use-business-trading-name" type="checkbox" {{#if formValues.use-business-trading-name}}checked="checked"{{/if}}>
              <label id="use-business-trading-name-label" for="use-business-trading-name">We use a different trading name</label>
            </div>

            <div class="panel panel-border-narrow js-hidden" id="give-business-trading-name">
              <label id="business-trading-name-label" class="form-label" for="business-trading-name">Business trading name</label>
              {{> common/fieldError fieldId='business-trading-name-error' message=errors.business-trading-name }}
              <input id="business-trading-name" class="form-control form-control-char-40 {{#if errors.business-trading-name}}form-control-error{{/if}}" type="text" name="business-trading-name"
                value="{{ formValues.business-trading-name }}">
            </div>

          </fieldset>
        </div>

        {{> common/submitButton }}
      </form>

      {{else}}

      <h1 id="page-heading-company-not-found" class="heading-large">We cannot find that company</h1>

      <p id="search-term-text">
        <span>We could not find a company with the number </span>
        <b>{{ formValues.company-number }}</b>
        <span>at Companies House.</span>
      </p>

      <p>
        <a id="enter-different-number-link" href="{{ enterCompanyNumberRoute }}">Enter a different number</a>
      </p>

      {{/if}}

    </div>
  </div>

</main>
