<main id="content" tabindex="-1" role="main">

  {{> common/betaBanner }}

  {{> common/backLink }}

  <div class="grid-row">
    <div class="column-two-thirds">

      {{> common/errorSummary }}

      {{> common/pageHeading pageHeading }}

      <dl class="govuk-check-your-answers cya-questions-short">

        {{#each calculatedCosts.items}}
          <div>
            <dt id="cost-item-{{@index}}-desc" class="cya-answer">
              {{this.description}}
            </dt>
            <dd id="cost-item-{{@index}}-cost" class="cya-change">
              {{this.costText}}
            </dd>
          </div>
        {{/each}}

        <div>
          <dt id="total-desc" class="cya-answer total">
            {{calculatedCosts.total.description}}
          </dt>
          <dt id="total-cost" class="cya-change total">
            {{calculatedCosts.total.costText}}
          </dt>
        </div>

      </dl>

      <p>
        You must pay these charges before we will start assessing your application.
        You do not pay VAT on these costs.
      </p>

      {{#if includesMultipleActivities}}
      <div id="multiple-activity-text">
        <p>
          Discounts for multiple activities are based on the assumption that it is reasonably associated to the first activity.
          Should we deem that it isn’t reasonably associated, then we will charge 100% of the base fee.
        </p>
      </div>
      {{/if}}

      <p>
        You can find out more about our charges in the 
        <a
          id="charges-guidance"
          rel="noopener noreferrer"
          target="_blank"
          href="https://www.gov.uk/government/publications/environmental-permitting-charges-guidance">
            Environmental permitting charges guidance (opens new tab)</a>.
      </p>

      {{#if wasteActivitiesLink}}
      <p>
        <a id="change-waste-activities" href="{{wasteActivitiesLink}}">Change activities or assessments</a>.
      </p>
      {{/if}}

      <form id="form" method="POST" action="{{formAction}}" novalidate="novalidate">
        {{> common/csrfToken token=DefraCsrfToken}}

        {{> common/submitButton text="Start application" }}
      </form>

    </div>
  </div>
</main>
