<main id="content" role="main">

  {{> common/betaBanner }}

  {{> common/backLink }}

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large" id="page-heading">Contact search</h1>
      <p>
        A temporary page for visualising querying functionality.
      </p>

      <form method="post" action="{{ formAction }}" novalidate="novalidate">
        {{> common/csrfToken token=DefraCsrfToken}}

        <div class="form-group">
          <label class="form-label" for="id">
            <span id="contact-id-label">Contact ID</span>
            <span class="form-hint">Check the table below for examples</span>
          </label>
          <input class="form-control form-control-char-60" id="id" name="id" type="text" value="">
        </div>

        <div class="form-group">
          <button id="contacts-submit" type="submit" class="button">Continue</button>
        </div>
      </form>

      {{#if contact}}
      <div id="contacts-search-result">
        <table>
            <thead>
              <tr>
                <th>ID</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Telephone</th>
                <th>Email</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{id}}</td>
                <td>{{firstName}}</td>
                <td>{{lastName}}</td>
                <td>{{telephone}}</td>
                <td>{{email}}</td>
              </tr>
            </tbody>
          </table>
      </div>
      {{/if}}
    </div>

    <table>
      <caption>Found {{contacts.length}} contacts</caption>
      <thead>
        <tr>
          <th>ID</th>
          <th>First name</th>
          <th>Last name</th>
          <th>Telephone</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
      {{#each contacts}}
        <tr>
          <td>{{this.id}}</td>
          <td>{{this.firstName}}</td>
          <td>{{this.lastName}}</td>
          <td>{{this.telephone}}</td>
          <td>{{this.email}}</td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  </div>

</main>
