<main id="content" role="main">

  {{> common/betaBanner }}

  {{> common/backLink }}

  <div class="grid-row">
    <div class="column-two-thirds">
      {{> common/errorSummary }}
      {{> common/pageHeading pageHeading }}
      <form method="post" action="{{ formAction }}" novalidate="novalidate">
        {{> common/csrfToken token=DefraCsrfToken}}

        <div class="form-group {{#getFormErrorGroupClass errors.first-name}}{{/getFormErrorGroupClass}}">
          <label class="form-label" for="first-name">
            First name
          </label>
          {{> common/fieldError fieldId='first-name-error' message=errors.first-name }}
          <input class="form-control form-control-char-15" id="first-name" name="first-name" type="text" value="{{formValues.first-name}}">
        </div>

        <div class="form-group {{#getFormErrorGroupClass errors.last-name}}{{/getFormErrorGroupClass}}">
          <label class="form-label" for="last-name">
            Last name
          </label>
          {{> common/fieldError fieldId='last-name-error' message=errors.last-name }}
          <input class="form-control form-control-char-15" id="last-name" name="last-name" type="text" value="{{formValues.last-name}}">
        </div>

        <div class="form-group {{#getFormErrorGroupClass errors.agent-company}}{{/getFormErrorGroupClass}}">
          <div class="multiple-choice" data-target="agent-company-yes">
            <input id="is-contact-an-agent" name="is-contact-an-agent" type="checkbox" {{#if formValues.is-contact-an-agent}}checked{{/if}}>
            <label for="is-contact-an-agent">
              This person is acting as an agent or consultant for this application
            </label>
          </div>
        </div>
        <div class="panel panel-border-narrow js-hidden" id="agent-company-yes">
          <label class="form-label" for="agent-company">
            Agent’s trading, business or company name
          </label>
          {{> common/fieldError fieldId='agent-company-error' message=errors.agent-company }}
          <input class="form-control form-control-char-50" id="agent-company" name="agent-company" type="text" value="{{formValues.agent-company}}">
        </div>

        <div class="form-group {{#getFormErrorGroupClass errors.telephone}}{{/getFormErrorGroupClass}}">
          <label class="form-label" for="telephone">
            Telephone number
            <span class="form-hint">This can be a landline or mobile</span>
          </label>
          {{> common/fieldError fieldId='telephone-error' message=errors.telephone }}
          <input class="form-control form-control-char-15" id="telephone" name="telephone" type="tel" value="{{formValues.telephone}}">
        </div>

        <fieldset>
          <legend><h2 class="heading-small">Email addresses for communications about this application</h2></legend>

          <div class="form-group {{#getFormErrorGroupClass errors.email}}{{/getFormErrorGroupClass}}">
            <label class="form-label" for="email">
              Email address for main contact
              <span class="form-hint">They get every communication and also the permit and any notices</span>
            </label>
            {{> common/fieldError fieldId='email-error' message=errors.email }}
            <input class="form-control form-control-char-35" id="email" name="email" type="email" value="{{formValues.email}}">
          </div>

          <div class="form-group {{#getFormErrorGroupClass errors.company-secretary-email}}{{/getFormErrorGroupClass}}">
            <label class="form-label" for="company-secretary-email">
              Email address for Company Secretary or a director
            </label>
            <span class="form-hint">They just get a copy of the permit and any notices</span>
            <details role="group" class="form-hint-details">
              <summary role="button" aria-controls="details-content-0" aria-expanded="false"><span class="summary">What’s this for and whose email can I give?</span></summary>
              <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
                <p>
                  Legally, we have to send a copy of the permit to the registered office or to an official company email address. Company Secretary is an official legal position, not a secretary or personal assistant. If you don’t have a Company Secretary you can give a director’s email address.
                </p>
              </div>
            </details>
            {{> common/fieldError fieldId='company-secretary-email-error' message=errors.company-secretary-email }}
            <input class="form-control form-control-char-35" id="company-secretary-email" name="company-secretary-email" type="email" value="{{formValues.company-secretary-email}}">
          </div>
        </fieldset>

        {{> common/submitButton }}
      </form>
    </div>
  </div>

</main>
