<main id="content" role="main">

  {{> common/betaBanner}}

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 id="contact-heading" class="heading-large">{{ pageHeading }}</h1>
      <form method="post" action="/contact">
        <div class="form-group">
          <label class="form-label" for="first-name">
            First name
            <span class="form-hint">For example, Jane</span>
          </label>
          <input class="form-control" id="first-name" name="first-name" type="text" value="{{contact.firstName}}">
        </div>

        <div class="form-group">
          <label class="form-label" for="last-name">
            Last name
            <span class="form-hint">For example, Smith</span>
          </label>
          <input class="form-control" id="last-name" name="last-name" type="text" value="{{contact.lastName}}">
        </div>

        <div class="form-group">
          <div class="multiple-choice" data-target="agent-company-yes">
            <input id="is-contact-an-agent" name="is-contact-an-agent" type="checkbox" value="yes">
            <label for="is-contact-an-agent">
              This person is acting as an agent or consultant for this application
            </label>
          </div>
        </div>
        <div class="panel panel-border-narrow js-hidden" id="agent-company-yes">
          <label class="form-label" for="agent-company">
            Agent’s trading, business or company name (optional)
          </label>
          <input class="form-control form-control-char-50" id="agent-company" name="agent-company" type="text" value="contact.agentCompany">
        </div>

        <div class="form-group">
          <label class="form-label" for="telephone">
            Telephone number
            <span class="form-hint">This can be a landline or mobile</span>
          </label>
          <input class="form-control form-control-char-25" id="telephone" name="telephone" type="tel" value="{{contact.telephone}}">
        </div>

        <div class="form-group">
          <label class="form-label" for="email">
            Email address
          </label>
          <input class="form-control" id="email" name="email" type="email" value="{{contact.email}}">
        </div>

        <div class="form-group">
          <label class="form-label" for="id">
            ID
          </label>
          <span class="form-hint">For example, e43449a6-4f24-e711-80fd-5065f38a1b01. If found contact wiull be updated rather than created.</span>
          <input class="form-control" id="id" name="id" type="text" value="{{contact.id}}">
        </div>

        <div class="form-group">
          <button id="contact-continue" type="submit" class="button">Continue</button>
        </div>
      </form>
    </div>
  </div>

</main>
