<main id="content" tabindex="-1" role="main">

    {{> common/betaBanner }}

    {{> common/backLink }}

    <div class="grid-row">
        <div class="column-two-thirds">

            {{> common/pageHeading pageHeading }}

            <p class="panel panel-border-narrow">You told us that your site or installation already has an environmental (EPR) permit.</p>

            <p>
              Contact us before you apply to find out if you should
              <a id="vary-link" target="_blank" rel="noopener noreferrer"
                 href="https://www.gov.uk/guidance/change-transfer-or-cancel-your-environmental-permit#change-vary-your-permit">
                vary the existing permit (opens new tab)</a>
              or make a new application.
            </p>

            <p>
              Contact us by email at <a id="contact-link" href="mailto:MCPDHELP@environment-agency.gov.uk">MCPDHELP@environment-agency.gov.uk</a>.
            </p>

        </div>
    </div>
</main>
