<main id="content" role="main">

  {{> common/betaBanner }}

  {{> common/backLink }}

  {{> common/pageHeading pageHeading }}

  <p>When you use the standard rules waste permit application service we put small files known as ‘cookies’ onto your computer.</p>
  <p>These cookies are used to:</p>
  <ul>
    <li>help us understand how you use the service, so we can make improvements</li>
    <li>remember what notifications you’ve seen so that you’re not shown them more than once</li>
  </ul>
  <p>Find out <a href="https://ico.org.uk/for-the-public/online/cookies/">how to manage cookies on the Information Commissioner's website</a>.</p>
</main>
