<main id="content" role="main">

  {{> common/betaBanner }}

  {{> common/backLink }}

  <div class="grid-row">
    <div class="column-two-thirds">

      {{> common/errorSummary }}

      <h1 id="page-heading" class="heading-large">{{ pageHeading }}</h1>

      <form method="POST" action="{{ formAction }}">
        <input id="defra-csrf-token" type="hidden" name="DefraCsrfToken" value="{{DefraCsrfToken}}">

        <p>
          We use the date of birth to do security checks. We won't include it in the public permit register.
        </p>

        <fieldset>
          <legend class="visuallyhidden">Date of birth for director - we only need the date in the month</legend>

          <dl class="dates-of-birth">
            {{#if hasDirectors }}

              {{#each directors}}
              <div id="director-list">
                <dt id="director-name-{{@index}}" class="director-name">
                  {{this.forenames}} {{this.surname}}
                </dt>
                <dd class="director-dob">
                  <div class="form-group-day">
                    <label class="form-label visually-hidden" for="dob-day-{{@index}}">Birth day date for {{this.name}}</label>
                    <input class="form-control sr-company-dob" id="dob-day-{{@index}}" name="director-dob-day-{{@index}}" type="number" pattern="[0-9]*"
                      min="0" max="31" aria-describedby="sr-dob-month-year">
                    <span id="dob-{{@index}}" class="sr-dob-month-year">
                      {{this.dateOfBirth}}
                    </span>
                  </div>
                </dd>
              </div>

              {{/each}}

            {{else}}
              <p id="no-directors">No data</p>
            {{/if}}

          </dl>
        </fieldset>

        <div class="form-group">
          <button id="submit-button" type="submit" class="button">Continue</button>
        </div>
      </form>

    </div>
  </div>

</main>
