<main id="content" role="main">

  {{> common/betaBanner }}

  {{> common/backLink }}

  <div class="grid-row">
    <div class="column-two-thirds">

      {{> common/errorSummary }}

      {{> common/pageHeading pageHeading }}

      <form method="POST" action="{{ formAction }}">
        {{> common/csrfToken token=DefraCsrfToken}}

        <p id="dob-explanation">
          We use the date of birth to identify the person when we do security checks. We won’t include it in the public permit register.
        </p>

        <fieldset>
          <legend id="dob-visually-hidden" class="visuallyhidden">Date of birth for director - we only need the date in the month</legend>

          <dl id="dates-of-birth" class="dates-of-birth">
            {{#if directors.length }}
              {{#each directors}}
                {{> directorDateOfBirthRow this errors=@root.errors}}
              {{/each}}
            {{else}}
              <p id="no-directors">No data</p>
            {{/if}}
          </dl>
        </fieldset>

        <div class="form-group">
          <button id="submit-button" type="submit" class="button">Continue</button>
        </div>
      </form>

    </div>
  </div>

</main>
