<main id="content" role="main">

  {{> common/betaBanner }}

  {{> common/backLink }}

  <div class="grid-row">
    <div class="column-two-thirds">

      {{> common/errorSummary }}

      {{> common/pageHeading pageHeading }}

      <div class="panel panel-border-wide">
        <p id="drainage-message">This is the area for vehicles that have not been depolluted. The surface must be impermeable.</p>
      </div>

      <form method="POST" action="{{formAction}}" novalidate="novalidate">
        {{> common/csrfToken token=DefraCsrfToken}}

        <div class="form-group {{#getFormErrorGroupClass errors.drainage-type}}{{/getFormErrorGroupClass}}">
          <fieldset>

            <legend id="drainage-type-legend" class="visually-hidden">{{pageHeading}}</legend>

            {{> common/fieldError fieldId='drainage-type-error' message=errors.drainage-type }}

            {{#each drainageTypes}}
            <div class="multiple-choice">
              <input id="{{id}}" type="radio" name="drainage-type" value="{{type}}" {{#if selected}}checked="checked"{{/if}}>
              <label for="{{id}}">
                <span id="{{id}}-label">{{description}}</span>
                {{#if hint}}
                <span id="{{id}}-label-hint" class="form-hint">{{hint}}</span>
                {{/if}}
              </label>
            </div>
            {{/each}}

          </fieldset>
        </div>

        {{> common/submitButton }}

      </form>

    </div>
  </div>

</main>