<main id="content" role="main">

  {{> common/betaBanner}}

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 ID="home-page-heading" class="form-title heading-large">{{ pageHeading }}</h1>
      <form ID="home-page-from" action="/" method="post" class="form">
        <p>
          Example common partial:
        </p>

        {{> common/test}}

        <div class="form-group">
          <input type="submit" class="button" value="Start">
        </div>

      </form>
    </div>
  </div>

</main>
