<main id="content" tabindex="-1" role="main">

    {{> common/betaBanner }}

    {{> common/backLink }}

    <div class="grid-row">
        <div class="column-two-thirds">

            {{> common/pageHeading pageHeading }}

            <p>You cannot apply for that type of facility online.</p>

            <a id="change-selection-link" href="/facility-type">Change your selection</a>

            <h2 id="how-to-apply" class="heading-medium">How to apply</h2>

            <div class="form-group">
                <p>
                    <span id="bespoke-prefix">Download and fill in the </span>
                    <a id="bespoke-link"
                       href="https://www.gov.uk/guidance/waste-environmental-permits#how-to-apply-for-a-bespoke-permit">
                        <span id="bespoke-text">forms to apply for a permit.</span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</main>
