<main id="content" tabindex="-1" role="main">

  {{> common/betaBanner }}

  {{> common/backLink }}

  <div class="grid-row">
    <div class="column-two-thirds">

      {{> common/errorSummary }}

      {{> common/pageHeading pageHeading }}

      <p>
        These are the most common codes.
        If your activity does not exactly match these you should choose 'Other' and enter the code.
      </p>

      <form id="form" method="POST" action="{{formAction}}" novalidate="novalidate">
        {{> common/csrfToken token=DefraCsrfToken}}

        <div id="chosen-type-codes-option" class="form-group {{#getFormErrorGroupClass errors.type-codes-option}}{{/getFormErrorGroupClass}}">
        <fieldset>
          <legend id="legend" class="visuallyhidden">{{pageHeading}}</legend>
          {{> common/fieldError fieldId='type-codes-option-error' message=errors.type-codes-option }}

          {{#each mainTypes}}
          <div class="multiple-choice">
            <input id="type-codes-option-{{id}}" name="type-codes-option" type="radio" value="{{code}}"{{#if isSelected}} checked{{/if}}>
            <label id="type-codes-option-{{id}}-label" for="type-codes-option-{{id}}">{{description}}</label>
          </div>
          {{/each}}

          <div class="multiple-choice" data-target="type-codes-option-other-enter">
            <input id="type-codes-option-other" name="type-codes-option" type="radio" value="other"{{#if otherIsSelected}} checked{{/if}}>
            <label id="type-codes-option-other-label" for="type-codes-option-other">Other - I will enter the code</label>
          </div>
          <div id="type-codes-option-other-enter" class="panel panel-border-narrow js-hidden {{#getFormErrorGroupClass errors.type-codes-other}}{{/getFormErrorGroupClass}}">
            <p id="nace-code-info">
              Find the 4-digit NACE code for your business in the
              <a id="nace-code-list-link" target="_blank" rel="noopener noreferrer" href="/information/nace-codes">
                list of NACE codes (opens new tab)</a>.
            </p>
            <label id="type-codes-option-other-enter-label" class="form-label"
                   for="type-codes-other" aria-describedby="nace-code-info">
              NACE code for your business
              <span class="form-hint">
                For example 34.11
              </span>
            </label>
            {{> common/fieldError fieldId='type-codes-other-error' message=errors.type-codes-other }}

            <input class="form-control form-control-char-15{{#if errors.type-codes-other}} form-control-error{{/if}}"
                   id="type-codes-other" name="type-codes-other"{{#if other}} value="{{other}}"{{/if}}>
          </div>

        </fieldset>
        </div>

        {{> common/submitButton }}
      </form>

    </div>
  </div>
</main>
