<main id="content" tabindex="-1" role="main">

    {{> common/betaBanner }}

    {{> common/backLink }}

    <div class="grid-row">
      <div class="column-two-thirds">

        {{> common/errorSummary }}

        {{> common/pageHeading pageHeading }}

        <div class="body-text" id="a">
          You must provide an energy efficiency report if all of these apply to the plant - it is:
          <ul class="list list-bullet">
            <li>new or substantially refurbished</li>
            <li>operating over 1,500 hours a year</li>
            <li>over 20MW thermal total aggregated thermal input</li>
            <li>using a boiler, furnace, gas turbine or compression ignition engine</li>
          </ul>

        </div>
        <div class="body-text">

          <details id="energy-report-required-help">
            <summary id="energy-report-required-legend">How to decide if the plant is new or substantially refurbished</summary>
            <div class="panel panel-border-narrow" id="energy-report-required-details">
              Plant is considered to be new if it is:
              <ul id="grid-reference-help-list" class="list list-bullet">
                <li>put into operation on or after 20 December 2018</li>
                <li>altered or repaired such that the emission limit values (ELV) change - for example if an existing boiler is running on heavy oil and it is converted to run on natural gas</li>
                <li>substantially refurbished, meaning that the cost of refurbishment was more than 50% of the investment cost for a new comparable MCP unit</li>
              </ul>
            </div>
          </details>
        </div>

        <form method="POST" action="{{formAction}}" novalidate="novalidate">
          {{> common/csrfToken token=DefraCsrfToken}}


          <div id="energy-report-required" >
            <div class="form-group {{#getFormErrorGroupClass errors.new-or-refurbished}}{{/getFormErrorGroupClass}}">
              <fieldset id="new-or-refurbished">

                <legend id="energy-report-required-message" class="visually-hidden" aria-describedby="a"><p>Is your MCP or SG new or substantially refurbished?</p></legend>
                {{> common/fieldError fieldId='new-or-refurbished-error' message=errors.new-or-refurbished }}

                <div class="multiple-choice" data-target="thermal-input-and-engine-type">
                  <input id="new-or-refurbished-yes" type="radio" name="new-or-refurbished" value="yes" {{#if newOrRefurbished}}checked="checked"{{/if}}>
                  <label for="new-or-refurbished-yes">
                    <span id="new-or-refurbished-yes-label">Yes we need to provide an energy efficiency report</span>
                  </label>
                </div>
                <div class="multiple-choice">
                  <input id="new-or-refurbished-no" type="radio" name="new-or-refurbished" value="no">
                  <label for="new-or-refurbished-no">
                    <span id="new-or-refurbished-no-label">No</span>
                  </label>
                </div>
              </fieldset>
            </div>
          </div>

          {{> common/submitButton }}

        </form>

      </div>
    </div>

  </main>

