<main id="content" tabindex="-1" role="main">

  {{> common/betaBanner }}

  {{> common/backLink }}

  <div class="grid-row">
    <div class="column-two-thirds">

      {{> common/pageHeading pageHeading }}

      {{#if isComplete}}
      <div id="mcp-template-downloaded" class="panel panel-border-narrow">
        <p>You have downloaded the template.</p>
      </div>
      {{/if}}

      <p>
        Download a template and save it on your computer.
        Enter the details for each plant or generator you want the permit to cover.
        You will be asked to upload it later in the application.
      </p>

      <!-- The templates can be different, therefore handled in the controller -->
      {{#if templates}}
      {{#each templates}}
      <p>
        <a id="{{id}}" href="/public/images/mcp-template/{{file}}" download="{{name}}">
          <span id="{{id}}-text">{{name}}</span>
        </a>
      </p>
      {{/each}}
      {{/if}}

      <form method="POST" action="{{formAction}}" novalidate="novalidate">
        {{> common/csrfToken token=DefraCsrfToken}}
        <div class="form-group">
          {{#if isComplete}}
            <button id="return-to-task-list-button" type="submit" class="button" name="Return to task list">Return to task list</button>
          {{else}}
            <button id="mcp-template-downloaded-button" type="submit" class="button" name="I downloaded the template">I downloaded the template</button>
          {{/if}}
        </div>
      </form>


    </div>
  </div>

</main>
