<main id="content" tabindex="-1" role="main">

  {{> common/betaBanner }}

  {{> common/backLink }}

  <div class="grid-row">
    <div class="column-two-thirds">

      {{> common/pageHeading pageHeading }}

      {{#if isComplete}}
      <div id="mcp-template-downloaded" class="panel panel-border-narrow">
        <p>You have downloaded the template.</p>
      </div>
      {{/if}}

      <p>
        Download a template and save it on your computer.
        Enter the details for each plant or generator you want the permit to cover.
        You will be asked to upload it later in the application.
      </p>

      <!--  the template links are different for standard rules and bespoke. Show the standard rules templates: -->
      {{#if standardPermitType}}
      <p>
        <a id="mcp-template-xls-link" href="/public/images/mcp-template/mcp-plant-generator-list-template-v0-1.xls" download="mcp-plant-generator-list-template-v0-1.xls">
          <span id="mcp-template-xls-link-text">Plant or generator list template (Excel XLS)</span>
        </a>
      </p>
      <p>
        <a id="mcp-template-ods-link" href="/public/images/mcp-template/mcp-plant-generator-list-template-v0-1.ods" download="mcp-plant-generator-list-template-v0-1.ods">
          <span id="mcp-template-ods-link-text">Plant or generator list template (Open Document ODS)</span>
        </a>
      </p>
      {{/if}}

      <!--  the template links are different for standard rules and bespoke. Show the bespoke rules templates: -->
      {{#if bespokePermitType}}
      <p>
        <a id="mcp-template-xls-link" href="/public/images/mcp-template/tbc" download="tbc">
          <span id="mcp-template-xls-link-text">Plant or generator list template APPENDIX TBC (Excel XLS)</span>
        </a>
      </p>
      <p>
        <a id="mcp-template-ods-link" href="/public/images/mcp-template/tbc" download="mcp-plant-generator-list-template-v0-1.ods">
          <span id="mcp-template-ods-link-text">Plant or generator list template APPENDIX TBC (Open Document ODS)</span>
        </a>
      </p>
      {{/if}}

      <form method="POST" action="{{formAction}}" novalidate="novalidate">
        {{> common/csrfToken token=DefraCsrfToken}}
        <div class="form-group">
          {{#if isComplete}}
            <button id="return-to-task-list-button" type="submit" class="button" name="Return to task list">Return to task list</button>
          {{else}}
            <button id="mcp-template-downloaded-button" type="submit" class="button" name="I downloaded the template">I downloaded the template</button>
          {{/if}}
        </div>
      </form>


    </div>
  </div>

</main>
