<main id="content" tabindex="-1" role="main">

    {{> common/betaBanner }}

    <div class="grid-row">
        <div class="column-two-thirds">

          {{> common/pageHeading pageHeading }}

          <p>
            Find the NACE code for your business. Choose the 4-digit class code that best matches the main activity you use the plant for.
          </p>

          <ul class="list">

            <li><a href="#nace-a">A. Agriculture, forestry and fishing</a></li>
            <li><a href="#nace-b">B. Mining and quarrying</a></li>
            <li><a href="#nace-c">C. Manufacturing</a></li>
            <li><a href="#nace-d">D. Electricity, gas, steam and air conditioning supply</a></li>
            <li><a href="#nace-e">E. Water supply; sewerage, waste management and remediation activities</a></li>
            <li><a href="#nace-f">F. Construction</a></li>

            <li><a href="#nace-h">H. Transportation and storage</a></li>
            <li><a href="#nace-i">I. Accommodation and food service activities</a></li>
            <li><a href="#nace-j">J. Information and communication</a></li>

            <li><a href="#nace-n">N. Administrative and support service activities</a></li>

            <li><a href="#nace-p">P. Education</a></li>
            <li><a href="#nace-q">Q. Human health and social work activities</a></li>
            <li><a href="#nace-r">R. Arts, entertainment and recreation</a></li>
            <li><a href="#nace-s">S. Other service activities</a></li>
          </ul>

          <h2 id="nace-a" class="heading-medium">A. Agriculture, forestry and fishing</h2><table><tr><th>Activity</th><th>NACE code</th></tr>
          <tr><td>Growing of cereals (except rice), leguminous crops and oil seeds </td><td>01.11</td></tr>
          <tr><td>Growing of vegetables and melons, roots and tubers </td><td>01.13</td></tr>
          <tr><td>Growing of fibre crops </td><td>01.16</td></tr>
          <tr><td>Growing of other non-perennial crops </td><td>01.19</td></tr>
          <tr><td>Growing of grapes </td><td>01.21</td></tr>
          <tr><td>Growing of tropical and subtropical fruits </td><td>01.22</td></tr>
          <tr><td>Growing of citrus fruits </td><td>01.23</td></tr>
          <tr><td>Growing of pome fruits and stone fruits </td><td>01.24</td></tr>
          <tr><td>Growing of other tree and bush fruits and nuts </td><td>01.25</td></tr>
          <tr><td>Growing of oleaginous fruits </td><td>01.26</td></tr>
          <tr><td>Growing of beverage crops </td><td>01.27</td></tr>
          <tr><td>Growing of spices, aromatic, drug and pharmaceutical crops </td><td>01.28</td></tr>
          <tr><td>Growing of other perennial crops </td><td>01.29</td></tr>
          <tr><td>Plant propagation </td><td>01.30</td></tr>
          <tr><td>Raising of dairy cattle </td><td>01.41</td></tr>
          <tr><td>Raising of other cattle and buffaloes </td><td>01.42</td></tr>
          <tr><td>Raising of horses and other equines </td><td>01.43</td></tr>
          <tr><td>Raising of sheep and goats </td><td>01.45</td></tr>
          <tr><td>Raising of swine/pigs </td><td>01.46</td></tr>
          <tr><td>Raising of poultry </td><td>01.47</td></tr>
          <tr><td>Raising of other animals </td><td>01.49</td></tr>
          <tr><td>Mixed farming </td><td>01.50</td></tr>
          <tr><td>Support activities for crop production </td><td>01.61</td></tr>
          <tr><td>Support activities for animal production </td><td>01.62</td></tr>
          <tr><td>Post-harvest crop activities </td><td>01.63</td></tr>
          <tr><td>Seed processing for propagation </td><td>01.64</td></tr>
          <tr><td>Logging </td><td>02.20</td></tr>
          <tr><td>Freshwater aquaculture </td><td>03.22</td></tr>
        </table><h2 id="nace-b" class="heading-medium">B. Mining and quarrying</h2><table><tr><th>Activity</th><th>NACE code</th></tr>
          <tr><td>Mining of hard coal </td><td>05.10</td></tr>
          <tr><td>Extraction of crude petroleum </td><td>06.10</td></tr>
          <tr><td>Extraction of natural gas </td><td>06.20</td></tr>
          <tr><td>Mining of iron ores </td><td>07.10</td></tr>
          <tr><td>Mining of other non-ferrous metal ores </td><td>07.29</td></tr>
          <tr><td>Quarrying of ornamental and building stone, limestone, gypsum, chalk and slate </td><td>08.11</td></tr>
          <tr><td>Operation of gravel and sand pits; mining of clays and kaolin </td><td>08.12</td></tr>
          <tr><td>Mining of chemical and fertiliser minerals </td><td>08.91</td></tr>
          <tr><td>Extraction of salt </td><td>08.93</td></tr>
          <tr><td>Other mining and quarrying n.e.c. </td><td>08.99</td></tr>
          <tr><td>Support activities for petroleum and natural gas extraction </td><td>09.10</td></tr>
          <tr><td>Support activities for other mining and quarrying </td><td>09.90</td></tr>
        </table><h2 id="nace-c" class="heading-medium">C. Manufacturing</h2><table><tr><th>Activity</th><th>NACE code</th></tr>
          <tr><td>Processing and preserving of meat </td><td>10.11</td></tr>
          <tr><td>Processing and preserving of poultry meat </td><td>10.12</td></tr>
          <tr><td>Production of meat and poultry meat products </td><td>10.13</td></tr>
          <tr><td>Processing and preserving of fish, crustaceans and molluscs </td><td>10.20</td></tr>
          <tr><td>Processing and preserving of potatoes </td><td>10.31</td></tr>
          <tr><td>Manufacture of fruit and vegetable juice </td><td>10.32</td></tr>
          <tr><td>Other processing and preserving of fruit and vegetables </td><td>10.39</td></tr>
          <tr><td>Manufacture of oils and fats </td><td>10.41</td></tr>
          <tr><td>Manufacture of margarine and similar edible fats </td><td>10.42</td></tr>
          <tr><td>Operation of dairies and cheese making </td><td>10.51</td></tr>
          <tr><td>Manufacture of ice cream </td><td>10.52</td></tr>
          <tr><td>Manufacture of grain mill products </td><td>10.61</td></tr>
          <tr><td>Manufacture of starches and starch products </td><td>10.62</td></tr>
          <tr><td>Manufacture of bread; manufacture of fresh pastry goods and cakes </td><td>10.71</td></tr>
          <tr><td>Manufacture of rusks and biscuits; manufacture of preserved pastry goods and cakes </td><td>10.72</td></tr>
          <tr><td>Manufacture of macaroni, noodles, couscous and similar farinaceous products </td><td>10.73</td></tr>
          <tr><td>Manufacture of sugar </td><td>10.81</td></tr>
          <tr><td>Manufacture of cocoa, chocolate and sugar confectionery </td><td>10.82</td></tr>
          <tr><td>Processing of tea and coffee </td><td>10.83</td></tr>
          <tr><td>Manufacture of condiments and seasonings </td><td>10.84</td></tr>
          <tr><td>Manufacture of prepared meals and dishes </td><td>10.85</td></tr>
          <tr><td>Manufacture of homogenised food preparations and dietetic food </td><td>10.86</td></tr>
          <tr><td>Manufacture of other food products n.e.c. </td><td>10.89</td></tr>
          <tr><td>Manufacture of prepared feeds for farm animals </td><td>10.91</td></tr>
          <tr><td>Manufacture of prepared pet foods </td><td>10.92</td></tr>
          <tr><td>Distilling, rectifying and blending of spirits </td><td>11.01</td></tr>
          <tr><td>Manufacture of wine from grape </td><td>11.02</td></tr>
          <tr><td>Manufacture of cider and other fruit wines </td><td>11.03</td></tr>
          <tr><td>Manufacture of other non-distilled fermented beverages </td><td>11.04</td></tr>
          <tr><td>Manufacture of beer </td><td>11.05</td></tr>
          <tr><td>Manufacture of malt </td><td>11.06</td></tr>
          <tr><td>Manufacture of soft drinks; production of mineral waters and other bottled waters </td><td>11.07</td></tr>
          <tr><td>Manufacture of tobacco products </td><td>12.00</td></tr>
          <tr><td>Preparation and spinning of textile fibres </td><td>13.10</td></tr>
          <tr><td>Weaving of textiles </td><td>13.20</td></tr>
          <tr><td>Finishing of textiles </td><td>13.30</td></tr>
          <tr><td>Manufacture of knitted and crocheted fabrics </td><td>13.91</td></tr>
          <tr><td>Manufacture of made-up textile articles, except apparel </td><td>13.92</td></tr>
          <tr><td>Manufacture of carpets and rugs </td><td>13.93</td></tr>
          <tr><td>Manufacture of cordage, rope, twine and netting </td><td>13.94</td></tr>
          <tr><td>Manufacture of non-wovens and articles made from non-wovens, except apparel </td><td>13.95</td></tr>
          <tr><td>Manufacture of other technical and industrial textiles </td><td>13.96</td></tr>
          <tr><td>Manufacture of other textiles n.e.c. </td><td>13.99</td></tr>
          <tr><td>Manufacture of leather clothes </td><td>14.11</td></tr>
          <tr><td>Manufacture of workwear </td><td>14.12</td></tr>
          <tr><td>Manufacture of other outerwear </td><td>14.13</td></tr>
          <tr><td>Manufacture of underwear </td><td>14.14</td></tr>
          <tr><td>Manufacture of other wearing apparel and accessories </td><td>14.19</td></tr>
          <tr><td>Manufacture of knitted and crocheted hosiery </td><td>14.31</td></tr>
          <tr><td>Manufacture of other knitted and crocheted apparel </td><td>14.39</td></tr>
          <tr><td>Tanning and dressing of leather; dressing and dyeing of fur </td><td>15.11</td></tr>
          <tr><td>Manufacture of luggage, handbags and the like, saddlery and harness </td><td>15.12</td></tr>
          <tr><td>Manufacture of footwear </td><td>15.20</td></tr>
          <tr><td>Sawmilling and planing of wood </td><td>16.10</td></tr>
          <tr><td>Manufacture of veneer sheets and wood-based panels </td><td>16.21</td></tr>
          <tr><td>Manufacture of assembled parquet floors </td><td>16.22</td></tr>
          <tr><td>Manufacture of other builders' carpentry and joinery </td><td>16.23</td></tr>
          <tr><td>Manufacture of wooden containers </td><td>16.24</td></tr>
          <tr><td>Manufacture of other products of wood; manufacture of articles of cork, straw and plaiting materials </td><td>16.29</td></tr>
          <tr><td>Manufacture of pulp </td><td>17.11</td></tr>
          <tr><td>Manufacture of paper and paperboard </td><td>17.12</td></tr>
          <tr><td>Manufacture of corrugated paper and paperboard and of containers of paper and paperboard </td><td>17.21</td></tr>
          <tr><td>Manufacture of household and sanitary goods and of toilet requisites </td><td>17.22</td></tr>
          <tr><td>Manufacture of other articles of paper and paperboard </td><td>17.29</td></tr>
          <tr><td>Printing of newspapers </td><td>18.11</td></tr>
          <tr><td>Other printing </td><td>18.12</td></tr>
          <tr><td>Manufacture of coke oven products </td><td>19.10</td></tr>
          <tr><td>Manufacture of refined petroleum products </td><td>19.20</td></tr>
          <tr><td>Manufacture of industrial gases </td><td>20.11</td></tr>
          <tr><td>Manufacture of dyes and pigments </td><td>20.12</td></tr>
          <tr><td>Manufacture of other inorganic basic chemicals </td><td>20.13</td></tr>
          <tr><td>Manufacture of other organic basic chemicals </td><td>20.14</td></tr>
          <tr><td>Manufacture of fertilisers and nitrogen compounds </td><td>20.15</td></tr>
          <tr><td>Manufacture of plastics in primary forms </td><td>20.16</td></tr>
          <tr><td>Manufacture of synthetic rubber in primary forms </td><td>20.17</td></tr>
          <tr><td>Manufacture of pesticides and other agrochemical products </td><td>20.20</td></tr>
          <tr><td>Manufacture of paints, varnishes and similar coatings, printing ink and mastics </td><td>20.30</td></tr>
          <tr><td>Manufacture of soap and detergents, cleaning and polishing preparations </td><td>20.41</td></tr>
          <tr><td>Manufacture of perfumes and toilet preparations </td><td>20.42</td></tr>
          <tr><td>Manufacture of explosives </td><td>20.51</td></tr>
          <tr><td>Manufacture of glues </td><td>20.52</td></tr>
          <tr><td>Manufacture of essential oils </td><td>20.53</td></tr>
          <tr><td>Manufacture of other chemical products n.e.c. </td><td>20.59</td></tr>
          <tr><td>Manufacture of man-made fibres </td><td>20.60</td></tr>
          <tr><td>Manufacture of basic pharmaceutical products </td><td>21.10</td></tr>
          <tr><td>Manufacture of pharmaceutical preparations </td><td>21.20</td></tr>
          <tr><td>Manufacture of rubber tyres and tubes; retreading and rebuilding of rubber tyres </td><td>22.11</td></tr>
          <tr><td>Manufacture of other rubber products </td><td>22.19</td></tr>
          <tr><td>Manufacture of plastic plates, sheets, tubes and profiles </td><td>22.21</td></tr>
          <tr><td>Manufacture of plastic packing goods </td><td>22.22</td></tr>
          <tr><td>Manufacture of builders’ ware of plastic </td><td>22.23</td></tr>
          <tr><td>Manufacture of other plastic products </td><td>22.29</td></tr>
          <tr><td>Manufacture of flat glass </td><td>23.11</td></tr>
          <tr><td>Shaping and processing of flat glass </td><td>23.12</td></tr>
          <tr><td>Manufacture of hollow glass </td><td>23.13</td></tr>
          <tr><td>Manufacture of glass fibres </td><td>23.14</td></tr>
          <tr><td>Manufacture and processing of other glass, including technical glassware </td><td>23.19</td></tr>
          <tr><td>Manufacture of refractory products </td><td>23.20</td></tr>
          <tr><td>Manufacture of ceramic tiles and flags </td><td>23.31</td></tr>
          <tr><td>Manufacture of bricks, tiles and construction products, in baked clay </td><td>23.32</td></tr>
          <tr><td>Manufacture of ceramic household and ornamental articles </td><td>23.41</td></tr>
          <tr><td>Manufacture of ceramic sanitary fixtures </td><td>23.42</td></tr>
          <tr><td>Manufacture of ceramic insulators and insulating fittings </td><td>23.43</td></tr>
          <tr><td>Manufacture of other technical ceramic products </td><td>23.44</td></tr>
          <tr><td>Manufacture of other ceramic products </td><td>23.49</td></tr>
          <tr><td>Manufacture of cement </td><td>23.51</td></tr>
          <tr><td>Manufacture of lime and plaster </td><td>23.52</td></tr>
          <tr><td>Manufacture of concrete products for construction purposes </td><td>23.61</td></tr>
          <tr><td>Manufacture of plaster products for construction purposes </td><td>23.62</td></tr>
          <tr><td>Manufacture of ready-mixed concrete </td><td>23.63</td></tr>
          <tr><td>Manufacture of mortars </td><td>23.64</td></tr>
          <tr><td>Manufacture of fibre cement </td><td>23.65</td></tr>
          <tr><td>Manufacture of other articles of concrete, plaster and cement </td><td>23.69</td></tr>
          <tr><td>Cutting, shaping and finishing of stone </td><td>23.70</td></tr>
          <tr><td>Production of abrasive products </td><td>23.91</td></tr>
          <tr><td>Manufacture of other non-metallic mineral products n.e.c. </td><td>23.99</td></tr>
          <tr><td>Manufacture of basic iron and steel and of ferro-alloys  </td><td>24.10</td></tr>
          <tr><td>Manufacture of tubes, pipes, hollow profiles and related fittings, of steel </td><td>24.20</td></tr>
          <tr><td>Cold drawing of bars </td><td>24.31</td></tr>
          <tr><td>Cold rolling of narrow strip </td><td>24.32</td></tr>
          <tr><td>Cold forming or folding </td><td>24.33</td></tr>
          <tr><td>Cold drawing of wire </td><td>24.34</td></tr>
          <tr><td>Precious metals production </td><td>24.41</td></tr>
          <tr><td>Aluminium production </td><td>24.42</td></tr>
          <tr><td>Lead, zinc and tin production </td><td>24.43</td></tr>
          <tr><td>Copper production </td><td>24.44</td></tr>
          <tr><td>Other non-ferrous metal production </td><td>24.45</td></tr>
          <tr><td>Processing of nuclear fuel  </td><td>24.46</td></tr>
          <tr><td>Casting of iron </td><td>24.51</td></tr>
          <tr><td>Casting of steel </td><td>24.52</td></tr>
          <tr><td>Casting of light metals </td><td>24.53</td></tr>
          <tr><td>Casting of other non-ferrous metals </td><td>24.54</td></tr>
          <tr><td>Manufacture of metal structures and parts of structures </td><td>25.11</td></tr>
          <tr><td>Manufacture of doors and windows of metal </td><td>25.12</td></tr>
          <tr><td>Manufacture of central heating radiators and boilers </td><td>25.21</td></tr>
          <tr><td>Manufacture of other tanks, reservoirs and containers of metal </td><td>25.29</td></tr>
          <tr><td>Manufacture of steam generators, except central heating hot water boilers </td><td>25.30</td></tr>
          <tr><td>Manufacture of weapons and ammunition </td><td>25.40</td></tr>
          <tr><td>Forging, pressing, stamping and roll-forming of metal; powder metallurgy </td><td>25.50</td></tr>
          <tr><td>Treatment and coating of metals </td><td>25.61</td></tr>
          <tr><td>Machining </td><td>25.62</td></tr>
          <tr><td>Manufacture of cutlery </td><td>25.71</td></tr>
          <tr><td>Manufacture of locks and hinges </td><td>25.72</td></tr>
          <tr><td>Manufacture of tools </td><td>25.73</td></tr>
          <tr><td>Manufacture of steel drums and similar containers </td><td>25.91</td></tr>
          <tr><td>Manufacture of light metal packaging  </td><td>25.92</td></tr>
          <tr><td>Manufacture of wire products, chain and springs </td><td>25.93</td></tr>
          <tr><td>Manufacture of fasteners and screw machine products </td><td>25.94</td></tr>
          <tr><td>Manufacture of other fabricated metal products n.e.c. </td><td>25.99</td></tr>
          <tr><td>Manufacture of electronic components </td><td>26.11</td></tr>
          <tr><td>Manufacture of loaded electronic boards </td><td>26.12</td></tr>
          <tr><td>Manufacture of computers and peripheral equipment </td><td>26.20</td></tr>
          <tr><td>Manufacture of communication equipment </td><td>26.30</td></tr>
          <tr><td>Manufacture of consumer electronics </td><td>26.40</td></tr>
          <tr><td>Manufacture of instruments and appliances for measuring, testing and navigation </td><td>26.51</td></tr>
          <tr><td>Manufacture of watches and clocks </td><td>26.52</td></tr>
          <tr><td>Manufacture of irradiation, electromedical and electrotherapeutic equipment </td><td>26.60</td></tr>
          <tr><td>Manufacture of optical instruments and photographic equipment </td><td>26.70</td></tr>
          <tr><td>Manufacture of magnetic and optical media </td><td>26.80</td></tr>
          <tr><td>Manufacture of electric motors, generators and transformers </td><td>27.11</td></tr>
          <tr><td>Manufacture of electricity distribution and control apparatus </td><td>27.12</td></tr>
          <tr><td>Manufacture of batteries and accumulators </td><td>27.20</td></tr>
          <tr><td>Manufacture of fibre optic cables </td><td>27.31</td></tr>
          <tr><td>Manufacture of other electronic and electric wires and cables </td><td>27.32</td></tr>
          <tr><td>Manufacture of wiring devices </td><td>27.33</td></tr>
          <tr><td>Manufacture of electric lighting equipment </td><td>27.40</td></tr>
          <tr><td>Manufacture of electric domestic appliances </td><td>27.51</td></tr>
          <tr><td>Manufacture of non-electric domestic appliances </td><td>27.52</td></tr>
          <tr><td>Manufacture of other electrical equipment </td><td>27.90</td></tr>
          <tr><td>Manufacture of engines and turbines, except aircraft, vehicle and cycle engines </td><td>28.11</td></tr>
          <tr><td>Manufacture of fluid power equipment </td><td>28.12</td></tr>
          <tr><td>Manufacture of other pumps and compressors </td><td>28.13</td></tr>
          <tr><td>Manufacture of other taps and valves </td><td>28.14</td></tr>
          <tr><td>Manufacture of bearings, gears, gearing and driving elements </td><td>28.15</td></tr>
          <tr><td>Manufacture of ovens, furnaces and furnace burners </td><td>28.21</td></tr>
          <tr><td>Manufacture of lifting and handling equipment </td><td>28.22</td></tr>
          <tr><td>Manufacture of office machinery and equipment (except computers and peripheral equipment) </td><td>28.23</td></tr>
          <tr><td>Manufacture of power-driven hand tools </td><td>28.24</td></tr>
          <tr><td>Manufacture of non-domestic cooling and ventilation equipment </td><td>28.25</td></tr>
          <tr><td>Manufacture of other general-purpose machinery n.e.c. </td><td>28.29</td></tr>
          <tr><td>Manufacture of agricultural and forestry machinery </td><td>28.30</td></tr>
          <tr><td>Manufacture of metal forming machinery </td><td>28.41</td></tr>
          <tr><td>Manufacture of other machine tools </td><td>28.49</td></tr>
          <tr><td>Manufacture of machinery for metallurgy </td><td>28.91</td></tr>
          <tr><td>Manufacture of machinery for mining, quarrying and construction </td><td>28.92</td></tr>
          <tr><td>Manufacture of machinery for food, beverage and tobacco processing </td><td>28.93</td></tr>
          <tr><td>Manufacture of machinery for textile, apparel and leather production </td><td>28.94</td></tr>
          <tr><td>Manufacture of machinery for paper and paperboard production </td><td>28.95</td></tr>
          <tr><td>Manufacture of plastics and rubber machinery </td><td>28.96</td></tr>
          <tr><td>Manufacture of other special-purpose machinery n.e.c. </td><td>28.99</td></tr>
          <tr><td>Manufacture of motor vehicles </td><td>29.10</td></tr>
          <tr><td>Manufacture of bodies (coachwork) for motor vehicles; manufacture of trailers and semi-trailers </td><td>29.20</td></tr>
          <tr><td>Manufacture of electrical and electronic equipment for motor vehicles </td><td>29.31</td></tr>
          <tr><td>Manufacture of other parts and accessories for motor vehicles </td><td>29.32</td></tr>
          <tr><td>Building of ships and floating structures </td><td>30.11</td></tr>
          <tr><td>Building of pleasure and sporting boats </td><td>30.12</td></tr>
          <tr><td>Manufacture of railway locomotives and rolling stock </td><td>30.20</td></tr>
          <tr><td>Manufacture of air and spacecraft and related machinery </td><td>30.30</td></tr>
          <tr><td>Manufacture of military fighting vehicles </td><td>30.40</td></tr>
          <tr><td>Manufacture of motorcycles </td><td>30.91</td></tr>
          <tr><td>Manufacture of bicycles and invalid carriages </td><td>30.92</td></tr>
          <tr><td>Manufacture of other transport equipment n.e.c. </td><td>30.99</td></tr>
          <tr><td>Manufacture of office and shop furniture </td><td>31.01</td></tr>
          <tr><td>Manufacture of kitchen furniture </td><td>31.02</td></tr>
          <tr><td>Manufacture of mattresses </td><td>31.03</td></tr>
          <tr><td>Manufacture of other furniture </td><td>31.09</td></tr>
          <tr><td>Striking of coins </td><td>32.11</td></tr>
          <tr><td>Manufacture of jewellery and related articles </td><td>32.12</td></tr>
          <tr><td>Manufacture of imitation jewellery and related articles </td><td>32.13</td></tr>
          <tr><td>Manufacture of musical instruments </td><td>32.20</td></tr>
          <tr><td>Manufacture of sports goods </td><td>32.30</td></tr>
          <tr><td>Manufacture of games and toys </td><td>32.40</td></tr>
          <tr><td>Manufacture of medical and dental instruments and supplies </td><td>32.50</td></tr>
          <tr><td>Manufacture of brooms and brushes </td><td>32.91</td></tr>
          <tr><td>Other manufacturing n.e.c.  </td><td>32.99</td></tr>
        </table><h2 id="nace-d" class="heading-medium">D. Electricity, gas, steam and air conditioning supply</h2><table><tr><th>Activity</th><th>NACE code</th></tr>
          <tr><td>Production of electricity </td><td>35.11</td></tr>
          <tr><td>Transmission of electricity </td><td>35.12</td></tr>
          <tr><td>Distribution of electricity </td><td>35.13</td></tr>
          <tr><td>Trade of electricity </td><td>35.14</td></tr>
          <tr><td>Manufacture of gas </td><td>35.21</td></tr>
          <tr><td>Distribution of gaseous fuels through mains </td><td>35.22</td></tr>
          <tr><td>Trade of gas through mains </td><td>35.23</td></tr>
          <tr><td>Steam and air conditioning supply </td><td>35.30</td></tr>
        </table><h2 id="nace-e" class="heading-medium">E. Water supply; sewerage, waste management and remediation activities</h2><table><tr><th>Activity</th><th>NACE code</th></tr>
          <tr><td>Water collection, treatment and supply </td><td>36.00</td></tr>
          <tr><td>Sewerage </td><td>37.00</td></tr>
          <tr><td>Treatment and disposal of non-hazardous waste </td><td>38.21</td></tr>
          <tr><td>Treatment and disposal of hazardous waste </td><td>38.22</td></tr>
          <tr><td>Recovery of sorted materials </td><td>38.32</td></tr>
          <tr><td>Remediation activities and other waste management services </td><td>39.00</td></tr>
        </table><h2 id="nace-f" class="heading-medium">F. Construction</h2><table><tr><th>Activity</th><th>NACE code</th></tr>
          <tr><td>Construction of residential and non-residential buildings </td><td>41.20</td></tr>
          <tr><td>Construction of roads and motorways </td><td>42.11</td></tr>
          <tr><td>Construction of railways and underground railways </td><td>42.12</td></tr>
          <tr><td>Construction of bridges and tunnels </td><td>42.13</td></tr>
          <tr><td>Construction of utility projects for fluids </td><td>42.21</td></tr>
          <tr><td>Construction of utility projects for electricity and telecommunications </td><td>42.22</td></tr>
          <tr><td>Construction of water projects </td><td>42.91</td></tr>
          <tr><td>Construction of other civil engineering projects n.e.c. </td><td>42.99</td></tr>
          <tr><td>Demolition </td><td>43.11</td></tr>
          <tr><td>Site preparation </td><td>43.12</td></tr>
          <tr><td>Test drilling and boring </td><td>43.13</td></tr>
          <tr><td>Other specialised construction activities n.e.c. </td><td>43.99</td></tr>
        </table><h2 id="nace-g" class="heading-medium">G. Wholesale and retail trade; repair of motor vehicles and motorcycles</h2><table><tr><th>Activity</th><th>NACE code</th></tr>
        </table><h2 id="nace-h" class="heading-medium">H. Transportation and storage</h2><table><tr><th>Activity</th><th>NACE code</th></tr>
          <tr><td>Passenger rail transport, interurban </td><td>49.10</td></tr>
          <tr><td>Freight rail transport </td><td>49.20</td></tr>
          <tr><td>Urban and suburban passenger land transport </td><td>49.31</td></tr>
          <tr><td>Other passenger land transport n.e.c. </td><td>49.39</td></tr>
          <tr><td>Transport via pipeline </td><td>49.50</td></tr>
          <tr><td>Sea and coastal passenger water transport </td><td>50.10</td></tr>
          <tr><td>Sea and coastal freight water transport </td><td>50.20</td></tr>
          <tr><td>Passenger air transport </td><td>51.10</td></tr>
          <tr><td>Freight air transport </td><td>51.21</td></tr>
          <tr><td>Warehousing and storage </td><td>52.10</td></tr>
        </table><h2 id="nace-i" class="heading-medium">I. Accommodation and food service activities</h2><table><tr><th>Activity</th><th>NACE code</th></tr>
          <tr><td>Hotels and similar accommodation </td><td>55.10</td></tr>
        </table><h2 id="nace-j" class="heading-medium">J. Information and communication</h2><table><tr><th>Activity</th><th>NACE code</th></tr>
          <tr><td>Computer facilities management activities </td><td>62.03</td></tr>
          <tr><td>Other information technology and computer service activities </td><td>62.09</td></tr>
          <tr><td>Data processing, hosting and related activities </td><td>63.11</td></tr>
        </table><h2 id="nace-k" class="heading-medium">K. Financial and insurance activities</h2><table><tr><th>Activity</th><th>NACE code</th></tr>
        </table><h2 id="nace-l" class="heading-medium">L. Real estate activities</h2><table><tr><th>Activity</th><th>NACE code</th></tr>
        </table><h2 id="nace-m" class="heading-medium">M. Professional, scientific and technical activities</h2><table><tr><th>Activity</th><th>NACE code</th></tr>
        </table><h2 id="nace-n" class="heading-medium">N. Administrative and support service activities</h2><table><tr><th>Activity</th><th>NACE code</th></tr>
          <tr><td>Rental and leasing of agricultural machinery and equipment </td><td>77.31</td></tr>
          <tr><td>Rental and leasing of construction and civil engineering machinery and equipment </td><td>77.32</td></tr>
          <tr><td>Rental and leasing of air transport equipment </td><td>77.35</td></tr>
          <tr><td>Rental and leasing of other machinery, equipment and tangible goods n.e.c. </td><td>77.39</td></tr>
          <tr><td>Activities of call centres </td><td>82.20</td></tr>
        </table><h2 id="nace-o" class="heading-medium">O. Public administration and defence; compulsory social security</h2><table><tr><th>Activity</th><th>NACE code</th></tr>
        </table><h2 id="nace-p" class="heading-medium">P. Education</h2><table><tr><th>Activity</th><th>NACE code</th></tr>
          <tr><td>Pre-primary education  </td><td>85.10</td></tr>
          <tr><td>Primary education  </td><td>85.20</td></tr>
          <tr><td>General secondary education  </td><td>85.31</td></tr>
          <tr><td>Technical and vocational secondary education  </td><td>85.32</td></tr>
          <tr><td>Post-secondary non-tertiary education </td><td>85.41</td></tr>
          <tr><td>Tertiary education </td><td>85.42</td></tr>
        </table><h2 id="nace-q" class="heading-medium">Q. Human health and social work activities</h2><table><tr><th>Activity</th><th>NACE code</th></tr>
          <tr><td>Hospital activities </td><td>86.10</td></tr>
          <tr><td>General medical practice activities </td><td>86.21</td></tr>
          <tr><td>Specialist medical practice activities </td><td>86.22</td></tr>
          <tr><td>Dental practice activities </td><td>86.23</td></tr>
          <tr><td>Other human health activities </td><td>86.90</td></tr>
          <tr><td>Residential nursing care activities </td><td>87.10</td></tr>
          <tr><td>Residential care activities for mental retardation, mental health and substance abuse </td><td>87.20</td></tr>
          <tr><td>Residential care activities for the elderly and disabled </td><td>87.30</td></tr>
          <tr><td>Other residential care activities </td><td>87.90</td></tr>
        </table><h2 id="nace-r" class="heading-medium">R. Arts, entertainment and recreation</h2><table><tr><th>Activity</th><th>NACE code</th></tr>
          <tr><td>Botanical and zoological gardens and nature reserves activities </td><td>91.04</td></tr>
          <tr><td>Activities of amusement parks and theme parks </td><td>93.21</td></tr>
        </table><h2 id="nace-s" class="heading-medium">S. Other service activities</h2><table><tr><th>Activity</th><th>NACE code</th></tr>
          <tr><td>Funeral and related activities </td><td>96.03</td></tr>
        </table><h2 id="nace-t" class="heading-medium">T. Activities of households as employers; undifferentiated goods- and services-producing activities of households for own use</h2><table><tr><th>Activity</th><th>NACE code</th></tr>
        </table><h2 id="nace-u" class="heading-medium">U. Activities of extraterritorial organisations and bodies</h2><table><tr><th>Activity</th><th>NACE code</th></tr>
        </table>

        </div>
    </div>
</main>
