<main id="content" tabindex="-1" role="main">

  {{> common/betaBanner }}
  {{> common/backLink }}

  <div class="grid-row">
    <div class="column-two-thirds">

      {{> common/errorSummary }}
      {{> common/pageHeading pageHeading }}

      <div id="operating-under-500-hours-description">
        <p>
          Existing MCPs operating less than 500 hours per year, as a 5 year rolling average, are exempt from emission limit values (ELV).
        </p>

        <p>
          New MCPs operating less than 500 hours per year, as a 3 year rolling average, are exempt from meeting ELV. However, a limit of 100 mg/m3 dust applies to biomass MCPs.
        </p>

        <p>
          MCPs that are also a Part B activity must meet ELV even if the MCP operates for less than 500 hours per year.
        </p>

        <p>
          MCPs that are also SGs will still need a permit and will have to comply with the conditions. If you operate an MCP that is also a SG, the relevant SG ELV will apply.
        </p>

        <p>
          <div id="declaration-warning-notice" class="notice">
            <i class="icon icon-important">
              <span id="declaration-warning-notice-hidden" class="visually-hidden">Warning</span>
            </i>
            <strong id="declaration-warning-notice-content" class="bold-small">
              If you claim this, we will add a condition to your permit which will not allow you to operate for more than 500 hours a year.
            </strong>
          </div>
        </p>
      </div>

      <form id="form" method="POST" action="{{formAction}}" novalidate="novalidate">
        {{> common/csrfToken token=DefraCsrfToken}}

        <div class="form-group {{#getFormErrorGroupClass errors.operating-under-500-hours}}{{/getFormErrorGroupClass}}">
          <fieldset>

            <legend id="operating-under-500-hours-legend" class="visually-hidden" aria-describedby="a">
              Is your MCP operating less than 500 hours a year?
            </legend>

            {{> common/fieldError fieldId='operating-under-500-hours-error' message=errors.operating-under-500-hours }}
            <div class="multiple-choice">
              <input id="operating-under-500-hours-yes" type="radio" name="operating-under-500-hours" value="yes"{{#if formValues.operating-under-500-hours}} checked="checked"{{/if}}>
              <label id="operating-under-500-hours-yes-label" for="operating-under-500-hours-yes">
                Yes, I declare that we will operate for less than 500 hours a year on average and meet the conditions to be exempt from ELV.
              </label>
            </div>

            <div class="multiple-choice">
              <input id="operating-under-500-hours-no" type="radio" name="operating-under-500-hours" value="no"{{#if formValues.operating-under-500-hours-no}} checked="checked"{{/if}}>
              <label id="operating-under-500-hours-no-label" for="operating-under-500-hours-no">
                No, we will operate for more than 500 hours a year.
              </label>
            </div>

          </fieldset>
        </div>

        {{> common/submitButton }}
      </form>
    </div>
  </div>

</main>