<main id="content" tabindex="-1" role="main">

  {{> common/betaBanner }}

  {{> common/backLink }}

  <div class="grid-row">
    <div class="column-two-thirds">

      {{> common/errorSummary }}

      {{> common/pageHeading pageHeading }}

      <form id="permit-select-form" method="POST" action="{{formAction}}" novalidate="novalidate">
        {{> common/csrfToken token=DefraCsrfToken}}

        <fieldset>
          <legend class="visuallyhidden">{{ pageHeading }}</legend>

          <p id="select-permit-hint-text">Showing permits for <span id="permit-type-description">{{category}}</span>.</p>

          <div id="chosen-permit" class="form-group {{#getFormErrorGroupClass errors.chosen-permit}}{{/getFormErrorGroupClass}}">
            {{> common/fieldError fieldId='chosen-permit-error' message=errors.chosen-permit }}

            {{#each standardRules}}
            <div class="multiple-choice permit-selector">
              <input id="chosen-permit-{{this.codeForId}}-input" type="radio" name="chosen-permit" data-code="{{this.code}}" value="{{this.cryptoId}}">
              <label id="chosen-permit-{{this.codeForId}}-label" class="selection-button-radio permit-item" for="chosen-permit-{{this.codeForId}}-input">
                <span id="chosen-permit-{{this.codeForId}}-name" class="permit-name">
                  {{this.selectionDisplayName}}
                  {{#if this.limits}}
                  <br>
                  <span id="chosen-permit-{{this.codeForId}}-weight" class="permit-weight">
                    {{this.limits}}
                  </span>
                  {{/if}}
                </span>
                <span id="chosen-permit-{{this.codeForId}}-code" class="permit-code">{{this.code}}</span>
              </label>
             </div>
             {{/each}}
          </div>

        </fieldset>

        {{> common/submitButton }}
      </form>

    </div>
  </div>
</main>
