<main id="content" role="main">

  {{> common/betaBanner }}

  <div class="grid-row">
    <div class="column-two-thirds">

      {{> common/errorSummary }}

      {{> common/pageHeading pageHeading }}

      <form method="POST" action="{{ formAction }}">
        <input id="defra-csrf-token" type="hidden" name="DefraCsrfToken" value="{{DefraCsrfToken}}">

        <div class="form-group">
          <button id="permit-category-submit" type="submit" class="button">Continue</button>
        </div>

      </form>

    </div>
  </div>
</main>
