<main id="content" role="main">

  {{> common/betaBanner }}

  <div class="grid-row">
    <div class="column-two-thirds">

      {{> common/pageHeading pageHeading }}

      <div class="form-group">
        <p id="personal-information-charter-paragraph-1">The Environment Agency runs the standard rules waste permit application
          service. Their
          <a id="personal-information-charter-link" rel="noopener noreferrer"
             href="https://www.gov.uk/government/organisations/environment-agency/about/personal-information-charter">
            personal information charter</a>
          explains how they deal with your information.</p>

        <p id="personal-information-charter-paragraph-2">We normally put all the information in your application on a public register unless
          you've asked us to treat
          some information as confidential, and we agree with your request.</p>

        <p id="personal-information-charter-paragraph-3">We won’t put any dates of birth in the public register.</p>

        <p id="public-register-information">The information in the public register will include:</p>
        <ul class="list list-bullet">
          <li id="public-register-information-item-1">the name and address of the responsible organisation or person</li>
          <li id="public-register-information-item-2">the permit you have applied for</li>
          <li id="public-register-information-item-3">the site location</li>
        </ul>

        <p id="personal-information">We may also use the personal information you give us to:</p>
        <ul class="list list-bullet">
          <li id="personal-information-item-1">contact you about our customer service</li>
          <li id="personal-information-item-2">send you environmental information, or consult you about environmental issues</li>
          <li id="personal-information-item-3">carry out research on environmental issues</li>
          <li id="personal-information-item-4">prevent someone from breaking environmental laws</li>
          <li id="personal-information-item-5">investigate and take action when someone may have broken environmental laws</li>
          <li id="personal-information-item-6">respond to freedom of information requests (if data protection law allows it)</li>
        </ul>

        <p id="sharing-information">We may give your information to our agents or representatives, so they can do any of these things for us. And
          we may share your information with other organisations if the law says we must.</p>
      </div>
    </div>
  </div>
</main>
