<main id="content" tabindex="-1" role="main">

  {{> common/betaBanner }}

  <div class="grid-row">
    <div class="column-two-thirds">

      {{> common/pageHeading pageHeading }}

      <p id="personal-information-charter-paragraph-1">
        We are the Environment Agency and we run the apply for an environmental permit service.
        We are the data controller for this service.
        A data controller determines how and why personal data is processed.
      </p>

      <p id="personal-information-charter-paragraph-2">Our
        <a id="personal-information-charter-link" rel="noopener noreferrer"
           href="https://www.gov.uk/government/organisations/environment-agency/about/personal-information-charter">
          personal information charter</a>
        explains how we deal with your information and your rights.
      </p>


      <h2 id="personal-information-heading-1" class="heading-medium">The data we need</h2>

      <p id="personal-information">The personal data we collect includes:</p>
      <ul class="list list-bullet">
        <li id="personal-information-item-1">names, dates of birth, addresses, emails and contact details</li>
        <li id="personal-information-item-2">details of convictions or bankruptcy</li>
        <li id="personal-information-item-3">questions, queries or feedback you leave, including your email address if you contact us</li>
        <li id="personal-information-item-4">your Internet Protocol (IP) address, and details of which version of web browser you use</li>
      </ul>

      <p id="personal-information-charter-paragraph-3">
        We are allowed to process your data because we have official authority as the environmental regulator.
        The legal basis for processing this data is to perform a task in the public interest that is set out in law.
      </p>

      <p id="personal-information-charter-paragraph-4">
        If you do not give us this data we will not be able to process your waste permit application.
      </p>


      <h2 id="personal-information-heading-2" class="heading-medium">What we do with your data</h2>

      <p id="personal-information-charter-paragraph-5">
        We use this personal data to help decide if the applicant is suitable to get a permit.
      </p>

      <p id="personal-information-charter-paragraph-6">
        We do not use your data to make an automated decision or for automated profiling.
      </p>

      <p id="personal-information-charter-paragraph-7">
        We put all the information in your application on a public register.
        If you can prove that some information is commercially or industrially confidential,
        we will consider removing that information from the register.
      </p>

      <p id="personal-information-charter-paragraph-8">
        We may also use the personal information you give us to contact you about our service.
      </p>


      <h2 id="personal-information-heading-3" class="heading-medium">How long we keep your data</h2>

      <p id="personal-information-charter-paragraph-9">
        We will keep the personal data while the permit is in use and for 6 years after you surrender the permit.
        If the permit is for a landfill site, we keep the data for 10 years after surrender.
      </p>


      <h2 id="personal-information-heading-4" class="heading-medium">Where your data is processed and stored</h2>

      <p id="personal-information-charter-paragraph-10">
        We transfer your data through Amazon Web Services servers in Ireland.
        We store the data on Microsoft Azure servers in Ireland.
      </p>

      <p id="personal-information-charter-paragraph-11">
        We will not share your data with anyone else outside the Environment Agency without your consent.
      </p>

      <p id="personal-information-charter-paragraph-12">
        The data will not be transferred outside the European Economic Area.
      </p>

      <p id="personal-information-charter-paragraph-13">
        This notice was last updated on 28 May 2021.
      </p>

    </div>
  </div>
</main>
