<main id="content" role="main">

  {{> common/betaBanner }}

  {{> common/backLink }}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 id="page-heading" class="form-title heading-large">{{ pageHeading }}</h1>
      <form id="home-page-from" action="{{ formAction }}" method="post" class="form">
        <input id="defra-csrf-token" type="hidden" name="DefraCsrfToken" value="{{DefraCsrfToken}}">

        <p>
          Example common partial:
        </p>

        {{> common/test}}

        <div class="form-group">
          <input type="submit" class="button" value="Start">
        </div>

      </form>
    </div>
  </div>

</main>
