<main id="content" role="main">

  {{> common/betaBanner }}

  <div class="grid-row">
    <div class="column-two-thirds">

      {{> common/errorSummary }}

      <h1 id="site-heading" class="heading-large">{{ pageHeading }}</h1>

      <p>The site is the area you want the permit to cover.</p>

      <form method="POST" action="site">

        <div class="form-group {{#getFormErrorGroupClass errors.siteName}}{{/getFormErrorGroupClass}}">
          <label class="form-label" for="site-name">
            <span id="site-name-label">Site name</span>
            <span class="form-hint">If it doesn’t already have a name, enter the name you’ll use</span>
          </label>

          {{> common/fieldError fieldId='site-name-error' message=errors.siteName }}

          <input class="form-control form-control-char-60" id="site-name" name="site-name" type="text" value="{{formValues.siteName}}">
        </div>

        <div class="form-group {{#getFormErrorGroupClass errors.anotherName}}{{/getFormErrorGroupClass}}">
          <label class="form-label" for="another-name">
            Another name
            <span class="form-hint">If it doesn’t already have a name, enter the name you’ll use</span>
          </label>

          {{> common/fieldError message=errors.anotherName }}

          <input class="form-control form-control-char-60" id="another-name" name="another-name" type="text" value="{{formValues.anotherName}}">
        </div>

        <div class="form-group">
          <button id="site-submit" type="submit" class="button">Continue</button>
        </div>

      </form>

    </div>
  </div>

  <p>
    Example partial with CSS styling from the assets/sass folder:
  </p>
<br>

  <p>
    {{> example}}
  </p>

  <br>
  <br>

  <p>
    <a href="/">Back</a>
  </p>

</main>
