<main id="content" tabindex="-1" role="main">

  {{> common/betaBanner }}

  {{> common/backLink }}

  <div class="grid-row">
    <div class="column-two-thirds">

      {{> common/errorSummary }}

      {{> common/pageHeading pageHeading }}

      <p id="site-namesubheading">The site is the area you want the permit to cover.</p>

      <form method="POST" action="{{formAction}}" novalidate="novalidate">
        {{> common/csrfToken token=DefraCsrfToken}}

        <div class="form-group {{#getFormErrorGroupClass errors.site-name}}{{/getFormErrorGroupClass}}">
          <label class="form-label" for="site-name">
            <span id="site-name-label">Site name</span>
            <span id="site-name-hint" class="form-hint">If it does not already have a name, enter the name you will use</span>
          </label>

          {{> common/fieldError fieldId='site-name-error' message=errors.site-name }}

          <input class="form-control form-control-char-60 {{#if errors.site-name}}form-control-error{{/if}}" id="site-name" name="site-name" type="text" value="{{formValues.site-name}}">
        </div>

        {{> common/submitButton }}
      </form>

    </div>
  </div>

</main>
