<main id="content" role="main">

  {{> common/betaBanner}}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large" id="SITE_HEADING">What's the site name?</h1>

      <p>The site is the area you want the permit to cover.</p>

      <form method="POST" action="site">

        <div class="form-group">
          <label class="form-label" for="siteName">
            <span id="SITE_NAME_LABEL">Site name</span>
            <span class="form-hint">If it doesn’t already have a name, enter the name you’ll use</span>
          </label>
          <input class="form-control form-control-char-60" id="siteName" name="siteName" type="text" value="">
        </div>

        <div class="form-group">
          <button id="SITE_SUBMIT" type="submit" class="button">Continue</button>
        </div>

      </form>

    </div>
  </div>

  <p>
    Example partial with CSS styling from the assets/sass folder:
  </p>

  <p>
    {{> example}}
  </p>

  {{{ message }}}

  <br />
  <br />

  Site entered: {{ siteName }}
  {{#if errors}}
    <H2 id="SITE_ERROR">ERROR: {{errors.message}}</H2>
  {{/if}}

  <p>
    <a href="/">Back</a>
  </p>

</main>
