<main id="content" role="main">

  {{> common/betaBanner }}

  {{> common/backLink }}

  <div class="grid-row">
    <div class="column-two-thirds">

      {{> common/errorSummary }}

      <h1 id="page-heading" class="heading-large">{{ pageHeading }}</h1>

      <form method="POST" action="{{ formAction }}">
        <input id="defra-csrf-token" type="hidden" name="DefraCsrfToken" value="{{DefraCsrfToken}}">

        <div class="form-group {{#getFormErrorGroupClass errors.site-grid-reference}}{{/getFormErrorGroupClass}}">
          <label id="site-grid-reference-label" class="form-label" for="site-grid-reference">National Grid reference for the centre of the site
            <span id="site-grid-reference-hint" class="form-hint text">Enter 2 letters and 10 digits. For example, ST 58132 72695.</span>
          </label>
          {{> common/fieldError fieldId='site-grid-reference-error' message=errors.site-grid-reference }}
          <input type="text" class="form-control form-control-char-20" id="site-grid-reference" name="site-grid-reference" aria-describedby="ngr_help" value="{{ formValues.site-grid-reference }}" />
        </div>

        <details id="ngr_help">
          <summary><span id="site-grid-reference-summary" class="summary">Help to find the grid reference</span></summary>
          <div class="panel panel-border-narrow">
            <p>
              Use the free <a id="site-grid-reference-finder-link" href="http://gridreferencefinder.com/" target="_blank" rel="noopener noreferrer">UK Grid Reference Finder (opens new tab)</a>.
            </p>
            <ul id="grid-reference-help-list" class="list list-number">
              <li>Search for the location or postcode on the right of the page.</li>
              <li>Right-click to display the grid reference.</li>
              <li>Select the grid reference then copy and paste back on this page.</li>
            </ul>
          </div>
        </details>

        <div class="form-group">
          <button id="submit-button" type="submit" class="button">Continue</button>
        </div>
      </form>
    </div>
  </div>

</main>
