<main id="content" role="main">

  {{> common/betaBanner }}

  <div class="grid-row">
    <div class="column-two-thirds">

      {{> common/errorSummary }}

      {{> common/pageHeading pageHeading }}

      <form method="POST" action="{{formAction}}" novalidate="novalidate">
        {{> common/csrfToken token=DefraCsrfToken}}

        <fieldset>
          <legend class="visuallyhidden">{{ pageHeading }}</legend>

          <div class="form-group">
            <h2 class="bold-small">You can use this service if you:</h2>

            <ul class="list list-bullet">
              <li>want a mobile plant, land-spreading or treatment permits</li>
              <li>are applying for a limited company</li>
            </ul>

            <p>If you need another type of permit or you’re applying as an individual, partnership or organisation, download and fill the
              <a target="_blank" rel="noopener noreferrer"  href="https://www.gov.uk/guidance/waste-environmental-permits#how-to-apply-for-a-standard-rules-permit">standard rules permit application forms</a>.
            </p>
          </div>

          <div class="form-group">
            <h2 class="bold-small">What you need to apply</h2>

            <p>When you select a permit in the next step, we'll tell you what you need to do to apply and any the documents you will need.</p>
          </div>

          <input id="start-application" type="hidden" name="started-application" value="new">
        </fieldset>

        {{> common/submitButton }}
      </form>

    </div>
  </div>
</main>
