<main id="content" role="main">

  {{> common/betaBanner}}

  <div class="grid-row">
    <div class="column-two-thirds column-minimum">

      {{> common/errorSummary panelHeader='You need to complete these tasks'}}

      <h1 id="task-list-heading" class="heading-large">
        <span class="visually-hidden">Task list:</span>
        {{ pageHeading }}
      </h1>

      <p class="text">
        {{ standardRule.name }} - {{ standardRule.code }}<br>
        <a class="font-small" href="{{ permitCategoryRoute }}">Select a different permit</a>
      </p>

      <form method="post" action="{{ formAction }}" name="tasklist">
        <input type="hidden" name="DefraCsrfToken" value="{{DefraCsrfToken}}">

        <ol class="task-list">

          {{#each standardRule.sections}}
          <li>
            <h2 class="task-list-section">
              <span class="task-list-section-number">{{ this.sectionIndex }}. </span>{{ this.sectionName }}
            </h2>
            <ul class="task-list-items">
              {{#each this.sectionItems}}
                {{> common/taskListItem
                  id=this.id
                  label=this.label
                  href=this.href
                  completedLabelId=this.completedLabelId }}
              {{/each}}
            </ul>
          </li>
          {{/each}}

        </ol>
      </form>
    </div>
  </div>
</main>
