<main id="content" role="main">

    {{> common/betaBanner}}

    <div class="grid-row">
        <div class="column-two-thirds column-minimum">

            <form method="post" action="/v7/check/check-answers" name="tasklist">

                <h1 class="heading-large">
    <span class="font-medium" style="color:#6f777b">Apply for a standard rules waste permit:</span><br>
    Anaerobic digestion facility including use of the resultant biogas (waste recovery operation)<br>
    <span class="heading-medium">SR2012 No 12 &nbsp;
      <a class="font-small" href="/v7/selectpermit/permit-category2">select a different permit</a>
    </span>
    </h1>

                <ol class="task-list">

                    <!-- Before you apply ############################################################### -->
                    <li>
                        <h2 class="task-list-section">
              <span class="task-list-section-number">1. </span> Before you apply
            </h2>
                        <ul class="task-list-items">
                            <li class="task-list-item " id="check-permit-cost-and-time">

                                <a class="task-name" href="/v7/selectpermit/cost-and-time" aria-describedby="cost-and-time-completed">
                  Check permit cost and time
                </a>

                                <input type="hidden" name="complete[]" value="Check permit cost and time">

                            </li>

                            <!-- SPECIAL CASES ############################################ -->

                            <li class="task-list-item " id="confirm-that-your-operation-meets-the-rules">

                                <a class="task-name" href="/v7/read-rules/index" aria-describedby="operation-rules-complete">
                 Confirm that your operation meets the rules
               </a>

                                <input type="hidden" name="complete[]" value="Confirm that your operation meets the rules">

                            </li>

                            <li class="task-list-item " id="tell-us-if-youve-discussed-this-application-with-us">

                                <a class="task-name" href="&#10;                /v7/preapp/preapp-discussion&#10;              " aria-describedby="preapp-completed">
                  Tell us if you've discussed this application with us
                </a>

                                <input type="hidden" name="complete[]" value="Tell us if you've discussed this application with us">

                            </li>
                        </ul>
                    </li>



                    <!-- Complete application ############################################################### -->
                    <li>
                        <h2 class="task-list-section">
              <span class="task-list-section-number">2. </span> Complete application
            </h2>
                        <ul class="task-list-items">

                            <li class="task-list-item " id="give-contact-details">

                                <a class="task-name" href="&#10;                /v7/contact/contact-details&#10;              " aria-describedby="contact-details-completed">
                  Give contact details
                </a>

                                <input type="hidden" name="complete[]" value="Give contact details">

                            </li>
                            <li class="task-list-item " id="give-permit-holder-details">

                                <a class="task-name" href="&#10;                /v7/operator/site-operator&#10;              " aria-describedby="site-operator-completed">
                  Give permit holder details
                </a>

                                <input type="hidden" name="complete[]" value="Give permit holder details">

                            </li>

                            <!-- DONT'T SHOW SITE FOR MOBILE PERMITS -->


                            <li class="task-list-item " id="give-site-name-and-location">

                                <a class="task-name" href="&#10;                  /v7/site/site-name&#10;                " aria-describedby="site-name-completed">
                    Give site name and location
                  </a>

                                <input type="hidden" name="complete[]" value="Give site name and location">

                            </li>





                            <!-- Site plan conditional -->

                            <li class="task-list-item " id="upload-the-site-plan">

                                <a class="task-name" href="&#10;                /v7/evidence/upload-site-plan&#10;              " aria-describedby="site-plan-completed">
                  Upload the site plan
                </a>

                                <input type="hidden" name="complete[]" value="Upload the site plan">

                            </li>


                            <li class="task-list-item " id="upload-technical-management-qualifications">

                                <a class="task-name" href="&#10;                /v7/evidence/industry-scheme&#10;              " aria-describedby="industry-scheme-completed">
                  Upload technical management qualifications
                </a>

                                <input type="hidden" name="complete[]" value="Upload technical management qualifications">

                            </li>

                            <li class="task-list-item " id="tell-us-which-management-system-you-use">

                                <a class="task-name" href="&#10;                /v7/evidence/management-system&#10;              " aria-describedby="management-system-completed">
                  Tell us which management system you use
                </a>

                                <input type="hidden" name="complete[]" value="Tell us which management system you use">

                            </li>


                            <!-- FIRE PREVENTION PLAN ############################################ -->



                            <!-- Make confidentiality conditional to permit and in context rather than on task list? -->

                            <li class="task-list-item " id="confirm-confidentiality-needs">

                                <a class="task-name" href="&#10;                /v7/check/claim-confidentiality&#10;              " aria-describedby="confidentiality-completed">
                  Confirm confidentiality needs
                </a>

                                <input type="hidden" name="complete[]" value="Confirm confidentiality needs">

                            </li>

                        </ul>
                    </li>

                    <!-- Apply   ############################################################### -->
                    <li>
                        <h2 class="task-list-section">
              <span class="task-list-section-number">3. </span> Send and pay
            </h2>
                        <ul class="task-list-items">
                            <li class="task-list-item" id="submit-pay">
                                <a onclick="document.tasklist.submit(); return false;" class="task-name" href="#" aria-describedby="submit-and-pay">
                  Send application and pay
                </a>
                            </li>
                        </ul>
                    </li>

                </ol>


            </form>

        </div>
    </div>
</main>
