<main id="content" role="main">

  {{> common/betaBanner }}

  {{> common/backLink }}

  <div class="grid-row">
    <div class="column-two-thirds">

      {{> common/errorSummary }}

      <h1 id="page-heading" class="heading-large">{{ pageHeading }}</h1>

      {{#if annotations.length}}
      <h2 class="heading-small">
        Uploaded files
      </h2>
      <dl class="govuk-check-your-answers cya-questions-short cya-questions-fileupload">
        {{#each annotations}}
        <div>
          <dt class="cya-answer">
            {{this.filename}}
          </dt>
          <dd class="cya-change">
            <a href="{{this.removeAction}}">
              Remove file <span class="visuallyhidden">{{this.filename}}</span>
            </a>
          </dd>
        </div>
        {{/each}}
      </dl>

      {{else}}

      {{#if isWamitabQualification}}
      {{> upload_evidence/uploadWamitabQualificationDescription }}
      {{/if}}

      {{/if}}

      <form id="uploadForm" enctype="multipart/form-data" method="POST" action="{{uploadFormAction}}">
        <input id="defra-csrf-token-for-upload" type="hidden" name="DefraCsrfToken" value="{{DefraCsrfToken}}">
        <div>
          <label class="form-label" for="file">
            <span class="bold-small">Choose the certificate file</span>
            <span class="text form-hint"><span id="file-types">{{fileTypes}}</span> files, <span id="max-size">{{maxSize}}</span> maximum file size</span>
          </label>
        </div>

        <div id="uploader" class="form-group form-uploader">
          <div class="form-group {{#getFormErrorGroupClass errors.file}}{{/getFormErrorGroupClass}} {{#getFormErrorGroupClass errors.content-type}}{{/getFormErrorGroupClass}}">
            {{> common/fieldError fieldId='file-error' message=errors.file }}
            <input id="file" name="file" type="file" multiple="multiple">
            <input id="filename" name="technicalCertificateFile" type="hidden">
            <input name="technicalCertificateFileUploaded" value="{{technicalCertificateFileUploaded}}" type="hidden">
          </div>
          <button id="submit-upload" type="submit" class="upload-button button-secondary" name="submit-upload">Upload
            chosen file
          </button>
        </div>
      </form>

      <form method="POST" action="{{formAction}}">
        <input id="defra-csrf-token" type="hidden" name="DefraCsrfToken" value="{{DefraCsrfToken}}">
        <div class="form-group">
          {{#if canContinue}}
          <button id="submit-button" type="submit" class="button" name="Continue">Continue</button>
          {{else}}
          <button id="submit-button" type="submit" class="button" name="Continue" aria-disabled="true" disabled="disabled">Continue</button>
          {{/if}}
        </div>
      </form>

    </div>
  </div>

</main>
