<main id="content" role="main">

  {{> common/betaBanner }}

  {{> common/backLink }}

  <div class="grid-row">
    <div class="column-two-thirds">

      {{> common/errorSummary }}

      {{> common/pageHeading pageHeading }}

      {{#if annotations.length}}
      <div id="has-annotations">
        <h2 class="heading-small">
          Uploaded files
        </h2>
        <dl class="govuk-check-your-answers cya-questions-short cya-questions-fileupload">
          {{#each annotations}}
          <div>
            <dt class="cya-answer">
              {{this.filename}}
            </dt>
            <dd class="cya-change">
              <a href="{{this.removeAction}}">
                Remove file <span class="visuallyhidden">{{this.filename}}</span>
              </a>
            </dd>
          </div>
          {{/each}}
        </dl>
      </div>

      {{else}}

      <div id="has-no-annotations">
        {{#if isWamitabQualification}}
        {{> upload_evidence/uploadWamitabQualificationDescription }}
        {{/if}}
        {{#if isCourseRegistration}}
        {{> upload_evidence/uploadCourseRegistrationDescription }}
        {{/if}}
        {{#if isDeemedEvidence}}
        {{> upload_evidence/uploadDeemedEvidenceDescription }}
        {{/if}}
        {{#if isEsaEuSkills}}
        {{> upload_evidence/uploadEsaEuSkillsDescription }}
        {{/if}}
      </div>

      {{/if}}

      <form id="uploadForm" enctype="multipart/form-data" method="POST" action="{{uploadFormAction}}"  novalidate="novalidate">
        {{> common/csrfToken token=DefraCsrfToken}}
        <div>
          <label class="form-label" for="file">
            <span class="bold-small">Choose the certificate file</span>
            <span class="text form-hint">{{#if fileTypes.length}}<span id="file-types">{{fileTypes}}</span> files, {{/if}}<span id="max-size">{{maxSize}}</span> maximum file size</span>
          </label>
        </div>

        <div id="uploader" class="form-group form-uploader">
          <div class="form-group {{#getFormErrorGroupClass errors.file}}{{/getFormErrorGroupClass}} {{#getFormErrorGroupClass errors.content-type}}{{/getFormErrorGroupClass}}">
            {{> common/fieldError fieldId='file-error' message=errors.file }}
            <input id="file" name="file" type="file">
            <input id="filename" name="technicalCertificateFile" type="hidden">
            <input name="technicalCertificateFileUploaded" value="{{technicalCertificateFileUploaded}}" type="hidden">
          </div>
          <button id="submit-upload" type="submit" class="upload-button button-secondary" name="submit-upload">Upload
            chosen file
          </button>
        </div>
      </form>

      <form method="POST" action="{{formAction}}" novalidate="novalidate">
        {{> common/csrfToken token=DefraCsrfToken}}
        {{> common/submitButton }}
      </form>

    </div>
  </div>

</main>
