<main id="content" tabindex="-1" role="main">

  {{> common/betaBanner }}

  {{> common/backLink }}

  <div class="grid-row">
    <div class="column-two-thirds">

      {{> common/errorSummary }}

      {{> common/pageHeading pageHeading }}

      <p>Choose the assessments you need us to do for your application.</p>

      <p>
        These can be identified by using our guidance on
        <a href="https://www.gov.uk/guidance/control-and-monitor-emissions-for-your-environmental-permit" target="_blank">how to control your emissions (opens new tab)</a>
        and
        <a
          href="https://www.gov.uk/government/publications/fire-prevention-plans-environmental-permits/fire-prevention-plans-environmental-permits"
          target="_blank">fire prevention plans (opens new tab)</a>.
      </p>
      <p>
        You can also get detailed advice by use our
        <a
          href="https://www.gov.uk/government/publications/environmental-permit-pre-application-advice-form"
          target="_blank">basic pre-application service (opens new tab)</a>.
      </p>

      <form id="form" method="POST" action="{{formAction}}" novalidate="novalidate">
        {{> common/csrfToken token=DefraCsrfToken}}

        <fieldset>
          <legend id="legend" class="visuallyhidden">{{ pageHeading }}</legend>

          <div id="assessment" class="form-group {{#getFormErrorGroupClass errors.assessment}}{{/getFormErrorGroupClass}}">
            {{> common/fieldError fieldId='assessment-error' message=errors.assessment }}
            {{#each assessments}}
            <div class="multiple-choice">
              <input id="assessment-{{this.id}}-input" type="checkbox" name="assessment" value="{{this.id}}" {{#if this.isSelected}}checked="checked"{{/if}}>
              <label id="assessment-{{this.id}}-label" for="assessment-{{this.id}}-input">
                <span id="assessment-{{this.id}}-text">{{this.text}}</span>
              </label>
            </div>
            {{/each}}
          </div>

        </fieldset>

        <div class="form-group">
          <p><span id="helpline-text">Not sure? Call our helpline on</span> <a id="helpline-number" href="tel:+443708506506">03708 506 506.</a></p>
        </div>

        {{> common/submitButton }}

      </form>
    </div>
  </div>
</main>
