<main id="content" tabindex="-1" role="main">

  {{> common/betaBanner }}

  {{> common/backLink }}

  <div class="grid-row">
    <div class="column-two-thirds">

      {{> common/errorSummary }}

      {{> common/pageHeading pageHeading }}

      <p>
        The below activities are for waste operations.
        Any of these activities could also be an installation.
        To check you’re applying for the correct type of permit,
        <a id="activity-{{this.id}}-link" target="_blank" rel="noopener noreferrer"
          href="https://www.gov.uk/guidance/check-if-you-need-an-environmental-permit#what-you-need-a-permit-for">
          read the guidance on installations (opens new tab)
        </a>
      </p>

      <form id="form" method="POST" action="{{formAction}}" novalidate="novalidate">
        {{> common/csrfToken token=DefraCsrfToken}}

        <fieldset>
          <legend id="legend" class="visuallyhidden">{{ pageHeading }}</legend>

          <div id="activity" class="form-group {{#getFormErrorGroupClass errors.activity}}{{/getFormErrorGroupClass}}">
            {{> common/fieldError fieldId='activity-error' message=errors.activity }}
            {{#each activities}}
            <div class="multiple-choice" data-target="activity-{{this.id}}-hint">
              <input id="activity-{{this.id}}-input" type="radio" name="activity" value="{{this.id}}" {{#if this.isSelected}}checked="checked"{{/if}}>
              <label id="activity-{{this.id}}-label" for="activity-{{this.id}}-input" class="selection-button-radio">
                <span id="activity-{{this.id}}-text">{{this.text}}</span>
              </label>
            </div>
            {{/each}}
          </div>

        </fieldset>

        <div class="form-group">
          <p><a id="change-facility" href="{{previousLink}}">Change facility type</a>.</p>
        </div>

        {{> common/submitButton }}

      </form>
    </div>
  </div>
</main>
