<main id="content" tabindex="-1" role="main">

  {{> common/betaBanner }}

  {{> common/backLink }}

  <div class="grid-row">
    <div class="column-two-thirds">

      {{> common/errorSummary }}

      {{> common/pageHeading pageHeading }}

      <p>
        Enter the weights and make sure they are within the limits
        for a waste permit. If not, you'll need to apply for an
        installation permit.
      </p>

      <p>
        More information about daily limits
      </p>

      <form id="form" method="POST" action="{{formAction}}" novalidate="novalidate">
        {{> common/csrfToken token=DefraCsrfToken}}

        <fieldset>
          <legend id="legend" class="visuallyhidden">{{ pageHeading }}</legend>

          <div id="treatment" class="form-group {{#getFormErrorGroupClass errors.treatment}}{{/getFormErrorGroupClass}}">
            {{> common/fieldError fieldId='select-error' message=errors.select }}
            {{#each treatments}}
            <!--
            <div class="multiple-choice">
              <input id="{{this.id}}-input" type="checkbox" name="{{this.id}}" value="yes" {{#if this.isSelected}}checked="checked"{{/if}}>
              <label id="{{this.id}}-label" for="{{this.id}}-input">
                <span id="{{this.id}}-text">{{this.text}}</span>
              </label>
            </div>
            -->
            <div class="form-group">
              <label id="hazardous-throughput-label" class="form-label" for="hazardous-throughput">
                Daily capacity for {{this.text}}
              </label>
              {{> common/fieldError fieldId='hazardous-throughput-error' message=errors.hazardous-throughput}}
              <input class="form-control form-control-char-15 {{#if errors.hazardous-throughput}}form-control-error{{/if}}" id="hazardous-throughput" name="hazardous-throughput" type="text" value="{{formValues.hazardous-throughput}}">
              <span id="hazardous-throughput-unit">tonnes</span>
            </div>
            {{/each}}
          </div>

        </fieldset>

        <div class="form-group">
          <p><span id="helpline-text">Not sure? Call our helpline on</span> <a id="helpline-number" href="tel:+443708506506">03708 506 506.</a></p>
        </div>

        {{> common/submitButton }}

      </form>
    </div>
  </div>
</main>
