<main id="content" tabindex="-1" role="main">

  {{> common/betaBanner }} {{> common/backLink }}

  <div class="grid-row">
    <div class="column-two-thirds">
      {{> common/errorSummary }} {{> common/pageHeading pageHeading }}
      <form method="POST" action="{{formAction}}" novalidate="novalidate">
        {{> common/csrfToken token=DefraCsrfToken}}

        <dl class="govuk-check-your-answers cya-questions-short">
          {{#each partners}}
          <div id="partner-{{@index}}">
            <dt id="partner-name-{{@index}}" class="cya-question">{{name}}</dt>
            <dd class="cya-answer">
              <span id="partner-address-{{@index}}">{{fullAddress}}</span><br>
              <a id="partner-email-{{@index}}" href="mailto:{{email}}">{{email}}</a><br>
              Telephone: <span id="partner-telephone-{{@index}}">{{telephone}}</span><br>
              Date of birth: <span id="partner-dob-{{@index}}">{{dob}}</span><br>
            </dd>
            <dd class="cya-change">
              <a id="partner-change-{{@index}}" href="{{changeLink}}"><span>Change</span><span id="partner-change-name-{{@index}}" class="visuallyhidden">{{name}}</span></a>
              <br>
              <br>
              <a id="partner-delete-{{@index}}" href="{{deleteLink}}"><span>Delete</span><span id="partner-delete-name-{{@index}}" class="visuallyhidden">{{name}}</span></a>
            </dd>
          </div>
          {{/each}}
        </dl>

        {{#if addAnotherPartnerLink}}
        <div class="form-group">
          <p>
            <a id="add-another-partner-link" href="{{addAnotherPartnerLink}}">{{addButtonTitle}}</a>
          </p>
        </div>
        {{/if}}

        {{> common/submitButton text=submitButtonTitle}}
      </form>
    </div>
  </div>

</main>