<main id="content" tabindex="-1" role="main">

  {{> common/betaBanner }} {{> common/backLink }}

  <div class="grid-row">
    <div class="column-two-thirds">
      {{> common/errorSummary }} {{> common/pageHeading pageHeading }}
      <form method="POST" action="{{formAction}}" novalidate="novalidate">
        {{> common/csrfToken token=DefraCsrfToken}}

        <p id="paragraph-1">If you use a trading name, you should give that.</p>
        <p id="paragraph-2">If you don’t have a trading name, you should create a name that identifies your partnership. For example, you could use some of the partner’s names.</p>
        <p id="paragraph-3">If this is a registered company, go back and apply as a registered company</p>

        <div class="form-group {{#getFormErrorGroupClass errors.use-trading-name}}{{/getFormErrorGroupClass}}{{#getFormErrorGroupClass errors.trading-name}}{{/getFormErrorGroupClass}}">

          <fieldset>

            <legend id="trading-name-visually-hidden" class="visually-hidden">{{pageHeading}}</legend>
              <div id="give-trading-name">
                <label id="trading-name-label" class="form-label" for="trading-name">
                  Name for the partnership
                </label>
                {{> common/fieldError fieldId='trading-name-error' message=errors.trading-name }}
                <input id="trading-name" class="form-control form-control-char-50 {{#if errors.trading-name}}form-control-error{{/if}}" type="text" name="trading-name" value="{{ formValues.trading-name }}">
              </div>

          </fieldset>

        </div>

        <div id="paragraph-4" class="panel panel-border-wide">
          <p>The partners will be the legal permit holders and each will be responsible for the operation of the permit.</p>
        </div>

        {{> common/submitButton }}
      </form>
    </div>
  </div>

</main>