<main id="content" tabindex="-1" role="main">

  {{> common/betaBanner }}

  {{> common/backLink }}

  <div class="grid-row">
    <div class="column-two-thirds">

      {{> common/pageHeading pageHeading }}

      <p class="panel panel-border-wide">A organisation or group does not usually have the legal status needed to
        apply for and hold a permit.</p>

      <p>If the permit is for many properties we recommend that you apply as a management company.</p>

      <p>If the club, association or other group has post holders such as Chair, Treasurer and Secretary, they should
        all apply for the permit.</p>

      <p>If fewer than 6 people run the group, we recommend that all those running the group should apply.</p>

      <p class="notice">
        <i class="icon icon-important">
          <span class="visually-hidden">Warning</span>
        </i>
        <strong class="bold-small">
          The people named in the application will hold the permit in their own right. They will be personally
          responsible for the operation of the permit.
        </strong>
      </p>

      <div>
        <p><a id="apply-as-company-link" href="{{applyAsCompanyLink}}">Apply as a company</a></p>
        <p><a id="apply-as-post-holders-link" href="{{applyAsPostHoldersLink}}">Apply as post holders</a></p>
      </div>

    </div>
  </div>
</main>
