<main id="content" role="main">

  {{> common/betaBanner}}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">What's the site name?</h1>

      <p>The site is the area you want the permit to cover.</p>

      <form method="post" action="/v7/site/grid-reference">

        <div class="form-group">
          <label class="form-label" for="siteName">
            Site name
            <span class="form-hint">If it doesn’t already have a name, enter the name you’ll use</span>
        </label>
          <input class="form-control form-control-char-60" id="siteName" name="siteName" type="text" value="">
        </div>

        <div class="form-group">
          <input type="submit" class="button" value="Continue">
        </div>

      </form>

    </div>
  </div>

  <p>
    Example partial with CSS styling from the assets/sass folder:
  </p>

  <p>
    {{> example}}
  </p>

  <p>
    <a href="/">Back</a>
  </p>

</main>
