<div id="{{ concat 'director-list-item-' @index }}">
  <dt id="{{ concat 'director-name-' @index }}" class="director-name">
    {{this.firstName}} {{this.lastName}}
  </dt>
  <dd class="director-dob">
    <div class="form-group-day {{#getFormErrorGroupClass (getErrorMessage this.errors 'director-dob-day-' @index) }}{{/getFormErrorGroupClass}}">

      <label id="{{ concat 'visually-hidden-label-' @index }}" class="form-label visually-hidden" for="{{ concat 'director-dob-day-' @index }}">Birth day date for {{this.forenames}} {{this.surname}}</label>

      {{> common/fieldError fieldId=(concat 'director-dob-day-' @index '-error') message=(getErrorMessage this.errors 'director-dob-day-' @index) }}

      <input class="form-control sr-company-dob {{getErrorFieldClass this.errors}}" id="{{ concat 'director-dob-day-' @index }}" name="{{ concat 'director-dob-day-' @index }}" type="number"
        pattern="[0-9][0-9]" min="1" max="31" aria-describedby="sr-dob-month-year" value="{{this.dob.day}}">

      <span id="{{ concat 'dob-formatted-month-year-' @index }}" class="sr-dob-month-year">
        {{this.dateOfBirthFormatted}}
      </span>
    </div>
  </dd>
</div>
