<div id="{{ concat 'director-list-item-' @index }}">
  <dt id="{{ concat 'director-name-' @index }}" class="director-name">
    <label id="{{ concat 'label-' @index }}" class="form-label" for="{{ concat 'director-dob-day-' @index }}">
      {{this.firstName}} {{this.lastName}} <span class="visually-hidden">birth day date</span>
    </label>
  </dt>
  <dd class="director-dob">
    <div class="form-group-day {{#getFormErrorGroupClass (getErrorMessage this.errors 'director-dob-day-' @index) }}{{/getFormErrorGroupClass}}">
      {{> common/fieldError fieldId=(concat 'director-dob-day-' @index '-error') message=(getErrorMessage this.errors 'director-dob-day-' @index) }}

      <input class="form-control sr-company-dob {{getErrorFieldClass this.errors}}" id="{{ concat 'director-dob-day-' @index }}" name="{{ concat 'director-dob-day-' @index }}" type="number"
        min="1" max="31" aria-describedby="{{ concat 'dob-formatted-month-year-' @index }}" value="{{this.dob.day}}">

      <span id="{{ concat 'dob-formatted-month-year-' @index }}" class="sr-dob-month-year">
        {{this.dateOfBirthFormatted}}
      </span>
    </div>
  </dd>
</div>
