<div class="ordnance-survey-terms-conditions">
  <div class="form-group">
    <hr>
    <p class="text font-xsmall" id="os-notice">
    &copy; Crown copyright and database rights 2018 Ordnance Survey 100024198. Use of this addressing data is subject to the terms and conditions.
    </p>
  </div>

  <details id="ngr_help">
    <summary><span id="terms-and-conditions-summary font-xsmall" class="summary">Address data terms and conditions</span></summary>
    <div class="panel panel-border-narrow">
      <p class="text font-xsmall">Addressing information and mapping data from Ordnance Survey (OS) is &copy; Crown copyright and database rights 2018 OS 100024198.</p>

      <p class="text font-xsmall">Use of this data is subject to the following conditions by way of exception to the standard Open Government Licence (OGL) referred to at the foot of this page.</p>

      <h2 class="heading-small">Terms and conditions</h2>

      <ol class="list list-number text font-xsmall">
        <li>You are granted a non-exclusive, royalty free revocable licence solely to view the licensed mapping and addressing data for non-commercial purposes for the period during which we make it available.</li>
        <li>You are not permitted to copy, sub-license, distribute, sell or otherwise make available such data to third parties in any form.</li>
        <li>Third party rights to enforce the terms of this licence shall be reserved to OS.</li>
      </ol>
    </div>
  </details>
</div>
