<!--[if lte IE 8]>
  <link href="/public/stylesheets/application-ie8.css?APP_VERSION" rel="stylesheet" type="text/css" />
<![endif]-->
<!--[if gt IE 8]><!-->
  <link href="/public/stylesheets/application.css?APP_VERSION" media="screen" rel="stylesheet" type="text/css" />
<!-- <![endif]-->

<!--[if lte IE 8]>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
<![endif]-->
<!--[if gt IE 8]><!-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- <![endif]-->

<script src="/public/javascripts/application.min.js?APP_VERSION"></script>

<!-- Google Tag Manager -->
<script>
  (function (w, d, s, l, i) {
    w[l] = w[l] || []
    w[l].push({
      'gtm.start': new Date().getTime(),
      event: 'gtm.js'
    })
    var f = d.getElementsByTagName(s)[0],
      j = d.createElement(s),
      dl = l != 'dataLayer' ? '&l=' + l : ''
    j.async = true
    j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl
    f.parentNode.insertBefore(j, f)
  })(window, document, 'script', 'dataLayer', 'GTM-NVZ98G9')
</script>
<!-- End Google Tag Manager -->
