<!--[if lte IE 8]>
  <link href="/public/stylesheets/application-ie8.css?APP_VERSION" rel="stylesheet" type="text/css" />
<![endif]-->
<!--[if gt IE 8]><!-->
  <link href="/public/stylesheets/application.css?APP_VERSION" media="screen" rel="stylesheet" type="text/css" />
<!-- <![endif]-->

<!--[if lte IE 8]>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
<![endif]-->
<!--[if gt IE 8]><!-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- <![endif]-->

<script src="/public/javascripts/application.min.js?APP_VERSION"></script>
