<main id="content" role="main">

  {{> common/betaBanner }} {{> common/backLink }}

  <div class="grid-row">
    <div class="column-two-thirds">

      {{> common/errorSummary }}

      {{> common/pageHeading pageHeading }}

      {{#if showInvoiceSubheading}}
      <div id="invoice-subheading" class="panel panel-border-wide">
        <p>This should be where we can send invoices for your ongoing annual costs (the subsistence charge) after the permit has been issued.</p>
      </div>
      {{/if}}

      <form method="POST" action="{{formAction}}" novalidate="novalidate">
        {{> common/csrfToken token=DefraCsrfToken}}

        <fieldset>
          <legend class="visuallyhidden">UK postcode</legend>

          <div class="form-group {{#getFormErrorGroupClass errors.postcode}}{{/getFormErrorGroupClass}}">
            <label id="postcode-label" class="form-label" for="postcode">UK postcode
              <span id="postcode-hint" class="form-hint">For example, BS1 5AH</span>
            </label>
            {{> common/fieldError fieldId='postcode-error' message=errors.postcode }}
            <input type="text" class="form-control form-control-char-10" id="postcode" name="postcode" value="{{formValues.postcode}}" />
          </div>
        </fieldset>

        <p id="manual-hint">
          <a id="manual-address-link" href="{{manualAddressLink}}">
          <span class="visuallyhidden">Enter address manually</span>
          <span id="no-postcode-link-text">{{noPostcodeLink}}</span></a>
        </p>

        {{> common/submitButton text='Find address'}}

      </form>

      {{> ordnanceSurveyTermsConditions}}

    </div>
  </div>

</main>
