<main id="content" role="main">

  {{> common/betaBanner }}

  {{> common/backLink }}

  <div class="grid-row">
    <div class="column-two-thirds">

      {{> common/errorSummary }}

      {{> common/pageHeading pageHeading }}

      <form method="post" action="{{formAction}}">
        {{> common/csrfToken token=DefraCsrfToken}}
        <p>
          <span id="postcode-label" class="postcode-prefix">UK Postcode:</span>
          <span id="postcode-value" class="postcode">{{formValues.postcode}}</span>
          <a id="change-postcode-link" href="{{changePostcodeLink}}">
            Change<span class="visuallyhidden"> postcode</span>
        </a>
        </p>

        <fieldset>
          <legend id="manual-address" class="visuallyhidden">Select as address</legend>

          <div id="address-selection" class="form-group {{#getFormErrorGroupClass errors.select-address}}{{/getFormErrorGroupClass}}">
            {{> common/fieldError fieldId='select-address-error' message=errors.select-address }}

            <label id="select-address-label" class="form-label" for="select-address">Select an address</label>
            <select class="address-select form-control form-control-char-auto" id="select-address" name="select-address" aria-describedby="manual_hint">
              <option value="">{{formValues.addresses.length}} addresses found</option>
              {{#each formValues.addresses}}
                <option value="{{this}}">{{this}}</option>
              {{/each}}
            </select>
          </div>

          <p id="manual-hint">
            <a id="manual-address-link" href="{{manualAddressLink}}">
            <span class="visuallyhidden">Enter address manually</span>
            I can’t find the address in the list</a>
          </p>

        </fieldset>

        {{> common/submitButton }}
      </form>

    </div>
  </div>

</main>
