<main id="content" tabindex="-1" role="main">

  {{> common/betaBanner }}

  {{> common/backLink }}

  <div id="upload-file-panel" class="grid-row">
    <div class="column-two-thirds">

      {{> common/errorSummary }}

      {{> common/pageHeading pageHeading }}

      {{#if annotations.length}}

      {{> upload/annotations }}

      {{else}}

      <p>
        <span class="bold-small">1. Download this form and save on your computer</span>
        <br/>
        <a href="#">Emissions and monitoring template (Word doc)</a>
      </p>

      <p>
        <span class="bold-small">2. Complete the form and save it again</span>
        <br/>
        You will need to fill in the table with details of the emissions that result from the operating techniques at each of your waste operations. Fill in one table for each waste operation.
      </p>
      {{/if}}

      {{> upload/uploadForm }}
    </div>
  </div>

</main>
