<main id="content" tabindex="-1" role="main">

  {{> common/betaBanner }}

  {{> common/backLink }}

  <div id="upload-file-panel" class="grid-row">
    <div class="column-two-thirds">

      {{> common/errorSummary }}

      {{> common/pageHeading pageHeading }}

      {{#if annotations.length}}

      {{> upload/annotations }}

      {{else}}

      <ol class="list list-number bold-small">
        <li>
          <p>
            <span class="bold-small">Download this template and save it on your computer</span>
            <br>
            <span><a href="/public/images/pointSourceEmissionsTemplate/Point source emissions template WORD.docx" download="Point source emissions template.docx">Point source emissions template (Word doc)</a>
             | 
            <a href="/public/images/pointSourceEmissionsTemplate/Point source emissions template ODT.odt" download="Point source emissions template.odt">Open Document Text</a></span>
          </p>
        </li>
        <li>
          <span class="bold-small">Tell us about the emissions</span>
          <br>
          <span class="normal-weight">
            You have 2 options:
            <ol class="list list-bullet">
              <li>complete the table in the template - you must create one table for each waste operation</li>
              <li>reference another document you’ve uploaded that contains the information we need - you can also upload that document here</li>
            </ol>
          </span>
        </li>
        <li>
          <p>
            <span class="bold-small">Check if you need to provide more information</span><br>
            <span>You may need to provide additional information for your risk
            assessment -
            <a
              href="https://www.gov.uk/guidance/risk-assessments-for-your-environmental-permit#risks-from-your-specific-activity"
              target="_blank">read our guidance on assessing risks from specific
              activities</a>.</span>
          </p>
        </li>
        <li>
          <p>
            <span class="bold-small">Upload the completed template and any other documents</span>
            <br>
            <span>You must always upload the completed point source
              emissions template - you can also upload any other
              relevant documents here.</span>
          </p>
        </li>
      </ol>
      {{/if}}

      {{> upload/uploadForm }}
    </div>
  </div>

</main>
