<main id="content" tabindex="-1" role="main">

  {{> common/betaBanner }}

  {{> common/backLink }}

  <div id="upload-file-panel" class="grid-row">
    <div class="column-two-thirds">

      {{> common/errorSummary }}

      {{> common/pageHeading pageHeading }}

      {{#if annotations.length}}

      {{> upload/annotations }}

      {{else}}

      <div id="has-no-annotations" class="form-group">
        <div id="fire-prevention-plan-description">
          <p>You must include a fire prevention plan with your application, because your waste operation involves combustible waste.</p>
          <p>You should follow these steps to ensure you meet all the requirements:</p>
          <ol id="fire-prevention-plan-list" class="list list-number">
            <li id="fire-prevention-plan-list-item-1"><a href="https://www.gov.uk/government/publications/fire-prevention-plans-environmental-permits/fire-prevention-plans-environmental-permits"
              target="_blank" rel="noopener noreferrer">Read the fire prevention plan guidance (opens new tab).</a></li>
            <li id="fire-prevention-plan-list-item-1">Develop a plan which includes all of the measures in the guidance. To help you create a suitable plan,
              <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/950932/Fire_prevention_plan_template.odt" download>
                download the fire prevention plan template</a>.
            </li>
            <li id="fire-prevention-plan-list-item-1">Upload a copy of your completed plan.</li>
          </ol>
        </div>
      </div>

      {{/if}}

      {{> upload/uploadForm }}
    </div>
  </div>

</main>
