<main id="content" tabindex="-1" role="main">

  {{> common/betaBanner }}

  {{> common/backLink }}

  <div id="upload-file-panel" class="grid-row">
    <div class="column-two-thirds">

      {{> common/errorSummary }}

      {{> common/pageHeading pageHeading }}

      {{#if annotations.length}}

      {{> upload/annotations }}

      {{else}}

      <div id="has-no-annotations" class="form-group">
        <div id="course-registration-description">
          <p id="operator-competence-paragraph">
            Check the
            <a id="operator-competence-link" target="_blank" rel="noopener noreferrer" href="https://wamitab.org.uk/competence/operator-competence/">
              {{> abbreviations/WAMITAB id="course-registration-description-heading-abbr-1"}} risk tables (opens new tab)
            </a>
            to find the qualifications you need for this permit.
          </p>

          Low risk level:
          <ul class="list list-bullet" id="operator-competence-low-risk-level">
            <li>upload your WAMITAB or {{> abbreviations/EPOC id="course-registration-description-heading-abbr-2"}} course registration email or letter</li>
            <li>you must complete the qualification within 4 weeks of starting operations</li>
          </ul>

          Medium to high risk level:
          <ul class="list list-bullet" id="operator-competence-medium-high-risk-level">
            <li>upload your WAMITAB or EPOC course registration email or letter, or both if required</li>
            <li>you must complete the EPOC course or 4 units (relevant to this permit) of the WAMITAB qualification within 4 weeks of starting operations</li>
            <li>you must then get the full qualification within 12 months</li>
          </ul>
        </div>
      </div>

      {{/if}}

      {{> upload/uploadForm }}
    </div>
  </div>

</main>
