<main id="content" role="main">

  {{> common/betaBanner }}

  {{> common/backLink }}

  <div id="upload-file-panel" class="grid-row">
    <div class="column-two-thirds">

      {{> common/errorSummary }}

      {{> common/pageHeading pageHeading }}

      {{#if annotations.length}}

      {{> upload/annotations }}

      {{else}}

      <div id="has-no-annotations" class="form-group">
        <div id="course-registration-description">
          <p id="course-registration-description-heading" class="bold-small">Upload the {{> abbreviations/WAMITAB id="course-registration-description-heading-abbr-1"}} or {{> abbreviations/EPOC id="course-registration-description-heading-abbr-2"}} course registration email or letter.</p>
          {{#if wamitabRiskIsMediumOrHigh}}
          <div id="wamitab-risk-is-medium-or-high">
            <p>You must complete the EPOC course or 4 units of the {{> abbreviations/WAMITAB id="wamitab-risk-is-medium-or-high-abbr"}} qualification within 4 weeks of starting operations.</p>
            <p>You must then get a full qualification within 12 months of starting operations.</p>
          </div>
          {{else}}
          <p id="wamitab-risk-is-low">
            You must complete the qualification within 4 weeks of starting operating.
          </p>
          {{/if}}
          <p id="operator-competence-paragraph">
            Check the <a id="operator-competence-link" target="_blank" rel="noopener noreferrer" href="https://wamitab.org.uk/competence/operator-competence/">{{> abbreviations/WAMITAB id="operator-competence-link-abbr"}} risk tables (opens new tab)</a> to find the qualifications needed for this permit.
          </p>
        </div>
      </div>

      {{/if}}

      {{> upload/uploadForm }}
    </div>
  </div>

</main>
