<main id="content" tabindex="-1" role="main">

  {{> common/betaBanner }}

  {{> common/backLink }}

  <div id="upload-file-panel" class="grid-row">
    <div class="column-two-thirds">

      {{> common/errorSummary }}

      {{> common/pageHeading pageHeading }}

      {{#if annotations.length}}

      {{> upload/annotations }}

      {{else}}

      <div id="has-no-annotations" class="form-group">
        <div id="deemed-evidence-description">
          <span id="deemed-evidence-description-list-heading" class="bold-small">Upload evidence of one of these:</span>
          <ul id="deemed-evidence-description-list" class="list list-bullet">
            <li id="deemed-evidence-description-list-item-1">deemed competence</li>
            <li id="deemed-evidence-description-list-item-2">an Environment Agency assessment</li>
            <li id="deemed-evidence-description-list-item-3">that the person responsible was a nominated manager under the transitional provisions for previously exempt activities and passed the general knowledge assessment</li>
          </ul>
          <span id="deemed-evidence-description-important-info" class="bold-small">Also upload up-to-date relevant {{> abbreviations/WAMITAB  id="deemed-evidence-description-important-info-abbr"}} continuing competence certificates.</span>
          <p id="deemed-evidence-description-last-paragraph">
            You must pass a new continuing competence assessment every 2 years.
          </p>
        </div>
      </div>

      {{/if}}

      {{> upload/uploadForm }}
    </div>
  </div>

</main>
