<main id="content" role="main">

  {{> common/betaBanner }}

  {{> common/backLink }}

  <div class="grid-row">
    <div class="column-two-thirds">

      {{> common/errorSummary }}

      {{> common/pageHeading pageHeading }}

      {{#if annotations.length}}

      {{> upload/annotations }}

      {{else}}

      <div id="has-no-annotations" class="form-group">
        <div id="deemed-evidence-description">
          <span class="bold-small">Upload evidence of one of these:</span>
          <ul class="list list-bullet">
            <li>deemed competence</li>
            <li>an Environment Agency assessment</li>
            <li>that they were a nominated manager under the transitional provisions for previously exempt activities and passed the general knowledge assessment.</li>
          </ul>
          <span class="bold-small">Also upload up-to-date relevant {{> abbreviations/WAMITAB }} continuing competence certificates.</span>
          <p>
            You must pass a new continuing competence assessment every 2 years.
          </p>
        </div>
      </div>

      {{/if}}

      {{> upload/uploadForm }}
    </div>
  </div>

</main>
