<main id="content" role="main">

  {{> common/betaBanner }}

  {{> common/backLink }}

  <div class="grid-row">
    <div class="column-two-thirds">

      {{> common/errorSummary }}

      {{> common/pageHeading pageHeading }}

      {{#if annotations.length}}

      {{> uploads/annotations }}

      {{else}}

      <div id="has-no-annotations" class="form-group">
        <div id="deemed-evidence-description">
          <p>
            Upload evidence of one of these:
          </p>
          <ul class="list list-bullet">
            <li>deemed competence</li>
            <li>an Environment Agency assessment</li>
            <li>that they were a nominated manager and passed the general knowledge assessment</li>
          </ul>
          <p>
            You also need to upload an up-to-date continuing competence certificate from {{> abbreviations/WAMITAB }}. You should renew the continuing competence certificate every 2 years.
          </p>
        </div>
      </div>

      {{/if}}

      {{> uploads/uploadForm }}
    </div>
  </div>

</main>
