<main id="content" role="main">

  {{> common/betaBanner }}

  {{> common/backLink }}

  <div class="grid-row">
    <div class="column-two-thirds">

      {{> common/errorSummary }}

      {{> common/pageHeading pageHeading }}

      {{#if annotations.length}}

      {{> upload/annotations }}

      {{else}}

      <div id="has-no-annotations" class="form-group">
        <div id="esa-eu-skills-description">
          <span class="bold-small">Upload a copy of the Competence Management System certificate.</span>
          <p>
            Check the certificate hasn't expired. They are valid for 3 years.
          </p>
          <span class="bold-small">If you’re getting a certificate, upload evidence of a contract with an accredited certification body.</span>
          <p>
            After 4 weeks you must have evidence of an agreed schedule for audit and certification and after 6 months evidence of a completed gap analysis audit. You must have a certified system within 12 months of starting operations at the site.
          </p>
        </div>
      </div>

      {{/if}}

      {{> upload/uploadForm }}
    </div>
  </div>

</main>
