<main id="content" tabindex="-1" role="main">

  {{> common/betaBanner }}

  {{> common/backLink }}

  <div id="upload-file-panel" class="grid-row">
    <div class="column-two-thirds">

      {{> common/errorSummary }}

      {{> common/pageHeading pageHeading }}

      {{#if annotations.length}}

      {{> upload/annotations }}

      {{else}}

      <div id="has-no-annotations" class="form-group">
        <div id="esa-eu-skills-description">
          <span id="esa-eu-skills-description-span-1" class="bold-small">Upload a copy of the Competence Management System certificate.</span>
          <p id="esa-eu-skills-description-paragraph-1">
            Check the certificate has not expired. They are valid for 3 years.
          </p>
          <span id="esa-eu-skills-description-span-2" class="bold-small">If you are getting a certificate, upload evidence of a contract with an accredited certification body.</span>
          <p id="esa-eu-skills-description-paragraph-2">
            After 4 weeks you must have evidence of an agreed schedule for audit and certification and after 6 months evidence of a completed stage 1 audit. You must have a certified system within 12 months of starting operations at the site.
          </p>
        </div>
      </div>

      {{/if}}

      {{> upload/uploadForm }}
    </div>
  </div>

</main>
