<main id="content" role="main">

  {{> common/betaBanner }}

  {{> common/backLink }}

  <div class="grid-row">
    <div class="column-two-thirds">

      {{> common/errorSummary }}

      {{> common/pageHeading pageHeading }}

      {{#if annotations.length}}

      {{> upload/annotations }}

      {{else}}

      <div id="has-no-annotations" class="form-group">
        <div id="wamitab-qualification-description">
          <p id="wamitab-qualification-description-paragraph-1" class="bold-small">Upload copies of the certificates.</p>
          <p id="wamitab-qualification-description-paragraph-2" class="bold-small">If the qualification is over 2 years old, upload copies of the relevant continuing competence certificates as well.</p>
          <p id="wamitab-qualification-description-paragraph-3">
            Check the <a id="wamitab-qualification-operator-competence-link" target="_blank" rel="noopener noreferrer" href="https://wamitab.org.uk/competence/operator-competence/">{{> abbreviations/WAMITAB id="wamitab-qualification-operator-competence-link-abbr"}} risk tables (opens new tab)</a> to make sure you have the correct  qualification for this permit. We’ll use the {{> abbreviations/WAMITAB id="wamitab-qualification-operator-competence-abbr"}} database to check that the qualifications are valid.
          </p>
        </div>
      </div>

      {{/if}}

      {{> upload/uploadForm }}
    </div>
  </div>

</main>
