<main id="content" tabindex="-1" role="main">

  {{> common/betaBanner }}

  {{> common/backLink }}

  <div id="upload-file-panel" class="grid-row">
    <div class="column-two-thirds">

      {{> common/errorSummary }}

      {{> common/pageHeading pageHeading }}

      {{#if annotations.length}}

      {{> upload/annotations }}

      {{else}}

      <div id="has-no-annotations" class="form-group">
        <div id="wamitab-qualification-description">
          <h2 class="heading-small">
            Qualification up to 2 years old
          </h2>
          <p>
            Upload the original {{> abbreviations/WAMITAB id="wamitab-label-abbr"}} certificate or original {{> abbreviations/EPOC id="epoc-label-abbr"}}.
          </p>

          <h2 class="heading-small">
            Qualification over 2 years old
          </h2>
          <p>
            Upload (all of these):
          </p>
          <ul id="required-files" class="list list-bullet">
            <li>the original WAMITAB certificate or original EPOC</li>
            <li>all relevant continuing competence certificates (most recent and valid versions only)</li>
          </ul>

          <p>
            Check the <a id="wamitab-qualification-operator-competence-link" target="_blank" rel="noopener noreferrer" href="https://wamitab.org.uk/competence/operator-competence/">WAMITAB risk tables (opens new tab)</a> to make sure you have the correct qualification for this permit. We will use the WAMITAB database to check that the qualifications are valid.
          </p>
        </div>
      </div>

      {{/if}}

      {{> upload/uploadForm }}
    </div>
  </div>

</main>
