<main id="content" tabindex="-1" role="main">

  {{> common/betaBanner }}

  {{> common/backLink }}

  <div id="upload-file-panel" class="grid-row">
    <div class="column-two-thirds">

      {{> common/errorSummary }}

      {{> common/pageHeading pageHeading }}

      {{#if annotations.length}}

      {{> upload/annotations }}

      {{else}}

        <div id="has-no-annotations" class="form-group">
          <div id="emissions-management-plan-description">
            <p>
              You will need to provide an emissions management plan if your risk assessment shows your operation may produce certain types of emissions.
            </p>
            <p>
              <a href="https://www.gov.uk/guidance/control-and-monitor-emissions-for-your-environmental-permit"
                target="_blank"
                rel="noopener noreferrer">Read the guidance (opens new tab)</a>
              on what to include in your emissions management plan.
            </p>
            <p>
              To help you create a suitable plan, you can ask the Environment Agency to send you a template during your pre-application discussions. 
            </p>
            <p>
              You can also request a template by emailing <a href="mailto:air.quality@environment-agency.gov.uk">air.quality@environment-agency.gov.uk</a>.
            </p>
          </div>
        </div>

      {{/if}}

      {{> upload/uploadForm }}
    </div>
  </div>

</main>
