<main id="content" role="main">

  {{> common/betaBanner }}

  <div class="grid-row">
    <div class="column-two-thirds">

      {{> common/pageHeading pageHeading }}

      <p id="paragraph-1">Now you have sent the application, you can not change it online.</p>
      <p id="paragraph-2">If you need to change something, please email <a id="psc-email" href="mailto:psc@environment-agency.gov.uk">psc@environment-agency.gov.uk</a>. Include your application reference <span id="application-reference">{{applicationRef}}</span>.</p>
      <p id="paragraph-3">We have sent you an email to confirm your application.</p>
      <p id="paragraph-4"><a id="start-new-application-link" href="{{startOpenOrSavedRoute}}">Start a new application</a></p>

    </div>
  </div>
</main>
