<main id="content" tabindex="-1" role="main">

  {{> common/betaBanner }}

  <div class="grid-row">
    <div class="column-two-thirds">

      {{> common/pageHeading pageHeading }}

      <p id="paragraph-1">Now you have sent the application, you cannot change it online.</p>

      <div class="form-group">
        <table class="table-no-heading">
          <caption><p>If you need to change something, please send us an email. Include your application reference <span id="application-reference">{{applicationRef}}</span>.<p></caption>
          <tbody>
          <tr>
            <th>Standard rules application for medium combustion plant and
              specified generators
            </th>
            <td><a id="mcpd-help-email-link" href="mailto:MCPDHELP@environment-agency.gov.uk">MCPDHELP@environment-agency.gov.uk</a></td>
          </tr>
          <tr>
            <th>All other standard rules and bespoke applications</th>
            <td><a id="psc-email-link" href="mailto:psc@environment-agency.gov.uk">psc@environment-agency.gov.uk</a></td>
          </tr>
          </tbody>
        </table>
      </div>

      <p id="paragraph-2">We have sent you an email to confirm your application.</p>
      <p id="paragraph-3"><a id="start-new-application-link" href="{{startOpenOrSavedRoute}}">Start a new application</a></p>

    </div>
  </div>
</main>
