<main id="content" role="main">

  {{> common/betaBanner }}

  <div class="grid-row">
    <div class="column-two-thirds">

      {{> common/pageHeading pageHeading }}

      <p id="paragraph-1">You must switch cookies on before you can continue. We need the cookie to store a secure code to identify your application.</p>
      <p id="paragraph-2">Find out <a id="ico-link" href="https://ico.org.uk/for-the-public/online/cookies/" target="_blank">how to manage cookies</a> on the Information Commissioner's Office website.</p>
      <p id="paragraph-3">See a list of the <a id="cookie-list-link" href="{{cookieInfoLink}}">cookies we use on this website</a>.</p>

    </div>
  </div>
</main>
