
<main id="content" tabindex="-1" role="main">

  {{> common/betaBanner }}

  <div class="grid-row">
    <div class="column-two-thirds">

      {{> common/pageHeading pageHeading }}

      <p id="page-not-found-paragraph">Check that the web address is correct.</p>

      {{#if hasApplication}}
      <p>Go to the <a id="task-list-link" href="{{taskListRoute}}">task list for your application</a></p>
      {{else}}
      <p><a id="apply-link" href="{{startOpenOrSavedRoute}}">Apply for an environmental permit</a></p>
      {{/if}}
    </div>
  </div>
</main>
