<main id="content" role="main">

  {{> common/betaBanner }}

  <div class="grid-row">
    <div class="column-two-thirds">

      {{> common/pageHeading pageHeading }}

      <h2 id='things-to-try-heading' class="heading-medium">Things to try</h2>

      <p id="things-to-try-paragraph">Select the whole link in the email, copy it and and paste it into your web browser.</p>

      <div class="form-group">
        <p id="contact-us">If you still can’t get back to your application please contact us.</p>
        <span id="permiting-and-support-centre">Permitting and Support Centre</span><br>
        <a id="support-email-link" href="mailTo:psc@environment-agency.gov.uk">psc@environment-agency.gov.uk</a><br>
        <span id="support-telephone">Telephone: <a id="support-telephone-link" href="tel:+442030253898">02030 253 898</a></span><br>
        <span id="when-open">Monday to Friday, 8am to 5pm</span>
      </div>

    </div>
  </div>
</main>
