<main id="content" tabindex="-1" role="main">

  {{> common/betaBanner }}

  {{> common/backLink }}

  <div class="grid-row">
    <div class="column-two-thirds">

      {{> common/pageHeading pageHeading }}

      <p id="paragraph-1">Sorry, there has been a technical problem.</p>
      <p id="paragraph-2">You can try going back.</p>
      <p id="paragraph-3">If the problem happens again, you could try waiting for 5 minutes and then go back and reload the page.</p>
      <p id="paragraph-4">You do not need to tell us about this problem because the system will send us a message.</p>

      {{#if error}}
      <div>
        <h1 id="error-summary-heading" class="heading-medium error-summary-heading">Technical Error:</h1>
        <p class="error-message">{{error}}</p>
      </div>
      {{/if}}
    </div>
  </div>
</main>
