<main id="content" role="main">

  {{> common/betaBanner }}

  <div class="grid-row">
    <div class="column-two-thirds">

      {{> common/pageHeading pageHeading }}

      <p id="timeout-message-para-1">
        You had not submitted anything for {{cookieTimeout}} hours so we closed your application to keep your data secure.
      </p>
      <p id="timeout-message-para-2">
        Sorry, you cannot get back to your application so you will have to <a id="start-again-link" href="{{startAgainLink}}">start the application again</a>.
      </p>
    </div>
  </div>
</main>
