<form id="uploadForm" enctype="multipart/form-data" method="POST" action="{{uploadFormAction}}"  novalidate="novalidate">
  {{> common/csrfToken token=DefraCsrfToken}}

  {{#if annotations.length}}
  <div class="form-group {{#getFormErrorGroupClass errors.agent-company}}{{/getFormErrorGroupClass}}">
    <div class="multiple-choice" data-target="upload-file-yes">
      <input id="is-upload-file" name="is-upload-file" type="checkbox" value="on" {{#if formValues.is-upload-file}}checked{{/if}}>
      <label for="is-upload-file">
        Upload another file
      </label>
    </div>
  </div>
  {{else}}
  <input id="is-upload-file" name="is-upload-file" type="hidden" value="on">
  {{/if}}

  <div class="{{#if annotations.length}}panel panel-border-narrow js-hidden{{/if}}" id="upload-file-yes">
    {{#unless fileTypesHidden}}
    <div id="file-types-hint">
      <label class="form-label" for="file">
        <span class="bold-small">Upload files one at a time</span>
        <span class="text form-hint">
          {{#if fileTypes.length}}<div><span id="file-types">{{fileTypes}}</span> files</div>{{/if}}
          {{#if pageFileWarning}}<div><span id="file-warning">{{pageFileWarning}}</span></div>{{/if}}
          <span id="max-size">{{maxSize}}</span> maximum file size
        </span>
      </label>
    </div>
    {{/unless}}
    <div id="uploader" class="form-group form-uploader">
      <div class="{{#getFormErrorGroupClass errors.file}}{{/getFormErrorGroupClass}} {{#getFormErrorGroupClass errors.content-type}}{{/getFormErrorGroupClass}}">
        {{> common/fieldError fieldId='file-error' message=errors.file }}
        <input id="file" name="file" type="file">
        <input id="filename" name="technicalCertificateFile" type="hidden">
        <input name="technicalCertificateFileUploaded" value="{{technicalCertificateFileUploaded}}" type="hidden">
      </div>
    </div>
  </div>
  <div>

    {{#> @partial-block }}{{/@partial-block }}

    {{#> common/submitButton }}{{/ common/submitButton }}

    {{#if browserIsIE}}
    <script type="text/javascript">
      $(document).ready(function() {
        $('#file').on('keypress', function (event) {
          if (event.which === 13) {
            // Enter key is keyCode 13
            event.preventDefault();
            $('#file').click();
          }
        })
      })
    </script>
    {{/if}}
  </div>
</form>