// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: "/public/images/";

// Import GOV.UK elements from /govuk-modules/, this will import the frontend toolkit and some base styles.
// Take a look in /govuk-modules/_govuk-elements.scss to see which files are imported.
@import 'govuk-elements';

// Take a look at in app/assets/sass/patterns/ to see which files are imported.
// @import 'patterns/check-your-answers';
@import 'patterns/buttons';
@import 'patterns/upload-evidence';
@import 'patterns/permit-select';
@import 'patterns/check-your-answers';
@import 'patterns/task-list';

.no-js {
  display: none;
}

// style phone number links on mobile only. Not ea-footer.
@include media(tablet) {
  main a[href^="tel:"] {
    text-decoration: none;
    color: $black;
  }
}

// Add spacing below details (progressive disclosure)
// Check if this is always required. If not, introduce class.
details:not(.form-hint-details) {
  margin-bottom: 30px;
}

// Address-manual. Spacing bewteen postcode and change link.
span.postcode {
  margin-right: 10px;
}

// EA footer links
@include media(mobile) {
  .ea-footer, .ea-footer li  {
    @include core-16;
  }
}
.ea-footer li {
    margin-right: 10px;
}
.ea-footer .inline {
    display: inline;
}

.ordnance-survey-terms-conditions {
  margin-top: 80px;

  .summary {
    font-size: 16px;
  }
}

// Directors DOB definition lists - based on the check your answers CSS
.dates-of-birth {

    margin-bottom: 30px;

    @include media(desktop) {
      display: table;
    }

    > * {
      position: relative;
      border-bottom: 1px solid $border-colour;

      @include media(desktop) {
        display: table-row;
        border-bottom-width: 0;
      }

      > * {
        display: block;

        @include media(desktop) {
          display: table-cell;
          border-bottom: 1px solid $border-colour;
          padding: em(12, 19) em(20, 19) em(9, 19) 0; // copied from Elements' td padding
          margin: 0;
        }
      }

      @include media(desktop) {
        &:first-child > * {
          border-top: 1px solid $border-colour;
        }
      }
    }

    .director-name {
      margin: em(12, 19) 4em em(4,19) 0;
    }

    > *:first-child .director-dob {
      margin-top: 0;
    }

    @include media(desktop) {
      .director-name {
        width: 55%;
      }
    }

    .director-dob {
      padding-bottom: em(9, 19);
    }
  }

  .sr-company-dob {
    width: 3em;
  }

  .sr-dob-month-year{
    margin-left:.25em;
  }

// Form control widths
// ==========================================================================
// Setting the widths of forms based on the minimum number of visible characters to display in the input
// chars  width in ems
// 60     28.5
// 50     26
// 40     20
// 35     18.5
// 25     13.5
// 20     10.5
// 15     8.5
// 10     6
// 5      3.5
// 3      2.5
.form-control-char-auto { // intended for select options that have pre-populated text
  width: 100%;
  @include media(tablet) {
    width: auto;
  }
}
.form-control-char-60 {
  width: 100%;
  @include media(tablet) {
    width: 28.5em;
  }
}
.form-control-char-50 {
  width: 100%;
  @include media(tablet) {
    width: 26em;
  }
}
.form-control-char-40 {
  width: 100%;
  @include media(tablet) {
    width: 20em;
  }
}
.form-control-char-35 {
  width: 100%;
  @include media(tablet) {
    width: 18.5em;
  }
}
.form-control-char-25 {
  width: 100%;
  @include media(tablet) {
    width: 13.5em;
  }
}
.form-control-char-20 {
  width: 100%;
  @include media(tablet) {
    width: 10.5em;
  }
}
.form-control-char-15 {
  width: 100%;
  @include media(tablet) {
    width: 8.5em;
  }
}
.form-control-char-10 {
  width: 100%;
  @include media(tablet) {
    width: 6em;
  }
}
.form-control-char-5 {
  width: 100%;
  @include media(tablet) {
    width: 3.5em;
  }
}
.form-control-char-3 {
  width: 100%;
  @include media(tablet) {
    width: 2.5em;
  }
}
// For textarea 100% width, even on tablet
.form-control-full {
  @include media(tablet) {
    width: 100%;
  }
}

textarea+ .form-hint {
  margin-top: 0.25em;
}
// end Form control widths
